<section class="not-found margin-90">
    <div class="container">
        <div class="not-found-image-wraper">
            <img src="../../assets/image/error.png" width="100%" alt="error">
        </div>
        <div class="not-found-text">
            <h1 class="error-heading">Oops... It looks like you ‘re lost !</h1>
            <p class="error-text">Oops! The page you are looking for does not exist. It might have been moved or deleted.</p>
            <a routerLink="" routerLinkActive="active" class="banner-bt cdk-button"> back to home <span class="home-btn-error"><svg width="19" height="9" viewBox="0 0 19 9" fill="none" xmlns="http://www.w3.org/2000/svg">
                <path d="M12.818 2.81677H0.677799C0.411346 2.81677 0.195312 3.03265 0.195312 3.29891V5.54891C0.195312 5.81517 0.411346 6.03105 0.677799 6.03105H12.818V7.88163C12.818 8.74073 13.8574 9.17096 14.4653 8.5635L17.9255 5.10578C18.3024 4.72919 18.3024 4.11864 17.9255 3.74208L14.4653 0.284361C13.8574 -0.323098 12.818 0.107134 12.818 0.96623V2.81677Z" fill="white"/>
                </svg></span></a>
        </div>
    </div>
</section>