<section class="banner-section">
    <div class="banner-wrapper">
        <div class="text-image-wrapper flex-row align-items-center space-between">
            <div class="text-wrapper">
                <div class="text-all">
                    <div class="banner-text w-100">
                        <p class="text">
                            Delivering success in every solution!
                        </p>
                    </div>
                    <div class="banner-heading w-100">
                        <h1 class="heading">
                            Shopify Web Desiging Sevice
                        </h1>
                    </div>
                    <div class="banner-text-last">
                        <p class="text-last">We help our customers build captivating user experiences that have a huge impact on conversion rates and brand perception. We create designs that showcase the beauty of your vision.</p>
                    </div>
                    <a routerLink="/contact" routerLinkActive="active" class="black-button-two">
                        <span></span>
                        <span></span>
                        <span></span>
                        <span></span> Contact Us</a>
                </div>
            </div>
            <div class="image-wrapper w-100">
                <img src="assets/image/shopify-banner-p.png" width="100%" alt="web">
            </div>
        </div>
    </div>
</section>
<section class="works-wrap background-p w-100">
    <ngx-slick-carousel class="cs-slider works-wrapper flex-row align-items-center" #slickModal="slick-carousel" [config]="slideConfig">
        <div class="brand-item p-t-b" ngxSlickItem>
            <img src="../../assets/image/app dev/i0nic.png" class="w-100 figma" alt="shopify">
        </div>
        <div class="brand-item p-t-b" ngxSlickItem>
            <img src="../../assets/image/app dev/react.png" class="w-100" alt="shopify">
        </div>
        <div class="brand-item p-t-b" ngxSlickItem>
            <img src="../../assets/image/app dev/phonegap.png" class="w-100" alt="shopify">
        </div>
        <div class="brand-item p-t-b" ngxSlickItem>
            <img src="../../assets/image/app dev/monaca.png" class="w-100" alt="shopify">
        </div>
        <div class="brand-item p-t-b" ngxSlickItem>
            <img src="../../assets/image/app dev/i0nic.png" class="w-100 figma" alt="shopify">
        </div>
        <div class="brand-item p-t-b" ngxSlickItem>
            <img src="../../assets/image/app dev/react.png" class="w-100" alt="shopify">
        </div>
        <div class="brand-item p-t-b" ngxSlickItem>
            <img src="../../assets/image/app dev/phonegap.png" class="w-100" alt="shopify">
        </div>
        <div class="brand-item p-t-b" ngxSlickItem>
            <img src="../../assets/image/app dev/monaca.png" class="w-100" alt="shopify">
        </div>
    </ngx-slick-carousel>
</section>
<section class="text-w-image margin-90">
    <div class="container">
        <div class="text-or-img-wrapper w-100 flex-row align-items-center space-between">
            <div class="text-wrapper">
                <h2 class="red-black-heading">Experts in <span>Shopify</span></h2>
                <p class="text">Our expert team of web developers have worked with hundreds of Shopify stores providing complete solutions for all types of businesses. We specialize in creating attractive, dynamic websites that are optimized for SEO, security and performance.
                </p>
            </div>
            <div class="image-wrapper-right">
                <img src="/assets/image/Rectangle-s-1.png" width="100%" alt="image">
            </div>
        </div>
    </div>
</section>
<section class="text-w-image">
    <div class="container">
        <div class="text-or-img-wrapper text-or-img-wrapper-2 w-100 flex-row align-items-center space-between">
            <div class="image-wrapper-right">
                <img src="/assets/image/Rectangle-s-2.png" width="100%" alt="image">
            </div>
            <div class="text-wrapper second">
                <h2 class="red-black-heading">Customized <span>Solutions</span></h2>
                <p class="text">Our custom solutions are tailored to meet the needs of each individual business. We work closely with our clients to ensure the final product is exactly what they envisioned. Our solutions range from basic setup to complex integrations
                    and customizations. </p>
            </div>
        </div>
    </div>
</section>
<section class="text-w-image margin-90">
    <div class="container">
        <div class="text-or-img-wrapper w-100 flex-row align-items-center space-between">
            <div class="text-wrapper">
                <h2 class="red-black-heading">Unparalleled <span>Support</span></h2>
                <p class="text">We provide superior customer service and support throughout the entire process and beyond. Our team is available around the clock to answer any questions or concerns you may have about your website or its development process</p>
            </div>
            <div class="image-wrapper-right">
                <img src="/assets/image/Rectangle-s-3.png" width="100%" alt="image">
            </div>
        </div>
    </div>
</section>
<section class="enquery margin-90-b">
    <div class="container">
        <div class="enquery-wrapper flex-row space-between w-100">
            <div class="text-section-wrap">
                <h2 class="enquery-heading"><span>Shopify </span>Services We offer:</h2>
                <ul class="enquery-list">
                    <li class="list p-relative">Theme Development and Customization</li>
                    <li class="list p-relative">App Development and Integration</li>
                    <li class="list p-relative">Store Migration</li>
                    <li class="list p-relative">Shopify SEO Optimization</li>
                    <li class="list p-relative">Conversion Rate Optimization (CRO)</li>
                    <li class="list p-relative">Shopify App Setup and Configuration</li>
                    <li class="list p-relative">Payment Gateway Integration</li>
                </ul>
            </div>
            <div class="form-wrapper">
                <h3 class="form-heading">Quick Enquiry</h3>
                <form action="" method="get">
                    <label for="" class="flex-row align-items-center space-between">
                        <input type="text" name="firstname" id="fname" placeholder="First Name" required>
                        <input type="text" name="lasttname" id="lname" placeholder="Last name" required>
                    </label>
                    <label for="" class="flex-row align-items-center space-between">
                        <input type="text" name="mobile" id="phone" maxlength="13" placeholder="Phone Number" required>
                        <input type="mail" name="email" id="mail" placeholder="Email" required>
                    </label>
                    <input type="text" name="message" id="Message" class="massage" placeholder="Massage">
                    <button type="submit" value="Submit" class="cdk-button explore-btn">Send</button>
                </form>
            </div>
        </div>
    </div>
</section>
<section class="word-cards">
    <div class="container">
        <div class="cards-wrapper-all flex-row align-items-center space-between">
            <div class="s-card">
                <h2 class="s-card-txt">
                    <span class="text-red">100+</span> Shopify Development Projects Completed
                </h2>
                <a routerLink="/our-work" routerLinkActive="active">Browse Our Portfolio <span><img src="assets/image/right-arrow.png" alt="arrow"></span></a>
            </div>
            <div class="e-card">
                <img src="assets/image/Rectangle102-1.png" width="100%" alt="asdf">
                <h3 class="e-card-txt">Why AResourcepool</h3>
                <div class="under-line"></div>
                <p class="p-text">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Ut vestibulum ipsum at metus hendrerit dapibus. In egestas molestie at metus hendrerit dapibus. In egestas molestie </p>
            </div>
            <div class="e-card">
                <img src="assets/image/Rectangle102-2.png" width="100%" alt="asdf">
                <h3 class="e-card-txt">Why AResourcepool</h3>
                <div class="under-line"></div>
                <p class="p-text">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Ut vestibulum ipsum at metus hendrerit dapibus. In egestas molestie at metus hendrerit dapibus. In egestas molestie </p>
            </div>
        </div>
    </div>
</section>
<section class="shopify-dev-section margin-90-t">
    <div class="container">
        <div class="shopify-dev-wrap w-100 flex-row align-items-center ">
            <div class="first-dev-wrap">
                <h2 class="shopify-head-txt">
                    The Future of <span class="text-red">Shopify</span> Based Website Design & Development
                </h2>
                <p class="shopify-text ">Codesdesk Technology offers a revolutionary approach to Shopify website design and development. Our cutting-edge technologies, advanced templates, and unique customization tools make website creation faster, simpler and more affordable.</p>
                <a routerLink="/contact" routerLinkActive="active" class="cdk-button explore-btn">Contact us</a>
            </div>
            <div class="shopify-list-wrap">
                <div class="text-section-wrap">
                    <h2 class="enquery-heading">Our Proposition</h2>
                    <ul class="enquery-list">
                        <li class="list p-relative">End-to-end Shopify Customization</li>
                        <li class="list p-relative">Expert Team of Shopify Professional</li>
                        <li class="list p-relative">Flexible Engagement Models</li>
                        <li class="list p-relative">High-Quality Coding Standards </li>
                        <li class="list p-relative">Quality Processes followed</li>
                        <li class="list p-relative">Consulting & Guidance</li>
                        <li class="list p-relative">Cost-effective</li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</section>
<section class="slider-section margin-126-b">
    <div class="container">
        <div class="slider-head-wrapper w-100 p-relative">
            <h2 class="back-txt">TESTIMONIAL</h2>
            <div class="title flex-row align-items-center p-absolute">
                <svg class="svg-rotate" version="1.2" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 33 21" width="33" height="21">
                    <title>image</title>
                    <defs>
                        <linearGradient id="g1" x1="-0.1" y1="2.4" x2="29.3" y2="2.4" gradientUnits="userSpaceOnUse">
                            <stop offset="0" stop-color="#F6540E"/>
                            <stop offset="1" stop-color="#F6540E"/>
                        </linearGradient>
                        <linearGradient id="g2" x1="-10" y1="14.6" x2="19.6" y2="14.6" gradientUnits="userSpaceOnUse">
                            <stop offset="0" stop-color="#F6540E"/>
                            <stop offset="1" stop-color="#F6540E"/>
                        </linearGradient>
                    </defs>
                    <style>
                        .s0 { fill: none;stroke: url(#g1);stroke-width: 3 }
                        .s1 { fill: none } 
                        .s2 { fill: none;stroke: url(#g2);stroke-width: 3 } 
                    </style>
                    <g id="Layer">
                        <path id="right-h-pathct_heading-4e282861" fill-rule="evenodd" class="s0" d="m-0.1 8.9h27.1c0 0 5.1-3.1 0-6.5"/>
                        <g id="Layer">
                            <path id="right-h-bgct_heading-4e282861" fill-rule="evenodd" class="s1" d="m-10 14.6h27.4c0 0 5.1 3 0 6.4"/>
                        </g>
                        <path id="right-h-bgct_heading-4e282861" fill-rule="evenodd" class="s2" d="m-10 14.6h27.4c0 0 5.1 3 0 6.4"/>
                    </g>
                </svg>
                <p class="our-title desktop">
                    Our Client’s Testimonials
                </p>
                <p class="our-title mobile">
                    Our Testimonials
                </p>
                <svg version="1.2" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 33 21" width="33" height="21">
                    <title>image</title>
                    <defs>
                        <linearGradient id="g1" x1="-0.1" y1="2.4" x2="29.3" y2="2.4" gradientUnits="userSpaceOnUse">
                            <stop offset="0" stop-color="#F6540E"/>
                            <stop offset="1" stop-color="#F6540E"/>
                        </linearGradient>
                        <linearGradient id="g2" x1="-10" y1="14.6" x2="19.6" y2="14.6" gradientUnits="userSpaceOnUse">
                            <stop offset="0" stop-color="#F6540E"/>
                            <stop offset="1" stop-color="#F6540E"/>
                        </linearGradient>
                    </defs>
                    <style>
                        .s0 { fill: none;stroke: url(#g1);stroke-width: 3 }
                        .s1 { fill: none } 
                        .s2 { fill: none;stroke: url(#g2);stroke-width: 3 } 
                    </style>
                    <g id="Layer">
                        <path id="right-h-pathct_heading-4e282861" fill-rule="evenodd" class="s0" d="m-0.1 8.9h27.1c0 0 5.1-3.1 0-6.5"/>
                        <g id="Layer">
                            <path id="right-h-bgct_heading-4e282861" fill-rule="evenodd" class="s1" d="m-10 14.6h27.4c0 0 5.1 3 0 6.4"/>
                        </g>
                        <path id="right-h-bgct_heading-4e282861" fill-rule="evenodd" class="s2" d="m-10 14.6h27.4c0 0 5.1 3 0 6.4"/>
                    </g>
                </svg>
            </div>

        </div>
        <div class="next-prev-btn flex-row">

        </div>
        <div class="slider-wrap">
            <ngx-slick-carousel class="cs-slider" #slickModal="slick-carousel" [config]="slidelastConfig">
                <div class="card-slide grid__items one-third" ngxSlickItem>
                    <div class="card-head-slide flex-row align-items-center" cursor-swipe>
                        <div class="image-slide">
                            <img class="w-100" src="assets/image/Ellipse4.png" alt="asdf">
                        </div>
                        <div class="text-head-slide">
                            <h2 class="heading-slide-card">Veronica Johnson</h2>
                            <p class="text-red">Web Designer</p>
                        </div>
                    </div>
                    <p class="txt-b-slide">
                        There are many variations of passages of Lorem Ipsum available, but the majority have suffered alteration in some form, by injected humour.
                    </p>
                </div>
                <div class="card-slide grid__items one-third" ngxSlickItem>
                    <div class="card-head-slide flex-row align-items-center" cursor-swipe>
                        <div class="image-slide">
                            <img class="w-100" src="assets/image/Ellipse3.png" alt="asdf">
                        </div>
                        <div class="text-head-slide">
                            <h2 class="heading-slide-card">Veronica Johnson</h2>
                            <p class="text-red">Web Designer</p>
                        </div>
                    </div>
                    <p class="txt-b-slide">
                        There are many variations of passages of Lorem Ipsum available, but the majority have suffered alteration in some form, by injected humour.
                    </p>
                </div>
                <div class="card-slide grid__items one-third" ngxSlickItem>
                    <div class="card-head-slide flex-row align-items-center" cursor-swipe>
                        <div class="image-slide">
                            <img class="w-100" src="assets/image/Ellipse1.png" alt="asdf">
                        </div>
                        <div class="text-head-slide">
                            <h2 class="heading-slide-card">Veronica Johnson</h2>
                            <p class="text-red">Web Designer</p>
                        </div>
                    </div>
                    <p class="txt-b-slide">
                        There are many variations of passages of Lorem Ipsum available, but the majority have suffered alteration in some form, by injected humour.
                    </p>
                </div>
                <div class="card-slide grid__items one-third" ngxSlickItem>
                    <div class="card-head-slide flex-row align-items-center" cursor-swipe>
                        <div class="image-slide">
                            <img class="w-100" src="assets/image/Ellipse1.png" alt="asdf">
                        </div>
                        <div class="text-head-slide">
                            <h2 class="heading-slide-card">Veronica Johnson</h2>
                            <p class="text-red">Web Designer</p>
                        </div>
                    </div>
                    <p class="txt-b-slide">
                        There are many variations of passages of Lorem Ipsum available, but the majority have suffered alteration in some form, by injected humour.
                    </p>
                </div>
                <div class="card-slide grid__items one-third" ngxSlickItem>
                    <div class="card-head-slide flex-row align-items-center" cursor-swipe>
                        <div class="image-slide">
                            <img class="w-100" src="assets/image/Ellipse1.png" alt="asdf">
                        </div>
                        <div class="text-head-slide">
                            <h2 class="heading-slide-card">Veronica Johnson</h2>
                            <p class="text-red">Web Designer</p>
                        </div>
                    </div>
                    <p class="txt-b-slide">
                        There are many variations of passages of Lorem Ipsum available, but the majority have suffered alteration in some form, by injected humour.
                    </p>
                </div>
                <div class="card-slide grid__items one-third" ngxSlickItem>
                    <div class="card-head-slide flex-row align-items-center" cursor-swipe>
                        <div class="image-slide">
                            <img class="w-100" src="assets/image/Ellipse1.png" alt="asdf">
                        </div>
                        <div class="text-head-slide">
                            <h2 class="heading-slide-card">Veronica Johnson</h2>
                            <p class="text-red">Web Designer</p>
                        </div>
                    </div>
                    <p class="txt-b-slide">
                        There are many variations of passages of Lorem Ipsum available, but the majority have suffered alteration in some form, by injected humour.
                    </p>
                </div>
            </ngx-slick-carousel>
        </div>
    </div>
</section>