<section class="about-banner">
    <div class="about-bg">
        <div class="container">
            <div class="about-text">
                <h1 class="banner-heading">Our Work</h1>
                <h2 class="banner-subheading">Codesdesk Technology Private Limited</h2>
                <p class="banner-text">Codesdesk is Growing E-Commerce Agency based in India serving global clients since 7+ years. We employ in-house team of professionals working round the clock to deliver quality Web based services.</p>
                <div class="banner-buttons">
                    <!-- <a href="tel: +91-00000-00000" class="banner-bt black">Call Now</a> -->
                    <a href="tel: +91-00000-00000" class="black-button-two">
                        <span></span>
                        <span></span>
                        <span></span>
                        <span></span> Call Now</a>
                    <!-- <a class="banner-bt white">Get started</a> -->
                    <a routerLink="/contact" routerLinkActive="active" class="white-button-two">
                        <span></span>
                        <span></span>
                        <span></span>
                        <span></span> Get started</a>
                </div>
            </div>
        </div>
    </div>
</section>
<section class="portfolio-section margin-90">
    <div class="container">
        <div class="port-txt-wrapper flex-row align-items-center">
            <div class="port-heading">
                <div class="our-p flex-row align-items-center">
                    <p class="title">
                        Our Portfolio
                    </p>
                    <svg version="1.2" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 33 21" width="33" height="21">
                        <title>image</title>
                        <defs>
                            <linearGradient id="g1" x1="-0.1" y1="2.4" x2="29.3" y2="2.4" gradientUnits="userSpaceOnUse">
                                <stop offset="0" stop-color="#F6540E"/>
                                <stop offset="1" stop-color="#F6540E"/>
                            </linearGradient>
                            <linearGradient id="g2" x1="-10" y1="14.6" x2="19.6" y2="14.6" gradientUnits="userSpaceOnUse">
                                <stop offset="0" stop-color="#F6540E"/>
                                <stop offset="1" stop-color="#F6540E"/>
                            </linearGradient>
                        </defs>
                        <style>
                            .s0 { fill: none;stroke: url(#g1);stroke-width: 3 }
                            .s1 { fill: none } 
                            .s2 { fill: none;stroke: url(#g2);stroke-width: 3 } 
                        </style>
                        <g id="Layer">
                            <path id="right-h-pathct_heading-4e282861" fill-rule="evenodd" class="s0" d="m-0.1 8.9h27.1c0 0 5.1-3.1 0-6.5"/>
                            <g id="Layer">
                                <path id="right-h-bgct_heading-4e282861" fill-rule="evenodd" class="s1" d="m-10 14.6h27.4c0 0 5.1 3 0 6.4"/>
                            </g>
                            <path id="right-h-bgct_heading-4e282861" fill-rule="evenodd" class="s2" d="m-10 14.6h27.4c0 0 5.1 3 0 6.4"/>
                        </g>
                    </svg>
                </div>
                <div class="port-head w-100">
                    <h2 class="heading">
                        What we've been really goingafter...
                    </h2>
                </div>
            </div>
            <div class="port-text w-100">
                <p class="text">
                    We shows only the best websites and portfolios built completely with passion, simplicity & creativity. Our team have designed game changing products, consulted for companies as well.
                </p>
            </div>
        </div>
        <div class="port-menu w-100">
            <ul class="nav flex-row align-items-center">
                <li class="nav-item p-relative tab-switcher" data-tab-index="9" tabindex="9">
                    <a class="nav-link tablinks active">All</a>
                </li>
                <li class="nav-item p-relative tab-switcher" data-tab-index="10" tabindex="10">
                    <a class="nav-link tablinks">Web Designing</a>
                </li>
                <li class="nav-item p-relative tab-switcher" data-tab-index="11" tabindex="11">
                    <a class="nav-link tablinks">Web Development</a>
                </li>
                <li class="nav-item p-relative tab-switcher" data-tab-index="12" tabindex="12">
                    <a class="nav-link tablinks">E-Commerce</a>
                </li>
            </ul>
        </div>
        <div id="allTabsContainer">
            <div class="port-images wrap flex-row align-items-center flex-start tab-container" data-tab-index="9" style="display: flex;">
                <a routerLink="/luxandnyx" routerLinkActive="active" class="port-img-card p-relative">
                    <img class="w-100" src="assets/image/lux-nyx2.png" alt="port">
                    <div class="hover-btn-p p-absolute">
                        <a class="pic-h-btn" routerLink="/portfolio-second" routerLinkActive="active">+</a>
                    </div>
                </a>
                <a routerLink="/portfolio" routerLinkActive="active" class="port-img-card p-relative">
                    <img class="w-100" src="assets/image/lux-nyx.png" alt="port">
                    <div class="hover-btn-p p-absolute">
                        <a routerLink="/portfolio" routerLinkActive="active" class="pic-h-btn" href="#">+</a>
                    </div>
                </a>
                <a routerLink="/dreamers" routerLinkActive="active" class="port-img-card p-relative">
                    <img class="w-100" src="assets/image/lux-nyx3.png" alt="port">
                    <div class="hover-btn-p p-absolute">
                        <a class="pic-h-btn" href="#">+</a>
                    </div>
                </a>
                <a routerLink="/hush" routerLinkActive="active" class="port-img-card p-relative">
                    <img class="w-100" src="assets/image/lux-nyx4.png" alt="port">
                    <div class="hover-btn-p p-absolute">
                        <a class="pic-h-btn" href="#">+</a>
                    </div>
                </a>
                <a routerLink="/card-game" routerLinkActive="active" class="port-img-card p-relative">
                    <img class="w-100" src="assets/image/lux-nyx5.png" alt="port">
                    <div class="hover-btn-p p-absolute">
                        <a class="pic-h-btn" href="#">+</a>
                    </div>
                </a>
                <a routerLink="/gripps-global" routerLinkActive="active" class="port-img-card p-relative">
                    <img class="w-100" src="assets/image/lux-nyx6.png" alt="port">
                    <div class="hover-btn-p p-absolute">
                        <a class="pic-h-btn" href="#">+</a>
                    </div>
                </a>
                <a routerLink="/bandana" routerLinkActive="active" class="port-img-card p-relative">
                    <img class="w-100" src="assets/image/lux-nyx7.png" alt="port">
                    <div class="hover-btn-p p-absolute">
                        <a class="pic-h-btn" href="#">+</a>
                    </div>
                </a>
                <a routerLink="/ace-store" routerLinkActive="active" class="port-img-card p-relative">
                    <img class="w-100" src="assets/image/lux-nyx8.png" alt="port">
                    <div class="hover-btn-p p-absolute">
                        <a class="pic-h-btn" href="#">+</a>
                    </div>
                </a>
                <a routerLink="/anansi-palace" routerLinkActive="active" class="port-img-card p-relative">
                    <img class="w-100" src="assets/image/lux-nyx9.png" alt="port">
                    <div class="hover-btn-p p-absolute">
                        <a class="pic-h-btn" href="#">+</a>
                    </div>
                </a>
                <a routerLink="/earthand" routerLinkActive="active" class="port-img-card p-relative">
                    <img class="w-100" src="assets/image/lux-nyx10.png" alt="port">
                    <div class="hover-btn-p p-absolute">
                        <a class="pic-h-btn" href="#">+</a>
                    </div>
                </a>
                <a routerLink="/paris-select" routerLinkActive="active" class="port-img-card p-relative">
                    <img class="w-100" src="assets/image/lux-nyx11.png" alt="port">
                    <div class="hover-btn-p p-absolute">
                        <a class="pic-h-btn" href="#">+</a>
                    </div>
                </a>
                <a routerLink="/egyptian" routerLinkActive="active" class="port-img-card p-relative">
                    <img class="w-100" src="assets/image/lux-nyx1-1.png" alt="port">
                    <div class="hover-btn-p p-absolute">
                        <a class="pic-h-btn" href="#">+</a>
                    </div>
                </a>
                <a routerLink="/hoodie-collab" routerLinkActive="active" class="port-img-card p-relative">
                    <img class="w-100" src="assets/image/lux-nyx2-2.png" alt="port">
                    <div class="hover-btn-p p-absolute">
                        <a class="pic-h-btn" href="#">+</a>
                    </div>
                </a>
                <a routerLink="/the-vegan-milk" routerLinkActive="active" class="port-img-card p-relative">
                    <img class="w-100" src="assets/image/lux-nyx3-3.png" alt="port">
                    <div class="hover-btn-p p-absolute">
                        <a class="pic-h-btn" href="#">+</a>
                    </div>
                </a>
                <a routerLink="/cimvole" routerLinkActive="active" class="port-img-card p-relative">
                    <img class="w-100" src="assets/image/lux-nyx4-4.png" alt="port">
                    <div class="hover-btn-p p-absolute">
                        <a class="pic-h-btn" href="#">+</a>
                    </div>
                </a>
                <a routerLink="/circly" routerLinkActive="active" class="port-img-card p-relative">
                    <img class="w-100" src="assets/image/lux-nyx5-5.png" alt="port">
                    <div class="hover-btn-p p-absolute">
                        <a class="pic-h-btn" href="#">+</a>
                    </div>
                </a>
                <a routerLink="/barkroad" routerLinkActive="active" class="port-img-card p-relative">
                    <img class="w-100" src="assets/image/lux-nyx6-6.png" alt="port">
                    <div class="hover-btn-p p-absolute">
                        <a class="pic-h-btn" href="#">+</a>
                    </div>
                </a>
                <a routerLink="/tanoar-jewelry" routerLinkActive="active" class="port-img-card p-relative">
                    <img class="w-100" src="../../assets/image/tanoar.png" alt="port">
                    <div class="hover-btn-p p-absolute">
                        <a class="pic-h-btn" href="#">+</a>
                    </div>
                </a>
                <a routerLink="/shop-mersi" routerLinkActive="active" class="port-img-card p-relative">
                    <img class="w-100" src="../../assets/image/shopmersib.png" alt="port">
                    <div class="hover-btn-p p-absolute">
                        <a class="pic-h-btn" href="#">+</a>
                    </div>
                </a>
            </div>
            <div class="port-images wrap flex-row align-items-center space-between tab-container" data-tab-index="10" style="display:none;">
                <a routerLink="/egyptian" routerLinkActive="active" class="port-img-card p-relative">
                    <img class="w-100" src="assets/image/lux-nyx1-1.png" alt="port">
                    <div class="hover-btn-p p-absolute">
                        <a class="pic-h-btn" href="#">+</a>
                    </div>
                </a>
                <a routerLink="/hoodie-collab" routerLinkActive="active" class="port-img-card p-relative">
                    <img class="w-100" src="assets/image/lux-nyx2-2.png" alt="port">
                    <div class="hover-btn-p p-absolute">
                        <a class="pic-h-btn" href="#">+</a>
                    </div>
                </a>
                <a routerLink="/the-vegan-milk" routerLinkActive="active" class="port-img-card p-relative">
                    <img class="w-100" src="assets/image/lux-nyx3-3.png" alt="port">
                    <div class="hover-btn-p p-absolute">
                        <a class="pic-h-btn" href="#">+</a>
                    </div>
                </a>
                <a routerLink="/cimvole" routerLinkActive="active" class="port-img-card p-relative">
                    <img class="w-100" src="assets/image/lux-nyx4-4.png" alt="port">
                    <div class="hover-btn-p p-absolute">
                        <a class="pic-h-btn" href="#">+</a>
                    </div>
                </a>
                <a routerLink="/circly" routerLinkActive="active" class="port-img-card p-relative">
                    <img class="w-100" src="assets/image/lux-nyx5-5.png" alt="port">
                    <div class="hover-btn-p p-absolute">
                        <a class="pic-h-btn" href="#">+</a>
                    </div>
                </a>
                <a routerLink="/barkroad" routerLinkActive="active" class="port-img-card p-relative">
                    <img class="w-100" src="assets/image/lux-nyx6-6.png" alt="port">
                    <div class="hover-btn-p p-absolute">
                        <a class="pic-h-btn" href="#">+</a>
                    </div>
                </a>
            </div>
            <div class="port-images wrap flex-row align-items-center space-between tab-container" data-tab-index="11" style="display:none;">
                <a routerLink="/luxandnyx" routerLinkActive="active" class="port-img-card p-relative">
                    <img class="w-100" src="assets/image/lux-nyx2.png" alt="port">
                    <div class="hover-btn-p p-absolute">
                        <a class="pic-h-btn" routerLink="/portfolio-second" routerLinkActive="active">+</a>
                    </div>
                </a>
                <a routerLink="/portfolio" routerLinkActive="active" class="port-img-card p-relative">
                    <img class="w-100" src="assets/image/lux-nyx.png" alt="port">
                    <div class="hover-btn-p p-absolute">
                        <a routerLink="/portfolio" routerLinkActive="active" class="pic-h-btn" href="#">+</a>
                    </div>
                </a>
                <a routerLink="/dreamers" routerLinkActive="active" class="port-img-card p-relative">
                    <img class="w-100" src="assets/image/lux-nyx3.png" alt="port">
                    <div class="hover-btn-p p-absolute">
                        <a class="pic-h-btn" href="#">+</a>
                    </div>
                </a>
                <a routerLink="/hush" routerLinkActive="active" class="port-img-card p-relative">
                    <img class="w-100" src="assets/image/lux-nyx4.png" alt="port">
                    <div class="hover-btn-p p-absolute">
                        <a class="pic-h-btn" href="#">+</a>
                    </div>
                </a>
                <a routerLink="/mersi-dist" routerLinkActive="active" class="port-img-card p-relative">
                    <img class="w-100" src="assets/image/lux-nyx4-1.png" alt="port">
                    <div class="hover-btn-p p-absolute">
                        <a class="pic-h-btn" href="#">+</a>
                    </div>
                </a>
                <a routerLink="/card-game" routerLinkActive="active" class="port-img-card p-relative">
                    <img class="w-100" src="assets/image/lux-nyx5.png" alt="port">
                    <div class="hover-btn-p p-absolute">
                        <a class="pic-h-btn" href="#">+</a>
                    </div>
                </a>

            </div>
            <div class="port-images wrap flex-row align-items-center space-between tab-container" data-tab-index="12" style="display:none;">
                <a routerLink="/egyptian" routerLinkActive="active" class="port-img-card p-relative">
                    <img class="w-100" src="assets/image/lux-nyx1-1.png" alt="port">
                    <div class="hover-btn-p p-absolute">
                        <a class="pic-h-btn" href="#">+</a>
                    </div>
                </a>
                <a routerLink="/hoodie-collab" routerLinkActive="active" class="port-img-card p-relative">
                    <img class="w-100" src="assets/image/lux-nyx2-2.png" alt="port">
                    <div class="hover-btn-p p-absolute">
                        <a class="pic-h-btn" href="#">+</a>
                    </div>
                </a>
                <a routerLink="/the-vegan-milk" routerLinkActive="active" class="port-img-card p-relative">
                    <img class="w-100" src="assets/image/lux-nyx3-3.png" alt="port">
                    <div class="hover-btn-p p-absolute">
                        <a class="pic-h-btn" href="#">+</a>
                    </div>
                </a>
                <a routerLink="/cimvole" routerLinkActive="active" class="port-img-card p-relative">
                    <img class="w-100" src="assets/image/lux-nyx4-4.png" alt="port">
                    <div class="hover-btn-p p-absolute">
                        <a class="pic-h-btn" href="#">+</a>
                    </div>
                </a>
                <a routerLink="/circly" routerLinkActive="active" class="port-img-card p-relative">
                    <img class="w-100" src="assets/image/lux-nyx5-5.png" alt="port">
                    <div class="hover-btn-p p-absolute">
                        <a class="pic-h-btn" href="#">+</a>
                    </div>
                </a>
                <a routerLink="/barkroad" routerLinkActive="active" class="port-img-card p-relative">
                    <img class="w-100" src="assets/image/lux-nyx6-6.png" alt="port">
                    <div class="hover-btn-p p-absolute">
                        <a class="pic-h-btn" href="#">+</a>
                    </div>
                </a>
            </div>
        </div>
    </div>
</section>