<section class="about-banner">
    <div class="about-bg">
        <div class="container">
            <div class="about-text">
                <h1 class="banner-heading">About Us</h1>
                <h2 class="banner-subheading">Codesdesk Technology Private Limited</h2>
                <p class="banner-text">Codesdesk is Growing E-Commerce Agency based in India serving global clients since 7+ years. We employ in-house team of professionals working round the clock to deliver quality Web based services.</p>
                <div class="banner-buttons">
                    <a href="tel:+91-99880-74677" class="black-button-two">
                        <span></span>
                        <span></span>
                        <span></span>
                        <span></span> Call Now</a>
                    <a routerLink="/contact" routerLinkActive="active" class="white-button-two">
                        <span></span>
                        <span></span>
                        <span></span>
                        <span></span> Get started</a>
                </div>
            </div>
        </div>
    </div>
</section>

<section class="image-with-text image-with-text-1 margin-90">
    <div class="container">
        <div class="image-with-text-wrapper flex col-2 align-center text-left">
            <div class="text-tab flex-item">
                <p class="sub-text">Our Mission <span><svg version="1.2" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 33 21" width="33" height="21">
                    <title>image</title>
                    <defs>
                        <linearGradient id="g1" x1="-0.1" y1="2.4" x2="29.3" y2="2.4" gradientUnits="userSpaceOnUse">
                            <stop offset="0" stop-color="#F6540E"/>
                            <stop offset="1" stop-color="#F6540E"/>
                        </linearGradient>
                        <linearGradient id="g2" x1="-10" y1="14.6" x2="19.6" y2="14.6" gradientUnits="userSpaceOnUse">
                            <stop offset="0" stop-color="#F6540E"/>
                            <stop offset="1" stop-color="#F6540E"/>
                        </linearGradient>
                    </defs>
                    <style>
                        .s0 { fill: none;stroke: url(#g1);stroke-width: 3 }
                        .s1 { fill: none } 
                        .s2 { fill: none;stroke: url(#g2);stroke-width: 3 } 
                    </style>
                    <g id="Layer">
                        <path id="right-h-pathct_heading-4e282861" fill-rule="evenodd" class="s0" d="m-0.1 8.9h27.1c0 0 5.1-3.1 0-6.5"/>
                        <g id="Layer">
                            <path id="right-h-bgct_heading-4e282861" fill-rule="evenodd" class="s1" d="m-10 14.6h27.4c0 0 5.1 3 0 6.4"/>
                        </g>
                        <path id="right-h-bgct_heading-4e282861" fill-rule="evenodd" class="s2" d="m-10 14.6h27.4c0 0 5.1 3 0 6.4"/>
                    </g>
                </svg></span></p>
                <h2 class="heading">Unlock Your <span>Ecommerce</span> Potential</h2>
                <!-- <p class="text"> At Codesdesk Technology, we believe in the power of effective web design and development to transform your online business. Our mission is to provide you with the tools and expertise needed to succeed in the ever-growing ecommerce industry. <br>
                    Designs that Make an Impact <br> With our team of skilled designers, we create stunning, user-friendly websites that not only capture your brand's essence but also drive conversions. Our Shopify-based designs are optimized for a seamless
                    shopping experience. <br> Development Made Easy <br> We understand that your time is valuable. That's why we offer hassle-free development services tailored to your specific needs. Our experienced developers will bring your vision to life, ensuring
                    a smooth and efficient process from start to finish. <br> Growth-Oriented Solutions <br> We don't just stop at design and development. Our team is dedicated to helping you achieve sustainable growth. We provide strategic recommendations and
                    implement advanced features that optimize your ecommerce store's performance. <br> Unleash Your Ecommerce Potential Today <br> Ready to take your online business to new heights? Partner with Codesdesk Technology and let us empower you with our
                    Shopify-based website design and development expertise. Contact us now to get started!</p> -->
                <p class="text"> At Codesdesk Technology, we believe in the power of effective web design and development to transform your online business. Our mission is to provide you with the tools and expertise needed to succeed in the ever-growing ecommerce industry.</p>

                <h5 class="text">Designs that Make an Impact:</h5>
                <p class="text">With our team of skilled designers, we create stunning, user-friendly websites that not only capture your brand's essence but also drive conversions. Our Shopify-based designs are optimized for a seamless shopping experience.</p>
                <h5 class="text">Development Made Easy:</h5>
                <p class="text">We understand that your time is valuable. That's why we offer hassle-free development services tailored to your specific needs. Our experienced developers will bring your vision to life, ensuring a smooth and efficient process from start
                    to finish.</p>
                <!-- <h5 class="text">Growth-Oriented Solutions</h5>
                <p class="text">We don't just stop at design and development. Our team is dedicated to helping you achieve sustainable growth. We provide strategic recommendations and implement advanced features that optimize your ecommerce store's performance.</p>
                <h5 class="text">Unleash Your Ecommerce Potential Today</h5>
                <p class="text">Ready to take your online business to new heights? Partner with Codesdesk Technology and let us empower you with our Shopify-based website design and development expertise. Contact us now to get started!ñ</p> -->
                <div class="button">
                    <a routerLink="/contact" routerLinkActive="active" class="banner-bt orange cdk-button">Explore More</a>
                </div>
            </div>
            <div class="image-tab flex-item">
                <img src="assets/image/image-text-1.png" class="w-100" alt="">
            </div>
        </div>
    </div>
</section>

<section class="image-with-text image-with-text-2 margin-90">
    <div class="container">
        <div class="image-with-text-wrapper image-with-text-wrapper-2 flex col-2 align-center text-right">
            <div class="image-tab  flex-item">
                <img src="assets/image/image-text-2.png" class="w-100" alt="">
            </div>
            <div class="text-tab  flex-item">
                <p class="sub-text">Our Vision <span><svg version="1.2" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 33 21" width="33" height="21">
                    <title>image</title>
                    <defs>
                        <linearGradient id="g1" x1="-0.1" y1="2.4" x2="29.3" y2="2.4" gradientUnits="userSpaceOnUse">
                            <stop offset="0" stop-color="#F6540E"/>
                            <stop offset="1" stop-color="#F6540E"/>
                        </linearGradient>
                        <linearGradient id="g2" x1="-10" y1="14.6" x2="19.6" y2="14.6" gradientUnits="userSpaceOnUse">
                            <stop offset="0" stop-color="#F6540E"/>
                            <stop offset="1" stop-color="#F6540E"/>
                        </linearGradient>
                    </defs>
                    <style>
                        .s0 { fill: none;stroke: url(#g1);stroke-width: 3 }
                        .s1 { fill: none } 
                        .s2 { fill: none;stroke: url(#g2);stroke-width: 3 } 
                    </style>
                    <g id="Layer">
                        <path id="right-h-pathct_heading-4e282861" fill-rule="evenodd" class="s0" d="m-0.1 8.9h27.1c0 0 5.1-3.1 0-6.5"/>
                        <g id="Layer">
                            <path id="right-h-bgct_heading-4e282861" fill-rule="evenodd" class="s1" d="m-10 14.6h27.4c0 0 5.1 3 0 6.4"/>
                        </g>
                        <path id="right-h-bgct_heading-4e282861" fill-rule="evenodd" class="s2" d="m-10 14.6h27.4c0 0 5.1 3 0 6.4"/>
                    </g>
                </svg></span></p>
                <h2 class="heading">We Team of <span>Experience</span> It Specialities</h2>
                <!-- <p class="text">We implement Agile best practices to offer offshore and onshore solutions like</p>
                <ul class="list">
                    <li>Mobile responsive web applications.</li>
                    <li>Native & Hybrid Mobile Apps.</li>
                    <li>Digital Marketing.</li>
                </ul>
                <p class="text">We set up high-performance business strategy to create, collaborate, deploy and deliver quality solutions to our global business communities. By maintaining high standard of principles in our work values, we deliver flawless business and
                    optimized services required by the clients.</p> -->

                <p class="text">At Codesdesk Technology, we are driven by a strong vision - to empower businesses with stunning and high-performing online stores that captivate customers and drive sales. </p>

                <h5 class="text">Create a captivating online presence:</h5>

                <p class="text"> Our team of expert designers and developers specialize in Shopify, the leading e-commerce platform. We combine cutting-edge design techniques with seamless functionality to create websites that leave a lasting impression on your customers.

                </p>
                <h5 class="text">A tailor-made solution for your business:</h5>

                <p class="text">We understand that every business is unique, which is why we offer custom website designs that reflect your brand's identity and cater to your specific needs. From layout and color schemes to navigation and user experience, we ensure every
                    element of your website aligns with your business goals.

                </p>
                <!-- <h5 class="text">Seamless integration and advanced features</h5>

                <p class="text">With our expertise in Shopify, we can seamlessly integrate various features into your website, such as secure payment gateways, inventory management systems, customer support tools, and much more. You can trust us to provide you with a
                    fully functional online store that helps you streamline operations and boost sales.

                </p>
                <h5 class="text">Responsive design for optimal user experience</h5>

                <p class="text">In today's digital world, having a mobile-friendly website is essential. Our team ensures that your Shopify-based website is fully responsive and optimized for different devices. This means that your customers can enjoy a seamless browsing
                    experience whether they are using a desktop computer, tablet, or smartphone.

                </p>
                <h5 class="text">Start selling online effortlessly</h5>

                <p class="text">With Codesdesk Technology as your partner, you can confidently take your business online. Our Shopify-based websites are designed to be user-friendly and easy to manage. We provide comprehensive training and ongoing support, so you can
                    focus on what you do best - growing your business.

                </p>
                <h5 class="text">Let us bring your vision to life</h5>

                <p class="text">Ready to take your business to new heights? Get in touch with us today and let our team at Codesdesk Technology transform your online presence into a powerful sales engine.</p> -->
                <div class="button">
                    <a routerLink="/contact" routerLinkActive="active" class="banner-bt orange cdk-button">Explore More</a>
                </div>
            </div>
        </div>
    </div>
</section>

<section class="image-with-text image-with-text-3 margin-90">
    <div class="container">
        <div class="image-with-text-wrapper flex col-2 align-center text-left">
            <div class="text-tab flex-item">
                <p class="sub-text">Our Process <span><svg version="1.2" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 33 21" width="33" height="21">
                    <title>image</title>
                    <defs>
                        <linearGradient id="g1" x1="-0.1" y1="2.4" x2="29.3" y2="2.4" gradientUnits="userSpaceOnUse">
                            <stop offset="0" stop-color="#F6540E"/>
                            <stop offset="1" stop-color="#F6540E"/>
                        </linearGradient>
                        <linearGradient id="g2" x1="-10" y1="14.6" x2="19.6" y2="14.6" gradientUnits="userSpaceOnUse">
                            <stop offset="0" stop-color="#F6540E"/>
                            <stop offset="1" stop-color="#F6540E"/>
                        </linearGradient>
                    </defs>
                    <style>
                        .s0 { fill: none;stroke: url(#g1);stroke-width: 3 }
                        .s1 { fill: none } 
                        .s2 { fill: none;stroke: url(#g2);stroke-width: 3 } 
                    </style>
                    <g id="Layer">
                        <path id="right-h-pathct_heading-4e282861" fill-rule="evenodd" class="s0" d="m-0.1 8.9h27.1c0 0 5.1-3.1 0-6.5"/>
                        <g id="Layer">
                            <path id="right-h-bgct_heading-4e282861" fill-rule="evenodd" class="s1" d="m-10 14.6h27.4c0 0 5.1 3 0 6.4"/>
                        </g>
                        <path id="right-h-bgct_heading-4e282861" fill-rule="evenodd" class="s2" d="m-10 14.6h27.4c0 0 5.1 3 0 6.4"/>
                    </g>
                </svg></span></p>
                <h2 class="heading">Unlock the Potential of Your <span>Online Business</span> with us</h2>
                <!-- <p class="text">We set up high-performance business strategy to create, collaborate, deploy and deliver quality solutions to our global business communities. By maintaining high standard of principles in our work values, we deliver flawless business and
                    optimized services required by the clients.</p> -->

                <p class="text"> Transform your Shopify store into a stunning and high-converting website with our expert website design and development services! </p>

                <h5 class="text">Your Success is Our Priority:</h5>

                <p class="text">At Codesdesk Technology, we understand that a visually appealing and user-friendly website is crucial for your online business success. Our team of experienced designers and developers are dedicated to helping you achieve your goals.

                </p>
                <h5 class="text">A Seamless Process from Start to Finish:</h5>

                <p class="text">Our proven process ensures that your Shopify-based website is designed and developed efficiently, saving you time and money. We take care of everything, from understanding your requirements to delivering a fully functional website that
                    exceeds your expectations.

                </p>
                <h5 class="text">Tailored Solutions for Your Unique Business:</h5>

                <p class="text">We believe in creating customized solutions that reflect the uniqueness of your brand. Our team will work closely with you to understand your business objectives, target audience, and industry trends to create a website that stands out
                    from the competition.

                </p>
                <!-- <h5 class="text">Expertise You Can Trust</h5>

                <p class="text">With years of experience in Shopify-based website design and development, we have honed our skills to deliver exceptional results. Our team stays up-to-date with the latest design trends and industry best practices to ensure that your
                    website is modern, functional, and optimized for conversions.

                </p>
                <h5 class="text">Your Vision Brought to Life</h5>

                <p class="text">At Codesdesk Technology, we believe in turning ideas into reality. Whether you have a specific vision in mind or need guidance to conceptualize your website, our team will work collaboratively with you to bring your vision to life.</p> -->
                <div class="button">
                    <a routerLink="/contact" routerLinkActive="active" class="banner-bt orange cdk-button">Explore More</a>
                </div>
            </div>
            <div class="image-tab flex-item">
                <img src="assets/image/image-text-1.png" class="w-100" alt="">
            </div>
        </div>
    </div>
</section>

<section class="about-image-slider margin-90">
    <div class="container">
        <div class="flex col-2 image-slider-bg">
            <div class="image-tab images-slides flex-item">

                <ngx-slick-carousel class="image-slider-items" #slickModal="slick-carousel" [config]="caseConfig">

                    <div ngxSlickItem class="image-slide image-slide-1 p-relative">
                        <img src="assets/image/image-slide-1.png" class="w-100" alt="">
                        <div class="image-slide-text">
                            <p class="sub-text">Case Studies <span><svg version="1.2" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 33 21" width="33" height="21">
                            <title>image</title>
                            <defs>
                                <linearGradient id="g1" x1="-0.1" y1="2.4" x2="29.3" y2="2.4" gradientUnits="userSpaceOnUse">
                                    <stop offset="0" stop-color="#F6540E"/>
                                    <stop offset="1" stop-color="#F6540E"/>
                                </linearGradient>
                                <linearGradient id="g2" x1="-10" y1="14.6" x2="19.6" y2="14.6" gradientUnits="userSpaceOnUse">
                                    <stop offset="0" stop-color="#F6540E"/>
                                    <stop offset="1" stop-color="#F6540E"/>
                                </linearGradient>
                            </defs>
                            <style>
                                .s0 { fill: none;stroke: url(#g1);stroke-width: 3 }
                                .s1 { fill: none } 
                                .s2 { fill: none;stroke: url(#g2);stroke-width: 3 } 
                            </style>
                            <g id="Layer">
                                <path id="right-h-pathct_heading-4e282861" fill-rule="evenodd" class="s0" d="m-0.1 8.9h27.1c0 0 5.1-3.1 0-6.5"/>
                                <g id="Layer">
                                    <path id="right-h-bgct_heading-4e282861" fill-rule="evenodd" class="s1" d="m-10 14.6h27.4c0 0 5.1 3 0 6.4"/>
                                </g>
                                <path id="right-h-bgct_heading-4e282861" fill-rule="evenodd" class="s2" d="m-10 14.6h27.4c0 0 5.1 3 0 6.4"/>
                            </g>
                        </svg></span></p>
                            <h2 class="heading">Get started today!</h2>
                            <p class="text">Ready to take your Shopify website to the next level? Contact us now for a free consultation and let our experts help you create a visually stunning and high-performing website that drives results for your business</p>
                            <div class="image-slider-bt">
                                <a routerLink="/contact" routerLinkActive="active" class="svg-button"><svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" viewBox="0 0 20 20" fill="none">
                                    <path d="M8.50352 1.30566L9.49448 0.314697C9.91407 -0.104899 10.5926 -0.104899 11.0077 0.314697L19.6853 8.98784C20.1049 9.40743 20.1049 10.0859 19.6853 10.5011L11.0077 19.1787C10.5881 19.5983 9.90961 19.5983 9.49448 19.1787L8.50352 18.1877C8.07946 17.7636 8.08838 17.0718 8.52137 16.6566L13.9002 11.5322H1.07131C0.477625 11.5322 0 11.0546 0 10.4609V9.03247C0 8.43879 0.477625 7.96117 1.07131 7.96117H13.9002L8.52137 2.83674C8.08392 2.4216 8.07499 1.72972 8.50352 1.30566Z" fill="white"/>
                                    </svg>
                                </a>
                            </div>
                        </div>
                    </div>
                    <div ngxSlickItem class="image-slide image-slide-1 p-relative">
                        <img src="assets/image/image-slide-2.png" class="w-100" alt="">
                        <div class="image-slide-text">
                            <p class="sub-text">Case Studies <span><svg version="1.2" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 33 21" width="33" height="21">
                            <title>image</title>
                            <defs>
                                <linearGradient id="g1" x1="-0.1" y1="2.4" x2="29.3" y2="2.4" gradientUnits="userSpaceOnUse">
                                    <stop offset="0" stop-color="#F6540E"/>
                                    <stop offset="1" stop-color="#F6540E"/>
                                </linearGradient>
                                <linearGradient id="g2" x1="-10" y1="14.6" x2="19.6" y2="14.6" gradientUnits="userSpaceOnUse">
                                    <stop offset="0" stop-color="#F6540E"/>
                                    <stop offset="1" stop-color="#F6540E"/>
                                </linearGradient>
                            </defs>
                            <style>
                                .s0 { fill: none;stroke: url(#g1);stroke-width: 3 }
                                .s1 { fill: none } 
                                .s2 { fill: none;stroke: url(#g2);stroke-width: 3 } 
                            </style>
                            <g id="Layer">
                                <path id="right-h-pathct_heading-4e282861" fill-rule="evenodd" class="s0" d="m-0.1 8.9h27.1c0 0 5.1-3.1 0-6.5"/>
                                <g id="Layer">
                                    <path id="right-h-bgct_heading-4e282861" fill-rule="evenodd" class="s1" d="m-10 14.6h27.4c0 0 5.1 3 0 6.4"/>
                                </g>
                                <path id="right-h-bgct_heading-4e282861" fill-rule="evenodd" class="s2" d="m-10 14.6h27.4c0 0 5.1 3 0 6.4"/>
                            </g>
                        </svg></span></p>
                            <h2 class="heading">Infrastructure Technology</h2>
                            <p class="text">Ten things you should know about an IT provider's managed services. See how the others stack up against IT Solutions.</p>
                            <div class="image-slider-bt">
                                <a routerLink="/contact" routerLinkActive="active" class="svg-button"><svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" viewBox="0 0 20 20" fill="none">
                                    <path d="M8.50352 1.30566L9.49448 0.314697C9.91407 -0.104899 10.5926 -0.104899 11.0077 0.314697L19.6853 8.98784C20.1049 9.40743 20.1049 10.0859 19.6853 10.5011L11.0077 19.1787C10.5881 19.5983 9.90961 19.5983 9.49448 19.1787L8.50352 18.1877C8.07946 17.7636 8.08838 17.0718 8.52137 16.6566L13.9002 11.5322H1.07131C0.477625 11.5322 0 11.0546 0 10.4609V9.03247C0 8.43879 0.477625 7.96117 1.07131 7.96117H13.9002L8.52137 2.83674C8.08392 2.4216 8.07499 1.72972 8.50352 1.30566Z" fill="white"/>
                                    </svg>
                                </a>
                            </div>
                        </div>
                    </div>
                    <div ngxSlickItem class="image-slide image-slide-1 p-relative">
                        <img src="assets/image/image-slide-1.png" class="w-100" alt="">
                        <div class="image-slide-text">
                            <p class="sub-text">Case Studies <span><svg version="1.2" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 33 21" width="33" height="21">
                            <title>image</title>
                            <defs>
                                <linearGradient id="g1" x1="-0.1" y1="2.4" x2="29.3" y2="2.4" gradientUnits="userSpaceOnUse">
                                    <stop offset="0" stop-color="#F6540E"/>
                                    <stop offset="1" stop-color="#F6540E"/>
                                </linearGradient>
                                <linearGradient id="g2" x1="-10" y1="14.6" x2="19.6" y2="14.6" gradientUnits="userSpaceOnUse">
                                    <stop offset="0" stop-color="#F6540E"/>
                                    <stop offset="1" stop-color="#F6540E"/>
                                </linearGradient>
                            </defs>
                            <style>
                                .s0 { fill: none;stroke: url(#g1);stroke-width: 3 }
                                .s1 { fill: none } 
                                .s2 { fill: none;stroke: url(#g2);stroke-width: 3 } 
                            </style>
                            <g id="Layer">
                                <path id="right-h-pathct_heading-4e282861" fill-rule="evenodd" class="s0" d="m-0.1 8.9h27.1c0 0 5.1-3.1 0-6.5"/>
                                <g id="Layer">
                                    <path id="right-h-bgct_heading-4e282861" fill-rule="evenodd" class="s1" d="m-10 14.6h27.4c0 0 5.1 3 0 6.4"/>
                                </g>
                                <path id="right-h-bgct_heading-4e282861" fill-rule="evenodd" class="s2" d="m-10 14.6h27.4c0 0 5.1 3 0 6.4"/>
                            </g>
                        </svg></span></p>
                            <h2 class="heading">Information Security</h2>
                            <p class="text">Many Managed Services Providers make ambitious promises that they fail to deliver. We back up our services.</p>
                            <div class="image-slider-bt">
                                <a routerLink="/contact" routerLinkActive="active" class="svg-button"><svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" viewBox="0 0 20 20" fill="none">
                                    <path d="M8.50352 1.30566L9.49448 0.314697C9.91407 -0.104899 10.5926 -0.104899 11.0077 0.314697L19.6853 8.98784C20.1049 9.40743 20.1049 10.0859 19.6853 10.5011L11.0077 19.1787C10.5881 19.5983 9.90961 19.5983 9.49448 19.1787L8.50352 18.1877C8.07946 17.7636 8.08838 17.0718 8.52137 16.6566L13.9002 11.5322H1.07131C0.477625 11.5322 0 11.0546 0 10.4609V9.03247C0 8.43879 0.477625 7.96117 1.07131 7.96117H13.9002L8.52137 2.83674C8.08392 2.4216 8.07499 1.72972 8.50352 1.30566Z" fill="white"/>
                                    </svg>
                                </a>
                            </div>
                        </div>
                    </div>
                    <div ngxSlickItem class="image-slide image-slide-1 p-relative">
                        <img src="assets/image/image-slide-4.png" class="w-100" alt="">
                        <div class="image-slide-text">
                            <p class="sub-text">Case Studies <span><svg version="1.2" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 33 21" width="33" height="21">
                            <title>image</title>
                            <defs>
                                <linearGradient id="g1" x1="-0.1" y1="2.4" x2="29.3" y2="2.4" gradientUnits="userSpaceOnUse">
                                    <stop offset="0" stop-color="#F6540E"/>
                                    <stop offset="1" stop-color="#F6540E"/>
                                </linearGradient>
                                <linearGradient id="g2" x1="-10" y1="14.6" x2="19.6" y2="14.6" gradientUnits="userSpaceOnUse">
                                    <stop offset="0" stop-color="#F6540E"/>
                                    <stop offset="1" stop-color="#F6540E"/>
                                </linearGradient>
                            </defs>
                            <style>
                                .s0 { fill: none;stroke: url(#g1);stroke-width: 3 }
                                .s1 { fill: none } 
                                .s2 { fill: none;stroke: url(#g2);stroke-width: 3 } 
                            </style>
                            <g id="Layer">
                                <path id="right-h-pathct_heading-4e282861" fill-rule="evenodd" class="s0" d="m-0.1 8.9h27.1c0 0 5.1-3.1 0-6.5"/>
                                <g id="Layer">
                                    <path id="right-h-bgct_heading-4e282861" fill-rule="evenodd" class="s1" d="m-10 14.6h27.4c0 0 5.1 3 0 6.4"/>
                                </g>
                                <path id="right-h-bgct_heading-4e282861" fill-rule="evenodd" class="s2" d="m-10 14.6h27.4c0 0 5.1 3 0 6.4"/>
                            </g>
                        </svg></span></p>
                            <h2 class="heading">Codesdesk Technology</h2>
                            <p class="text">Ten things you should know about an IT provider's managed services. See how the others stack up against IT Solutions.</p>
                            <div class="image-slider-bt">
                                <a routerLink="/contact" routerLinkActive="active" class="svg-button"><svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" viewBox="0 0 20 20" fill="none">
                                    <path d="M8.50352 1.30566L9.49448 0.314697C9.91407 -0.104899 10.5926 -0.104899 11.0077 0.314697L19.6853 8.98784C20.1049 9.40743 20.1049 10.0859 19.6853 10.5011L11.0077 19.1787C10.5881 19.5983 9.90961 19.5983 9.49448 19.1787L8.50352 18.1877C8.07946 17.7636 8.08838 17.0718 8.52137 16.6566L13.9002 11.5322H1.07131C0.477625 11.5322 0 11.0546 0 10.4609V9.03247C0 8.43879 0.477625 7.96117 1.07131 7.96117H13.9002L8.52137 2.83674C8.08392 2.4216 8.07499 1.72972 8.50352 1.30566Z" fill="white"/>
                                    </svg>
                                </a>
                            </div>
                        </div>
                    </div>

                </ngx-slick-carousel>

            </div>
            <div class="slider-static-text text-tab-padding flex-item p-relative">
                <img src="assets/image/dots.png" alt="" class="dots-image ">
                <p class="sub-text flex-row align-items-center">About Our Company <span><svg version="1.2" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 33 21" width="33" height="21">
                    <title>image</title>
                    <defs>
                        <linearGradient id="g1" x1="-0.1" y1="2.4" x2="29.3" y2="2.4" gradientUnits="userSpaceOnUse">
                            <stop offset="0" stop-color="#F6540E"/>
                            <stop offset="1" stop-color="#F6540E"/>
                        </linearGradient>
                        <linearGradient id="g2" x1="-10" y1="14.6" x2="19.6" y2="14.6" gradientUnits="userSpaceOnUse">
                            <stop offset="0" stop-color="#F6540E"/>
                            <stop offset="1" stop-color="#F6540E"/>
                        </linearGradient>
                    </defs>
                    <style>
                        .s0 { fill: none;stroke: url(#g1);stroke-width: 3 }
                        .s1 { fill: none } 
                        .s2 { fill: none;stroke: url(#g2);stroke-width: 3 } 
                    </style>
                    <g id="Layer">
                        <path id="right-h-pathct_heading-4e282861" fill-rule="evenodd" class="s0" d="m-0.1 8.9h27.1c0 0 5.1-3.1 0-6.5"/>
                        <g id="Layer">
                            <path id="right-h-bgct_heading-4e282861" fill-rule="evenodd" class="s1" d="m-10 14.6h27.4c0 0 5.1 3 0 6.4"/>
                        </g>
                        <path id="right-h-bgct_heading-4e282861" fill-rule="evenodd" class="s2" d="m-10 14.6h27.4c0 0 5.1 3 0 6.4"/>
                    </g>
                </svg></span></p>
                <h2 class="heading">Your one-stop solution for Shopify-based website designing & development</h2>
                <div class="text-left-or-line">
                    <p class="text">We are passionate about helping businesses succeed online. With our expertise in Shopify, we offer top-notch website designing and development services tailored to your unique needs.
                    </p>
                    <p class="text">With years of experience in the industry, our team of talented designers and developers have successfully delivered exceptional Shopify websites that not only look stunning but also drive results.</p>
                </div>
                <div class="icon-text-wrapper flex col-2">
                    <div class="icon-text flex-item">
                        <img src="assets/image/money-back.png" alt="">
                        <h4 class="text-icon">Moneyback Gurentee</h4>
                    </div>
                    <div class="icon-text flex-item">
                        <img src="assets/image/customer-service.png" alt="">
                        <h4 class="text-icon">Technical Support</h4>
                    </div>
                </div>
                <div class="buttons flex">
                    <a routerLink="/contact" routerLinkActive="active" class="banner-bt cdk-button">Contact us</a>
                    <a class="call-icon-text flex align-center" href="tel: +91-00000-00000">
                        <span class="call-icon p-relative flex align-center justify-center"><img src="assets/image/telephone.png" alt=""></span>
                        <span class="call-text">
                            <span class="call-txt">Call for help</span>
                        <span class="call-number">+91-99880-74677</span>
                        </span>
                    </a>
                </div>
            </div>
        </div>
    </div>
</section>
<section class="slider-section margin-126-b">
    <div class="container">
        <div class="slider-head-wrapper w-100 p-relative">
            <h2 class="back-txt">TESTIMONIAL</h2>
            <div class="title flex-row align-items-center p-absolute">
                <svg class="svg-rotate" version="1.2" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 33 21" width="33" height="21">
                    <title>image</title>
                    <defs>
                        <linearGradient id="g1" x1="-0.1" y1="2.4" x2="29.3" y2="2.4" gradientUnits="userSpaceOnUse">
                            <stop offset="0" stop-color="#F6540E"/>
                            <stop offset="1" stop-color="#F6540E"/>
                        </linearGradient>
                        <linearGradient id="g2" x1="-10" y1="14.6" x2="19.6" y2="14.6" gradientUnits="userSpaceOnUse">
                            <stop offset="0" stop-color="#F6540E"/>
                            <stop offset="1" stop-color="#F6540E"/>
                        </linearGradient>
                    </defs>
                    <style>
                        .s0 { fill: none;stroke: url(#g1);stroke-width: 3 }
                        .s1 { fill: none } 
                        .s2 { fill: none;stroke: url(#g2);stroke-width: 3 } 
                    </style>
                    <g id="Layer">
                        <path id="right-h-pathct_heading-4e282861" fill-rule="evenodd" class="s0" d="m-0.1 8.9h27.1c0 0 5.1-3.1 0-6.5"/>
                        <g id="Layer">
                            <path id="right-h-bgct_heading-4e282861" fill-rule="evenodd" class="s1" d="m-10 14.6h27.4c0 0 5.1 3 0 6.4"/>
                        </g>
                        <path id="right-h-bgct_heading-4e282861" fill-rule="evenodd" class="s2" d="m-10 14.6h27.4c0 0 5.1 3 0 6.4"/>
                    </g>
                </svg>
                <p class="our-title desktop">
                    Our Client’s Testimonials
                </p>
                <p class="our-title mobile">
                    Our Testimonials
                </p>
                <svg version="1.2" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 33 21" width="33" height="21">
                    <title>image</title>
                    <defs>
                        <linearGradient id="g1" x1="-0.1" y1="2.4" x2="29.3" y2="2.4" gradientUnits="userSpaceOnUse">
                            <stop offset="0" stop-color="#F6540E"/>
                            <stop offset="1" stop-color="#F6540E"/>
                        </linearGradient>
                        <linearGradient id="g2" x1="-10" y1="14.6" x2="19.6" y2="14.6" gradientUnits="userSpaceOnUse">
                            <stop offset="0" stop-color="#F6540E"/>
                            <stop offset="1" stop-color="#F6540E"/>
                        </linearGradient>
                    </defs>
                    <style>
                        .s0 { fill: none;stroke: url(#g1);stroke-width: 3 }
                        .s1 { fill: none } 
                        .s2 { fill: none;stroke: url(#g2);stroke-width: 3 } 
                    </style>
                    <g id="Layer">
                        <path id="right-h-pathct_heading-4e282861" fill-rule="evenodd" class="s0" d="m-0.1 8.9h27.1c0 0 5.1-3.1 0-6.5"/>
                        <g id="Layer">
                            <path id="right-h-bgct_heading-4e282861" fill-rule="evenodd" class="s1" d="m-10 14.6h27.4c0 0 5.1 3 0 6.4"/>
                        </g>
                        <path id="right-h-bgct_heading-4e282861" fill-rule="evenodd" class="s2" d="m-10 14.6h27.4c0 0 5.1 3 0 6.4"/>
                    </g>
                </svg>
            </div>

        </div>
        <div class="next-prev-btn flex-row">

        </div>
        <div class="slider-wrap">
            <ngx-slick-carousel class="cs-slider" #slickModal="slick-carousel" [config]="slidelastConfig">
                <div class="card-slide grid__items one-third" ngxSlickItem>
                    <div class="card-head-slide flex-row align-items-center" cursor-swipe>
                        <div class="image-slide">
                            <img class="w-100" src="assets/image/Ellipse4.png" alt="asdf">
                        </div>
                        <div class="text-head-slide">
                            <h2 class="heading-slide-card">Veronica Johnson</h2>
                            <p class="text-red">Web Designer</p>
                        </div>
                    </div>
                    <p class="txt-b-slide">
                        There are many variations of passages of Lorem Ipsum available, but the majority have suffered alteration in some form, by injected humour.
                    </p>
                </div>
                <div class="card-slide grid__items one-third" ngxSlickItem>
                    <div class="card-head-slide flex-row align-items-center" cursor-swipe>
                        <div class="image-slide">
                            <img class="w-100" src="assets/image/Ellipse3.png" alt="asdf">
                        </div>
                        <div class="text-head-slide">
                            <h2 class="heading-slide-card">Veronica Johnson</h2>
                            <p class="text-red">Web Designer</p>
                        </div>
                    </div>
                    <p class="txt-b-slide">
                        There are many variations of passages of Lorem Ipsum available, but the majority have suffered alteration in some form, by injected humour.
                    </p>
                </div>
                <div class="card-slide grid__items one-third" ngxSlickItem>
                    <div class="card-head-slide flex-row align-items-center" cursor-swipe>
                        <div class="image-slide">
                            <img class="w-100" src="assets/image/Ellipse1.png" alt="asdf">
                        </div>
                        <div class="text-head-slide">
                            <h2 class="heading-slide-card">Veronica Johnson</h2>
                            <p class="text-red">Web Designer</p>
                        </div>
                    </div>
                    <p class="txt-b-slide">
                        There are many variations of passages of Lorem Ipsum available, but the majority have suffered alteration in some form, by injected humour.
                    </p>
                </div>
                <div class="card-slide grid__items one-third" ngxSlickItem>
                    <div class="card-head-slide flex-row align-items-center" cursor-swipe>
                        <div class="image-slide">
                            <img class="w-100" src="assets/image/Ellipse1.png" alt="asdf">
                        </div>
                        <div class="text-head-slide">
                            <h2 class="heading-slide-card">Veronica Johnson</h2>
                            <p class="text-red">Web Designer</p>
                        </div>
                    </div>
                    <p class="txt-b-slide">
                        There are many variations of passages of Lorem Ipsum available, but the majority have suffered alteration in some form, by injected humour.
                    </p>
                </div>
                <div class="card-slide grid__items one-third" ngxSlickItem>
                    <div class="card-head-slide flex-row align-items-center" cursor-swipe>
                        <div class="image-slide">
                            <img class="w-100" src="assets/image/Ellipse1.png" alt="asdf">
                        </div>
                        <div class="text-head-slide">
                            <h2 class="heading-slide-card">Veronica Johnson</h2>
                            <p class="text-red">Web Designer</p>
                        </div>
                    </div>
                    <p class="txt-b-slide">
                        There are many variations of passages of Lorem Ipsum available, but the majority have suffered alteration in some form, by injected humour.
                    </p>
                </div>
                <div class="card-slide grid__items one-third" ngxSlickItem>
                    <div class="card-head-slide flex-row align-items-center" cursor-swipe>
                        <div class="image-slide">
                            <img class="w-100" src="assets/image/Ellipse1.png" alt="asdf">
                        </div>
                        <div class="text-head-slide">
                            <h2 class="heading-slide-card">Veronica Johnson</h2>
                            <p class="text-red">Web Designer</p>
                        </div>
                    </div>
                    <p class="txt-b-slide">
                        There are many variations of passages of Lorem Ipsum available, but the majority have suffered alteration in some form, by injected humour.
                    </p>
                </div>
            </ngx-slick-carousel>
        </div>
    </div>
</section>