<section class="service-banner image-with-text">
    <div class="bg-color">
        <div class="container">
            <div class="image-with-text-wrapper flex col-2 text-left">
                <div class="text-tab flex-item">
                    <p class="banner-sub-text">Delivering success in every solution!</p>
                    <h2 class="banner-heading">Custom Software Development Company</h2>
                    <p class="banner-text">Our custom software development services are designed to meet all of your business needs and assist in promoting business expansion on a global scale.</p>
                    <div class="button">
                        <!-- <a  class="banner-bt black">Contact Us</a> -->
                        <a routerLink="/contact" routerLinkActive="active" class="black-button-two">
                            <span></span>
                            <span></span>
                            <span></span>
                            <span></span> Contact Us</a>
                    </div>
                </div>
                <div class="image-tab flex-item">
                    <img src="assets/image/service-banner.png" class="w-100" alt="">
                </div>
            </div>
        </div>
    </div>
</section>
<section class="counter-section margin-90-t">
    <div class="container">
        <div id="counter-main" class="counter-wrapper background-p">
            <div class="all-counter flex-row align-items-center padding-58">
                <div class="counter">
                    <div class="upper flex-row align-items-center ">
                        <img src="assets/image/leader1.png" alt="leader">
                        <h2 class="counter-head">100</h2>
                        <span>+</span>
                    </div>
                    <div class="down">
                        <p class="team">
                            Team members
                        </p>
                    </div>
                </div>
                <div class="counter">
                    <div class="upper flex-row align-items-center ">
                        <img src="assets/image/award1.png" alt="leader">
                        <h2 class="counter-head">15</h2>
                        <span>+</span>
                    </div>
                    <div class="down">
                        <p class="team">
                            Wining Awards
                        </p>
                    </div>
                </div>
                <div class="counter">
                    <div class="upper flex-row align-items-center ">
                        <img src="assets/image/briefing1.png" alt="leader">
                        <h2 class="counter-head">200</h2>
                        <span>+</span>
                    </div>
                    <div class="down">
                        <p class="team">
                            Complate Project
                        </p>
                    </div>
                </div>
                <div class="counter">
                    <div class="upper flex-row align-items-center ">
                        <img src="assets/image/costumer1.png" alt="leader">
                        <h2 class="counter-head">560</h2>
                        <span>+</span>
                    </div>
                    <div class="down">
                        <p class="team">
                            Clients reviews
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<section class="our-service margin-90">
    <div class="service-main">
        <div class="service-head center">
            <h2 class="back-txt ">OUR SERVICE</h2>
            <p class="sub-text"><span class="sub-text-icon-left"><svg class="svg-rotate" version="1.2" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 33 21" width="33" height="21">
                <title>image</title>
                <defs>
                    <linearGradient id="g1" x1="-0.1" y1="2.4" x2="29.3" y2="2.4" gradientUnits="userSpaceOnUse">
                        <stop offset="0" stop-color="#F6540E"/>
                        <stop offset="1" stop-color="#F6540E"/>
                    </linearGradient>
                    <linearGradient id="g2" x1="-10" y1="14.6" x2="19.6" y2="14.6" gradientUnits="userSpaceOnUse">
                        <stop offset="0" stop-color="#F6540E"/>
                        <stop offset="1" stop-color="#F6540E"/>
                    </linearGradient>
                </defs>
                <style>
                    .s0 { fill: none;stroke: url(#g1);stroke-width: 3 }
                    .s1 { fill: none } 
                    .s2 { fill: none;stroke: url(#g2);stroke-width: 3 } 
                </style>
                <g id="Layer">
                    <path id="right-h-pathct_heading-4e282861" fill-rule="evenodd" class="s0" d="m-0.1 8.9h27.1c0 0 5.1-3.1 0-6.5"/>
                    <g id="Layer">
                        <path id="right-h-bgct_heading-4e282861" fill-rule="evenodd" class="s1" d="m-10 14.6h27.4c0 0 5.1 3 0 6.4"/>
                    </g>
                    <path id="right-h-bgct_heading-4e282861" fill-rule="evenodd" class="s2" d="m-10 14.6h27.4c0 0 5.1 3 0 6.4"/>
                </g>
            </svg></span>Our service<span><svg version="1.2" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 33 21" width="33" height="21">
                <title>image</title>
                <defs>
                    <linearGradient id="g1" x1="-0.1" y1="2.4" x2="29.3" y2="2.4" gradientUnits="userSpaceOnUse">
                        <stop offset="0" stop-color="#F6540E"/>
                        <stop offset="1" stop-color="#F6540E"/>
                    </linearGradient>
                    <linearGradient id="g2" x1="-10" y1="14.6" x2="19.6" y2="14.6" gradientUnits="userSpaceOnUse">
                        <stop offset="0" stop-color="#F6540E"/>
                        <stop offset="1" stop-color="#F6540E"/>
                    </linearGradient>
                </defs>
                <style>
                    .s0 { fill: none;stroke: url(#g1);stroke-width: 3 }
                    .s1 { fill: none } 
                    .s2 { fill: none;stroke: url(#g2);stroke-width: 3 } 
                </style>
                <g id="Layer">
                    <path id="right-h-pathct_heading-4e282861" fill-rule="evenodd" class="s0" d="m-0.1 8.9h27.1c0 0 5.1-3.1 0-6.5"/>
                    <g id="Layer">
                        <path id="right-h-bgct_heading-4e282861" fill-rule="evenodd" class="s1" d="m-10 14.6h27.4c0 0 5.1 3 0 6.4"/>
                    </g>
                    <path id="right-h-bgct_heading-4e282861" fill-rule="evenodd" class="s2" d="m-10 14.6h27.4c0 0 5.1 3 0 6.4"/>
                </g>
            </svg></span></p>

        </div>
        <div class="service-tabs">
            <div class="container">
                <div class="flex col-3">
                    <a routerLink="/shopify" routerLinkActive="active" class="flex-item mobile-card desktop">
                        <div class="service-tab center p-relative">
                            <div class="service-tab-content">
                                <img src="assets/image/shopify-icon.png" alt="" class="service-icon">
                                <h5 class="service-heading">Shopify</h5>
                                <p class="service-text">Empowering E-commerce with Custom Shopify Solutions
                                </p>
                                <a class="service-link">Explore More
                                    <span class="service-arrow">
                                        <svg xmlns="http://www.w3.org/2000/svg" width="19" height="9" viewBox="0 0 19 9"
                                            fill="none">
                                            <path
                                                d="M12.818 2.81677H0.677799C0.411346 2.81677 0.195312 3.03265 0.195312 3.29891V5.54891C0.195312 5.81517 0.411346 6.03105 0.677799 6.03105H12.818V7.88163C12.818 8.74073 13.8574 9.17096 14.4653 8.5635L17.9255 5.10578C18.3024 4.72919 18.3024 4.11864 17.9255 3.74208L14.4653 0.284361C13.8574 -0.323098 12.818 0.107134 12.818 0.96623V2.81677Z"
                                                fill="white" />
                                        </svg>
                                    </span>
                                </a>
                            </div>
                        </div>
                    </a>
                    <a routerLink="/e-commerce" routerLinkActive="active" class="flex-item desktop">
                        <div class="service-tab center p-relative">
                            <div class="service-tab-content">
                                <img src="assets/image/ecommerce-icon.png" alt="" class="service-icon">
                                <h5 class="service-heading">E-Commerce</h5>
                                <p class="service-text">Empowering E-commerce Growth Through Expert Development
                                </p>
                                <a class="service-link">Explore More
                                    <span class="service-arrow">
                                        <svg xmlns="http://www.w3.org/2000/svg" width="19" height="9" viewBox="0 0 19 9"
                                            fill="none">
                                            <path
                                                d="M12.818 2.81677H0.677799C0.411346 2.81677 0.195312 3.03265 0.195312 3.29891V5.54891C0.195312 5.81517 0.411346 6.03105 0.677799 6.03105H12.818V7.88163C12.818 8.74073 13.8574 9.17096 14.4653 8.5635L17.9255 5.10578C18.3024 4.72919 18.3024 4.11864 17.9255 3.74208L14.4653 0.284361C13.8574 -0.323098 12.818 0.107134 12.818 0.96623V2.81677Z"
                                                fill="white" />
                                        </svg>
                                    </span>
                                </a>
                            </div>
                        </div>
                    </a>
                    <a routerLink="/web-design" routerLinkActive="active" class="flex-item desktop">
                        <div class="service-tab center p-relative">
                            <div class="service-tab-content">
                                <img src="assets/image/web-designing-icon.png" alt="" class="service-icon">
                                <h5 class="service-heading">Web Designing</h5>
                                <p class="service-text">Where Innovation Meets Impeccable Design
                                </p>
                                <a class="service-link">Explore More
                                    <span class="service-arrow">
                                        <svg xmlns="http://www.w3.org/2000/svg" width="19" height="9" viewBox="0 0 19 9"
                                            fill="none">
                                            <path
                                                d="M12.818 2.81677H0.677799C0.411346 2.81677 0.195312 3.03265 0.195312 3.29891V5.54891C0.195312 5.81517 0.411346 6.03105 0.677799 6.03105H12.818V7.88163C12.818 8.74073 13.8574 9.17096 14.4653 8.5635L17.9255 5.10578C18.3024 4.72919 18.3024 4.11864 17.9255 3.74208L14.4653 0.284361C13.8574 -0.323098 12.818 0.107134 12.818 0.96623V2.81677Z"
                                                fill="white" />
                                        </svg>
                                    </span>
                                </a>
                            </div>
                        </div>
                    </a>


                    <a routerLink="/graphic-designing" routerLinkActive="active" class="flex-item desktop">
                        <div class="service-tab center p-relative">
                            <div class="service-tab-content">
                                <img src="assets/image/graphic-design-icon.png" alt="" class="service-icon">
                                <h5 class="service-heading">Graphic Designing</h5>
                                <p class="service-text">Crafting Designs that Speak Louder than Words
                                </p>
                                <a class="service-link">Explore More
                                    <span class="service-arrow">
                                        <svg xmlns="http://www.w3.org/2000/svg" width="19" height="9" viewBox="0 0 19 9"
                                            fill="none">
                                            <path
                                                d="M12.818 2.81677H0.677799C0.411346 2.81677 0.195312 3.03265 0.195312 3.29891V5.54891C0.195312 5.81517 0.411346 6.03105 0.677799 6.03105H12.818V7.88163C12.818 8.74073 13.8574 9.17096 14.4653 8.5635L17.9255 5.10578C18.3024 4.72919 18.3024 4.11864 17.9255 3.74208L14.4653 0.284361C13.8574 -0.323098 12.818 0.107134 12.818 0.96623V2.81677Z"
                                                fill="white" />
                                        </svg>
                                    </span>
                                </a>
                            </div>
                        </div>
                    </a>
                    <a routerLink="/app-development" routerLinkActive="active" class="flex-item desktop">
                        <div class="service-tab center p-relative">
                            <div class="service-tab-content">
                                <img src="assets/image/app-development-icon.png" alt="" class="service-icon">
                                <h5 class="service-heading">App Development</h5>
                                <p class="service-text">Innovate. Create. Elevate – Your App Development Partner
                                </p>
                                <a class="service-link">Explore More
                                    <span class="service-arrow">
                                        <svg xmlns="http://www.w3.org/2000/svg" width="19" height="9" viewBox="0 0 19 9"
                                            fill="none">
                                            <path
                                                d="M12.818 2.81677H0.677799C0.411346 2.81677 0.195312 3.03265 0.195312 3.29891V5.54891C0.195312 5.81517 0.411346 6.03105 0.677799 6.03105H12.818V7.88163C12.818 8.74073 13.8574 9.17096 14.4653 8.5635L17.9255 5.10578C18.3024 4.72919 18.3024 4.11864 17.9255 3.74208L14.4653 0.284361C13.8574 -0.323098 12.818 0.107134 12.818 0.96623V2.81677Z"
                                                fill="white" />
                                        </svg>
                                    </span>
                                </a>
                            </div>
                        </div>
                    </a>
                    <a routerLink="/wordpress" routerLinkActive="active" class="flex-item desktop">
                        <div class="service-tab center p-relative">
                            <div class="service-tab-content">
                                <img src="assets/image/wordpress-development-icon.png" alt="" class="service-icon">
                                <h5 class="service-heading">Wordpress</h5>
                                <p class="service-text">Unleashing the Full Potential of WordPress
                                </p>
                                <a class="service-link">Explore More
                                    <span class="service-arrow">
                                        <svg xmlns="http://www.w3.org/2000/svg" width="19" height="9" viewBox="0 0 19 9"
                                            fill="none">
                                            <path
                                                d="M12.818 2.81677H0.677799C0.411346 2.81677 0.195312 3.03265 0.195312 3.29891V5.54891C0.195312 5.81517 0.411346 6.03105 0.677799 6.03105H12.818V7.88163C12.818 8.74073 13.8574 9.17096 14.4653 8.5635L17.9255 5.10578C18.3024 4.72919 18.3024 4.11864 17.9255 3.74208L14.4653 0.284361C13.8574 -0.323098 12.818 0.107134 12.818 0.96623V2.81677Z"
                                                fill="white" />
                                        </svg>
                                    </span>
                                </a>
                            </div>
                        </div>
                    </a>

                </div>
                <div class="flex col-3 cardcontainer" style="display: none;">

                    <a routerLink="/web-design" routerLinkActive="active" class="flex-item">
                        <div class="service-tab center p-relative">
                            <div class="service-tab-content">
                                <img src="assets/image/web-designing-icon.png" alt="" class="service-icon">
                                <h5 class="service-heading">Web Designing</h5>
                                <p class="service-text">Designing a website is one thing. But bringing it to life is another.
                                </p>
                                <a class="service-link">Explore More
                                    <span class="service-arrow">
                                        <svg xmlns="http://www.w3.org/2000/svg" width="19" height="9" viewBox="0 0 19 9"
                                            fill="none">
                                            <path
                                                d="M12.818 2.81677H0.677799C0.411346 2.81677 0.195312 3.03265 0.195312 3.29891V5.54891C0.195312 5.81517 0.411346 6.03105 0.677799 6.03105H12.818V7.88163C12.818 8.74073 13.8574 9.17096 14.4653 8.5635L17.9255 5.10578C18.3024 4.72919 18.3024 4.11864 17.9255 3.74208L14.4653 0.284361C13.8574 -0.323098 12.818 0.107134 12.818 0.96623V2.81677Z"
                                                fill="white" />
                                        </svg>
                                    </span>
                                </a>
                            </div>
                        </div>
                    </a>
                    <a routerLink="/e-commerce" routerLinkActive="active" class="flex-item">
                        <div class="service-tab center p-relative">
                            <div class="service-tab-content">
                                <img src="assets/image/ecommerce-icon.png" alt="" class="service-icon">
                                <h5 class="service-heading">E-Commerce</h5>
                                <p class="service-text">Designing a website is one thing. But bringing it to life is another.
                                </p>
                                <a class="service-link">Explore More
                                    <span class="service-arrow">
                                        <svg xmlns="http://www.w3.org/2000/svg" width="19" height="9" viewBox="0 0 19 9"
                                            fill="none">
                                            <path
                                                d="M12.818 2.81677H0.677799C0.411346 2.81677 0.195312 3.03265 0.195312 3.29891V5.54891C0.195312 5.81517 0.411346 6.03105 0.677799 6.03105H12.818V7.88163C12.818 8.74073 13.8574 9.17096 14.4653 8.5635L17.9255 5.10578C18.3024 4.72919 18.3024 4.11864 17.9255 3.74208L14.4653 0.284361C13.8574 -0.323098 12.818 0.107134 12.818 0.96623V2.81677Z"
                                                fill="white" />
                                        </svg>
                                    </span>
                                </a>
                            </div>
                        </div>
                    </a>
                    <a routerLink="/graphic-designing" routerLinkActive="active" class="flex-item">
                        <div class="service-tab center p-relative">
                            <div class="service-tab-content">
                                <img src="assets/image/graphic-design-icon.png" alt="" class="service-icon">
                                <h5 class="service-heading">Graphic Designing</h5>
                                <p class="service-text">Designing a website is one thing. But bringing it to life is another.
                                </p>
                                <a class="service-link">Explore More
                                    <span class="service-arrow">
                                        <svg xmlns="http://www.w3.org/2000/svg" width="19" height="9" viewBox="0 0 19 9"
                                            fill="none">
                                            <path
                                                d="M12.818 2.81677H0.677799C0.411346 2.81677 0.195312 3.03265 0.195312 3.29891V5.54891C0.195312 5.81517 0.411346 6.03105 0.677799 6.03105H12.818V7.88163C12.818 8.74073 13.8574 9.17096 14.4653 8.5635L17.9255 5.10578C18.3024 4.72919 18.3024 4.11864 17.9255 3.74208L14.4653 0.284361C13.8574 -0.323098 12.818 0.107134 12.818 0.96623V2.81677Z"
                                                fill="white" />
                                        </svg>
                                    </span>
                                </a>
                            </div>
                        </div>
                    </a>
                    <a routerLink="/app-development" routerLinkActive="active" class="flex-item">
                        <div class="service-tab center p-relative">
                            <div class="service-tab-content">
                                <img src="assets/image/app-development-icon.png" alt="" class="service-icon">
                                <h5 class="service-heading">App Development</h5>
                                <p class="service-text">Designing a website is one thing. But bringing it to life is another.
                                </p>
                                <a class="service-link">Explore More
                                    <span class="service-arrow">
                                        <svg xmlns="http://www.w3.org/2000/svg" width="19" height="9" viewBox="0 0 19 9"
                                            fill="none">
                                            <path
                                                d="M12.818 2.81677H0.677799C0.411346 2.81677 0.195312 3.03265 0.195312 3.29891V5.54891C0.195312 5.81517 0.411346 6.03105 0.677799 6.03105H12.818V7.88163C12.818 8.74073 13.8574 9.17096 14.4653 8.5635L17.9255 5.10578C18.3024 4.72919 18.3024 4.11864 17.9255 3.74208L14.4653 0.284361C13.8574 -0.323098 12.818 0.107134 12.818 0.96623V2.81677Z"
                                                fill="white" />
                                        </svg>
                                    </span>
                                </a>
                            </div>
                        </div>
                    </a>
                    <a routerLink="/wordpress" routerLinkActive="active" class="flex-item">
                        <div class="service-tab center p-relative">
                            <div class="service-tab-content">
                                <img src="assets/image/wordpress-development-icon.png" alt="" class="service-icon">
                                <h5 class="service-heading">Wordpress</h5>
                                <p class="service-text">Designing a website is one thing. But bringing it to life is another.
                                </p>
                                <a class="service-link">Explore More
                                    <span class="service-arrow">
                                        <svg xmlns="http://www.w3.org/2000/svg" width="19" height="9" viewBox="0 0 19 9"
                                            fill="none">
                                            <path
                                                d="M12.818 2.81677H0.677799C0.411346 2.81677 0.195312 3.03265 0.195312 3.29891V5.54891C0.195312 5.81517 0.411346 6.03105 0.677799 6.03105H12.818V7.88163C12.818 8.74073 13.8574 9.17096 14.4653 8.5635L17.9255 5.10578C18.3024 4.72919 18.3024 4.11864 17.9255 3.74208L14.4653 0.284361C13.8574 -0.323098 12.818 0.107134 12.818 0.96623V2.81677Z"
                                                fill="white" />
                                        </svg>
                                    </span>
                                </a>
                            </div>
                        </div>
                    </a>
                </div>
                <div class="our-txt-wrapper">
                    <a class="cdk-button card-button mobile cardswitcher">Show More</a>
                </div>
            </div>
        </div>
    </div>
</section>

<section class="about-image-slider margin-90">
    <div class="container">
        <div class="flex col-2 image-slider-bg">
            <div class="image-tab images-slides flex-item">

                <ngx-slick-carousel class="image-slider-items" #slickModal="slick-carousel" [config]="caseConfig">

                    <div ngxSlickItem class="image-slide-s image-slide-1 p-relative">
                        <img src="assets/image/image-slide-1.png" class="w-100" alt="">
                        <div class="image-slide-text">
                            <p class="sub-text">Case Studies <span><svg version="1.2" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 33 21" width="33" height="21">
                                <title>image</title>
                                <defs>
                                    <linearGradient id="g1" x1="-0.1" y1="2.4" x2="29.3" y2="2.4" gradientUnits="userSpaceOnUse">
                                        <stop offset="0" stop-color="#F6540E"/>
                                        <stop offset="1" stop-color="#F6540E"/>
                                    </linearGradient>
                                    <linearGradient id="g2" x1="-10" y1="14.6" x2="19.6" y2="14.6" gradientUnits="userSpaceOnUse">
                                        <stop offset="0" stop-color="#F6540E"/>
                                        <stop offset="1" stop-color="#F6540E"/>
                                    </linearGradient>
                                </defs>
                                <style>
                                    .s0 { fill: none;stroke: url(#g1);stroke-width: 3 }
                                    .s1 { fill: none } 
                                    .s2 { fill: none;stroke: url(#g2);stroke-width: 3 } 
                                </style>
                                <g id="Layer">
                                    <path id="right-h-pathct_heading-4e282861" fill-rule="evenodd" class="s0" d="m-0.1 8.9h27.1c0 0 5.1-3.1 0-6.5"/>
                                    <g id="Layer">
                                        <path id="right-h-bgct_heading-4e282861" fill-rule="evenodd" class="s1" d="m-10 14.6h27.4c0 0 5.1 3 0 6.4"/>
                                    </g>
                                    <path id="right-h-bgct_heading-4e282861" fill-rule="evenodd" class="s2" d="m-10 14.6h27.4c0 0 5.1 3 0 6.4"/>
                                </g>
                            </svg></span></p>
                            <h2 class="heading">Codesdesk Technology</h2>
                            <p class="text">We deliver best-in-class web and mobile solutions that will retain the attention of the target audience.</p>
                            <div class="image-slider-bt">
                                <a routerLink="/contact" routerLinkActive="active" class="svg-button"><svg xmlns="http://www.w3.org/2000/svg" width="20" height="20"
                                        viewBox="0 0 20 20" fill="none">
                                        <path
                                            d="M8.50352 1.30566L9.49448 0.314697C9.91407 -0.104899 10.5926 -0.104899 11.0077 0.314697L19.6853 8.98784C20.1049 9.40743 20.1049 10.0859 19.6853 10.5011L11.0077 19.1787C10.5881 19.5983 9.90961 19.5983 9.49448 19.1787L8.50352 18.1877C8.07946 17.7636 8.08838 17.0718 8.52137 16.6566L13.9002 11.5322H1.07131C0.477625 11.5322 0 11.0546 0 10.4609V9.03247C0 8.43879 0.477625 7.96117 1.07131 7.96117H13.9002L8.52137 2.83674C8.08392 2.4216 8.07499 1.72972 8.50352 1.30566Z"
                                            fill="white" />
                                    </svg>
                                </a>
                            </div>
                        </div>
                    </div>
                    <div ngxSlickItem class="image-slide-s image-slide-1 p-relative">
                        <img src="assets/image/image-slide-2.png" class="w-100" alt="">
                        <div class="image-slide-text">
                            <p class="sub-text">Case Studies <span><svg version="1.2" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 33 21" width="33" height="21">
                                <title>image</title>
                                <defs>
                                    <linearGradient id="g1" x1="-0.1" y1="2.4" x2="29.3" y2="2.4" gradientUnits="userSpaceOnUse">
                                        <stop offset="0" stop-color="#F6540E"/>
                                        <stop offset="1" stop-color="#F6540E"/>
                                    </linearGradient>
                                    <linearGradient id="g2" x1="-10" y1="14.6" x2="19.6" y2="14.6" gradientUnits="userSpaceOnUse">
                                        <stop offset="0" stop-color="#F6540E"/>
                                        <stop offset="1" stop-color="#F6540E"/>
                                    </linearGradient>
                                </defs>
                                <style>
                                    .s0 { fill: none;stroke: url(#g1);stroke-width: 3 }
                                    .s1 { fill: none } 
                                    .s2 { fill: none;stroke: url(#g2);stroke-width: 3 } 
                                </style>
                                <g id="Layer">
                                    <path id="right-h-pathct_heading-4e282861" fill-rule="evenodd" class="s0" d="m-0.1 8.9h27.1c0 0 5.1-3.1 0-6.5"/>
                                    <g id="Layer">
                                        <path id="right-h-bgct_heading-4e282861" fill-rule="evenodd" class="s1" d="m-10 14.6h27.4c0 0 5.1 3 0 6.4"/>
                                    </g>
                                    <path id="right-h-bgct_heading-4e282861" fill-rule="evenodd" class="s2" d="m-10 14.6h27.4c0 0 5.1 3 0 6.4"/>
                                </g>
                            </svg></span></p>
                            <h2 class="heading">Infrastructure Technology</h2>
                            <p class="text">Ten things you should know about an IT provider's managed services. See how the others stack up against IT Solutions.</p>
                            <div class="image-slider-bt">
                                <a routerLink="/contact" routerLinkActive="active" class="svg-button"><svg xmlns="http://www.w3.org/2000/svg" width="20" height="20"
                                        viewBox="0 0 20 20" fill="none">
                                        <path
                                            d="M8.50352 1.30566L9.49448 0.314697C9.91407 -0.104899 10.5926 -0.104899 11.0077 0.314697L19.6853 8.98784C20.1049 9.40743 20.1049 10.0859 19.6853 10.5011L11.0077 19.1787C10.5881 19.5983 9.90961 19.5983 9.49448 19.1787L8.50352 18.1877C8.07946 17.7636 8.08838 17.0718 8.52137 16.6566L13.9002 11.5322H1.07131C0.477625 11.5322 0 11.0546 0 10.4609V9.03247C0 8.43879 0.477625 7.96117 1.07131 7.96117H13.9002L8.52137 2.83674C8.08392 2.4216 8.07499 1.72972 8.50352 1.30566Z"
                                            fill="white" />
                                    </svg>
                                </a>
                            </div>
                        </div>
                    </div>
                    <div ngxSlickItem class="image-slide-s image-slide-1 p-relative">
                        <img src="assets/image/image-slide-1.png" class="w-100" alt="">
                        <div class="image-slide-text">
                            <p class="sub-text">Case Studies <span><svg version="1.2" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 33 21" width="33" height="21">
                                <title>image</title>
                                <defs>
                                    <linearGradient id="g1" x1="-0.1" y1="2.4" x2="29.3" y2="2.4" gradientUnits="userSpaceOnUse">
                                        <stop offset="0" stop-color="#F6540E"/>
                                        <stop offset="1" stop-color="#F6540E"/>
                                    </linearGradient>
                                    <linearGradient id="g2" x1="-10" y1="14.6" x2="19.6" y2="14.6" gradientUnits="userSpaceOnUse">
                                        <stop offset="0" stop-color="#F6540E"/>
                                        <stop offset="1" stop-color="#F6540E"/>
                                    </linearGradient>
                                </defs>
                                <style>
                                    .s0 { fill: none;stroke: url(#g1);stroke-width: 3 }
                                    .s1 { fill: none } 
                                    .s2 { fill: none;stroke: url(#g2);stroke-width: 3 } 
                                </style>
                                <g id="Layer">
                                    <path id="right-h-pathct_heading-4e282861" fill-rule="evenodd" class="s0" d="m-0.1 8.9h27.1c0 0 5.1-3.1 0-6.5"/>
                                    <g id="Layer">
                                        <path id="right-h-bgct_heading-4e282861" fill-rule="evenodd" class="s1" d="m-10 14.6h27.4c0 0 5.1 3 0 6.4"/>
                                    </g>
                                    <path id="right-h-bgct_heading-4e282861" fill-rule="evenodd" class="s2" d="m-10 14.6h27.4c0 0 5.1 3 0 6.4"/>
                                </g>
                            </svg></span></p>
                            <h2 class="heading">Information Security</h2>
                            <p class="text">Many Managed Services Providers make ambitious promises that they fail to deliver. We back up our services.</p>
                            <div class="image-slider-bt">
                                <a routerLink="/contact" routerLinkActive="active" class="svg-button"><svg xmlns="http://www.w3.org/2000/svg" width="20" height="20"
                                        viewBox="0 0 20 20" fill="none">
                                        <path
                                            d="M8.50352 1.30566L9.49448 0.314697C9.91407 -0.104899 10.5926 -0.104899 11.0077 0.314697L19.6853 8.98784C20.1049 9.40743 20.1049 10.0859 19.6853 10.5011L11.0077 19.1787C10.5881 19.5983 9.90961 19.5983 9.49448 19.1787L8.50352 18.1877C8.07946 17.7636 8.08838 17.0718 8.52137 16.6566L13.9002 11.5322H1.07131C0.477625 11.5322 0 11.0546 0 10.4609V9.03247C0 8.43879 0.477625 7.96117 1.07131 7.96117H13.9002L8.52137 2.83674C8.08392 2.4216 8.07499 1.72972 8.50352 1.30566Z"
                                            fill="white" />
                                    </svg>
                                </a>
                            </div>
                        </div>
                    </div>
                    <div ngxSlickItem class="image-slide-s image-slide-1 p-relative">
                        <img src="assets/image/image-slide-4.png" class="w-100" alt="">
                        <div class="image-slide-text">
                            <p class="sub-text">Case Studies <span><svg version="1.2" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 33 21" width="33" height="21">
                                <title>image</title>
                                <defs>
                                    <linearGradient id="g1" x1="-0.1" y1="2.4" x2="29.3" y2="2.4" gradientUnits="userSpaceOnUse">
                                        <stop offset="0" stop-color="#F6540E"/>
                                        <stop offset="1" stop-color="#F6540E"/>
                                    </linearGradient>
                                    <linearGradient id="g2" x1="-10" y1="14.6" x2="19.6" y2="14.6" gradientUnits="userSpaceOnUse">
                                        <stop offset="0" stop-color="#F6540E"/>
                                        <stop offset="1" stop-color="#F6540E"/>
                                    </linearGradient>
                                </defs>
                                <style>
                                    .s0 { fill: none;stroke: url(#g1);stroke-width: 3 }
                                    .s1 { fill: none } 
                                    .s2 { fill: none;stroke: url(#g2);stroke-width: 3 } 
                                </style>
                                <g id="Layer">
                                    <path id="right-h-pathct_heading-4e282861" fill-rule="evenodd" class="s0" d="m-0.1 8.9h27.1c0 0 5.1-3.1 0-6.5"/>
                                    <g id="Layer">
                                        <path id="right-h-bgct_heading-4e282861" fill-rule="evenodd" class="s1" d="m-10 14.6h27.4c0 0 5.1 3 0 6.4"/>
                                    </g>
                                    <path id="right-h-bgct_heading-4e282861" fill-rule="evenodd" class="s2" d="m-10 14.6h27.4c0 0 5.1 3 0 6.4"/>
                                </g>
                            </svg></span></p>
                            <h2 class="heading">Codesdesk Technology</h2>
                            <p class="text">Ten things you should know about an IT provider's managed services. See how the others stack up against IT Solutions.</p>
                            <div class="image-slider-bt">
                                <a routerLink="/contact" routerLinkActive="active" class="svg-button"><svg xmlns="http://www.w3.org/2000/svg" width="20" height="20"
                                        viewBox="0 0 20 20" fill="none">
                                        <path
                                            d="M8.50352 1.30566L9.49448 0.314697C9.91407 -0.104899 10.5926 -0.104899 11.0077 0.314697L19.6853 8.98784C20.1049 9.40743 20.1049 10.0859 19.6853 10.5011L11.0077 19.1787C10.5881 19.5983 9.90961 19.5983 9.49448 19.1787L8.50352 18.1877C8.07946 17.7636 8.08838 17.0718 8.52137 16.6566L13.9002 11.5322H1.07131C0.477625 11.5322 0 11.0546 0 10.4609V9.03247C0 8.43879 0.477625 7.96117 1.07131 7.96117H13.9002L8.52137 2.83674C8.08392 2.4216 8.07499 1.72972 8.50352 1.30566Z"
                                            fill="white" />
                                    </svg>
                                </a>
                            </div>
                        </div>
                    </div>

                </ngx-slick-carousel>

            </div>
            <div class="slider-static-text text-tab-padding flex-item p-relative">
                <img src="assets/image/dots.png" alt="" class="dots-image">
                <p class="sub-text">About Our Company <span><svg version="1.2" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 33 21" width="33" height="21">
                    <title>image</title>
                    <defs>
                        <linearGradient id="g1" x1="-0.1" y1="2.4" x2="29.3" y2="2.4" gradientUnits="userSpaceOnUse">
                            <stop offset="0" stop-color="#F6540E"/>
                            <stop offset="1" stop-color="#F6540E"/>
                        </linearGradient>
                        <linearGradient id="g2" x1="-10" y1="14.6" x2="19.6" y2="14.6" gradientUnits="userSpaceOnUse">
                            <stop offset="0" stop-color="#F6540E"/>
                            <stop offset="1" stop-color="#F6540E"/>
                        </linearGradient>
                    </defs>
                    <style>
                        .s0 { fill: none;stroke: url(#g1);stroke-width: 3 }
                        .s1 { fill: none } 
                        .s2 { fill: none;stroke: url(#g2);stroke-width: 3 } 
                    </style>
                    <g id="Layer">
                        <path id="right-h-pathct_heading-4e282861" fill-rule="evenodd" class="s0" d="m-0.1 8.9h27.1c0 0 5.1-3.1 0-6.5"/>
                        <g id="Layer">
                            <path id="right-h-bgct_heading-4e282861" fill-rule="evenodd" class="s1" d="m-10 14.6h27.4c0 0 5.1 3 0 6.4"/>
                        </g>
                        <path id="right-h-bgct_heading-4e282861" fill-rule="evenodd" class="s2" d="m-10 14.6h27.4c0 0 5.1 3 0 6.4"/>
                    </g>
                </svg></span></p>
                <h2 class="heading">Your one-stop solution for Shopify-based website designing & development</h2>
                <div class="text-left-or-line">
                    <p class="text">We are passionate about helping businesses succeed online. With our expertise in Shopify, we offer top-notch website designing and development services tailored to your unique needs.
                    </p>
                    <p class="text">With years of experience in the industry, our team of talented designers and developers have successfully delivered exceptional Shopify websites that not only look stunning but also drive results.</p>
                </div>
                <div class="icon-text-wrapper flex col-2">
                    <div class="icon-text flex-item">
                        <img src="assets/image/money-back.png" alt="">
                        <h4 class="text-icon">Moneyback Gurentee</h4>
                    </div>
                    <div class="icon-text flex-item">
                        <img src="assets/image/customer-service.png" alt="">
                        <h4 class="text-icon">Technical Support</h4>
                    </div>
                </div>
                <div class="buttons flex">
                    <a routerLink="/contact" routerLinkActive="active" class="banner-bt cdk-button">Contact us</a>
                    <a class="call-icon-text flex align-center" href="tel: +91-00000-00000">
                        <span class="call-icon p-relative flex align-center justify-center"><img
                                src="assets/image/telephone.png" alt=""></span>
                        <span class="call-text">
                            <span class="call-txt">Call for help</span>
                        <span class="call-number">+91-99880-74677</span>
                        </span>
                    </a>
                </div>
            </div>
        </div>
    </div>
</section>

<!--------------------offer-services start---------------------------->
<section id="offer-services">
    <div class="container">
        <div class="flex col-2 align-items-center">
            <div class="flex-item">
                <div class="img-with-text">
                    <img src="assets/image/digital-services1.png">
                    <h3 class="offer-heading">We Offer A Full-cycle Of Web Design Services</h3>
                    <p class="offer-text">Websites are the first phase of interaction with your customers, and it relates to your website design. We offer exceptional web design services that help you stay connected to your customers and prospects. Leverage our superior web
                        design services and let your business and company grow. We work closely with our clients and increase their online exposure by following the protocols here.
                    </p>
                </div>

            </div>
            <div class="flex-item">
                <div class="circle">
                    <div class="icon icon1">
                        <img src="assets/image/app-development1.png">
                    </div>
                    <div class="icon icon2">
                        <img src="assets/image/shopping1.png">
                    </div>
                    <div class="offer-slider">
                        <ngx-slick-carousel class="cs-slider" #slickModal="slick-carousel" [config]="slideConfig">
                            <div class="slide1" ngxSlickItem>
                                <h2 class="heading">Coding and Testing</h2>
                                <div class="circle-text">Developers work on coding, maintain the feel and look of the website as the designer instructs them. The website is ready for testing.</div>
                            </div>
                            <div class="slide2" ngxSlickItem>
                                <h2 class="heading">Web developer</h2>
                                <div class="circle-text">Developers work on coding, maintain the feel and look of the website as the designer instructs them. The website is ready for testing.</div>
                            </div>
                            <div class="slide3" ngxSlickItem>
                                <h2 class="heading">Grapgic designing</h2>
                                <div class="circle-text">Developers work on coding, maintain the feel and look of the website as the designer instructs them. The website is ready for testing.</div>
                            </div>
                            <div class="slide3" ngxSlickItem>
                                <h2 class="heading">App developer</h2>
                                <div class="circle-text">Developers work on coding, maintain the feel and look of the website as the designer instructs them. The website is ready for testing.</div>
                            </div>
                        </ngx-slick-carousel>
                    </div>
                    <div class="icon icon3">
                        <img src="assets/image/designing1.png">
                    </div>
                    <div class="icon icon4">
                        <img src="assets/image/web-design.png">
                    </div>
                </div>
            </div>
        </div>
    </div>

</section>
<!--------------------offer-services ends---------------------------->

<!--------------------Expect section start---------------------------->

<section id="expect-us" class="margin-90">
    <div class="container">
        <div class="service-head center">
            <h2 class="back-txt ">EXPECT SERVICE</h2>
            <p class="sub-text flex align-items-center desktop"><span class="sub-text-icon-left"><svg class="svg-rotate" version="1.2" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 33 21" width="33" height="21">
                <title>image</title>
                <defs>
                    <linearGradient id="g1" x1="-0.1" y1="2.4" x2="29.3" y2="2.4" gradientUnits="userSpaceOnUse">
                        <stop offset="0" stop-color="#F6540E"/>
                        <stop offset="1" stop-color="#F6540E"/>
                    </linearGradient>
                    <linearGradient id="g2" x1="-10" y1="14.6" x2="19.6" y2="14.6" gradientUnits="userSpaceOnUse">
                        <stop offset="0" stop-color="#F6540E"/>
                        <stop offset="1" stop-color="#F6540E"/>
                    </linearGradient>
                </defs>
                <style>
                    .s0 { fill: none;stroke: url(#g1);stroke-width: 3 }
                    .s1 { fill: none } 
                    .s2 { fill: none;stroke: url(#g2);stroke-width: 3 } 
                </style>
                <g id="Layer">
                    <path id="right-h-pathct_heading-4e282861" fill-rule="evenodd" class="s0" d="m-0.1 8.9h27.1c0 0 5.1-3.1 0-6.5"/>
                    <g id="Layer">
                        <path id="right-h-bgct_heading-4e282861" fill-rule="evenodd" class="s1" d="m-10 14.6h27.4c0 0 5.1 3 0 6.4"/>
                    </g>
                    <path id="right-h-bgct_heading-4e282861" fill-rule="evenodd" class="s2" d="m-10 14.6h27.4c0 0 5.1 3 0 6.4"/>
                </g>
            </svg></span>What To Expect From Us<span><svg version="1.2" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 33 21" width="33" height="21">
                <title>image</title>
                <defs>
                    <linearGradient id="g1" x1="-0.1" y1="2.4" x2="29.3" y2="2.4" gradientUnits="userSpaceOnUse">
                        <stop offset="0" stop-color="#F6540E"/>
                        <stop offset="1" stop-color="#F6540E"/>
                    </linearGradient>
                    <linearGradient id="g2" x1="-10" y1="14.6" x2="19.6" y2="14.6" gradientUnits="userSpaceOnUse">
                        <stop offset="0" stop-color="#F6540E"/>
                        <stop offset="1" stop-color="#F6540E"/>
                    </linearGradient>
                </defs>
                <style>
                    .s0 { fill: none;stroke: url(#g1);stroke-width: 3 }
                    .s1 { fill: none } 
                    .s2 { fill: none;stroke: url(#g2);stroke-width: 3 } 
                </style>
                <g id="Layer">
                    <path id="right-h-pathct_heading-4e282861" fill-rule="evenodd" class="s0" d="m-0.1 8.9h27.1c0 0 5.1-3.1 0-6.5"/>
                    <g id="Layer">
                        <path id="right-h-bgct_heading-4e282861" fill-rule="evenodd" class="s1" d="m-10 14.6h27.4c0 0 5.1 3 0 6.4"/>
                    </g>
                    <path id="right-h-bgct_heading-4e282861" fill-rule="evenodd" class="s2" d="m-10 14.6h27.4c0 0 5.1 3 0 6.4"/>
                </g>
            </svg></span></p>
            <p class="sub-text flex align-items-center mobile"><span class="sub-text-icon-left"><svg class="svg-rotate" version="1.2" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 33 21" width="33" height="21">
                <title>image</title>
                <defs>
                    <linearGradient id="g1" x1="-0.1" y1="2.4" x2="29.3" y2="2.4" gradientUnits="userSpaceOnUse">
                        <stop offset="0" stop-color="#F6540E"/>
                        <stop offset="1" stop-color="#F6540E"/>
                    </linearGradient>
                    <linearGradient id="g2" x1="-10" y1="14.6" x2="19.6" y2="14.6" gradientUnits="userSpaceOnUse">
                        <stop offset="0" stop-color="#F6540E"/>
                        <stop offset="1" stop-color="#F6540E"/>
                    </linearGradient>
                </defs>
                <style>
                    .s0 { fill: none;stroke: url(#g1);stroke-width: 3 }
                    .s1 { fill: none } 
                    .s2 { fill: none;stroke: url(#g2);stroke-width: 3 } 
                </style>
                <g id="Layer">
                    <path id="right-h-pathct_heading-4e282861" fill-rule="evenodd" class="s0" d="m-0.1 8.9h27.1c0 0 5.1-3.1 0-6.5"/>
                    <g id="Layer">
                        <path id="right-h-bgct_heading-4e282861" fill-rule="evenodd" class="s1" d="m-10 14.6h27.4c0 0 5.1 3 0 6.4"/>
                    </g>
                    <path id="right-h-bgct_heading-4e282861" fill-rule="evenodd" class="s2" d="m-10 14.6h27.4c0 0 5.1 3 0 6.4"/>
                </g>
            </svg></span>Expect From Us<span><svg version="1.2" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 33 21" width="33" height="21">
                                <title>image</title>
                                <defs>
                                    <linearGradient id="g1" x1="-0.1" y1="2.4" x2="29.3" y2="2.4" gradientUnits="userSpaceOnUse">
                                        <stop offset="0" stop-color="#F6540E"/>
                                        <stop offset="1" stop-color="#F6540E"/>
                                    </linearGradient>
                                    <linearGradient id="g2" x1="-10" y1="14.6" x2="19.6" y2="14.6" gradientUnits="userSpaceOnUse">
                                        <stop offset="0" stop-color="#F6540E"/>
                                        <stop offset="1" stop-color="#F6540E"/>
                                    </linearGradient>
                                </defs>
                                <style>
                                    .s0 { fill: none;stroke: url(#g1);stroke-width: 3 }
                                    .s1 { fill: none } 
                                    .s2 { fill: none;stroke: url(#g2);stroke-width: 3 } 
                                </style>
                                <g id="Layer">
                                    <path id="right-h-pathct_heading-4e282861" fill-rule="evenodd" class="s0" d="m-0.1 8.9h27.1c0 0 5.1-3.1 0-6.5"/>
                                    <g id="Layer">
                                        <path id="right-h-bgct_heading-4e282861" fill-rule="evenodd" class="s1" d="m-10 14.6h27.4c0 0 5.1 3 0 6.4"/>
                                    </g>
                                    <path id="right-h-bgct_heading-4e282861" fill-rule="evenodd" class="s2" d="m-10 14.6h27.4c0 0 5.1 3 0 6.4"/>
                                </g>
                            </svg></span></p>

        </div>

        <div class="expect">
            <div class="card-all-wrap flex-row space-between wrap">
                <div class="card mobile-card">
                    <img src="assets/image/management-1.png" alt="">
                    <h3 class="card-head">CUSTOMIZED SOLUTIONS</h3>
                    <p class="text">We focus on giving a personalized experience to our customers that is why we will customize every solution as per your business requirements.</p>
                </div>
                <div class="card desktop-card">
                    <img src="assets/image/management-2.png" alt="">
                    <h3 class="card-head">SAVE MONEY & TIME</h3>
                    <p class="text">We focus on giving a personalized experience to our customers that is why we will customize every solution as per your business requirements.</p>
                </div>
                <div class="card desktop-card">
                    <img src="assets/image/management-3.png" alt="">
                    <h3 class="card-head">SKILLED DEVELOPERS</h3>
                    <p class="text">We focus on giving a personalized experience to our customers that is why we will customize every solution as per your business requirements.</p>
                </div>
                <div class="card desktop-card">
                    <img src="assets/image/management-4.png" alt="">
                    <h3 class="card-head">24/7 DEDICATED SUPPORT</h3>
                    <p class="text">We focus on giving a personalized experience to our customers that is why we will customize every solution as per your business requirements.</p>
                </div>
                <div class="card desktop-card">
                    <img src="assets/image/management-5.png" alt="">
                    <h3 class="card-head">​​​​​INTERACTIVE DESIGNS</h3>
                    <p class="text">We focus on giving a personalized experience to our customers that is why we will customize every solution as per your business requirements.</p>
                </div>
                <div class="card desktop-card">
                    <img src="assets/image/management-6.png" alt="">
                    <h3 class="card-head">DELIVERING HIGH QUALITY</h3>
                    <p class="text">We focus on giving a personalized experience to our customers that is why we will customize every solution as per your business requirements.</p>
                </div>
            </div>
        </div>
    </div>
</section>



<!--------------------Expect section ends---------------------------->
<!--------------------Quote section start---------------------------->

<section class="quote-section">
    <div class="container">
        <div class="quote-wrapper flex-row space-between align-items-center">
            <div class="quote-txt">
                <h2 class="quote-heading">Looking for the Best IT Business Solutions?</h2>
                <p class="quote-d">As a app web crawler expert, We will help to organize.</p>
            </div>
            <!-- <button class="black-button"> Get a quote</button> -->
            <a routerLink="/contact" routerLinkActive="active" class="black-button-two">
                <span></span>
                <span></span>
                <span></span>
                <span></span> Get a quote</a>
        </div>
    </div>
</section>
<!--------------------Quote section ends---------------------------->