<section class="about-banner">
    <div class="about-bg">
        <div class="container">
            <div class="about-text">
                <h1 class="banner-heading">CONTACT US</h1>
                <h2 class="banner-subheading">Codesdesk Technology Private Limited</h2>
                <p class="banner-text">Talk to us about your project. <a href="mailto:info@codesdesk.com">info@codesdesk.com</a></p>
                <div class="banner-buttons">
                    <a routerLink="/career" routerLinkActive="active" class="black-button-two">
                        <span></span>
                        <span></span>
                        <span></span>
                        <span></span> Career</a>
                    <a routerLink="/contact" routerLinkActive="active" class="white-button-two">
                        <span></span>
                        <span></span>
                        <span></span>
                        <span></span> Get started</a>
                </div>
            </div>
        </div>
    </div>
</section>
<section class="contact-us padding-90">
    <div class="container">
        <div class="contact-us-wrapper flex-row space-between">
            <div class="contact-text">
                <div class="contact-heading-red flex-row align-items-cente">
                    <h2 class="text-red">contact us</h2>
                    <svg version="1.2" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 33 21" width="33" height="21">
                        <title>image</title>
                        <defs>
                            <linearGradient id="g1" x1="-0.1" y1="2.4" x2="29.3" y2="2.4" gradientUnits="userSpaceOnUse">
                                <stop offset="0" stop-color="#F6540E"/>
                                <stop offset="1" stop-color="#F6540E"/>
                            </linearGradient>
                            <linearGradient id="g2" x1="-10" y1="14.6" x2="19.6" y2="14.6" gradientUnits="userSpaceOnUse">
                                <stop offset="0" stop-color="#F6540E"/>
                                <stop offset="1" stop-color="#F6540E"/>
                            </linearGradient>
                        </defs>
                        <style>
                            .s0 { fill: none;stroke: url(#g1);stroke-width: 3 }
                            .s1 { fill: none } 
                            .s2 { fill: none;stroke: url(#g2);stroke-width: 3 } 
                        </style>
                        <g id="Layer">
                            <path id="right-h-pathct_heading-4e282861" fill-rule="evenodd" class="s0" d="m-0.1 8.9h27.1c0 0 5.1-3.1 0-6.5"/>
                            <g id="Layer">
                                <path id="right-h-bgct_heading-4e282861" fill-rule="evenodd" class="s1" d="m-10 14.6h27.4c0 0 5.1 3 0 6.4"/>
                            </g>
                            <path id="right-h-bgct_heading-4e282861" fill-rule="evenodd" class="s2" d="m-10 14.6h27.4c0 0 5.1 3 0 6.4"/>
                        </g>
                    </svg>
                </div>
                <h2 class="contact-heading-black">Get in touch with us</h2>
                <p class="text">here are many variations of passages of Lorem Ipsum available, but the majority have suffered alteration in some form, by injected humour, or randomised words which don't look even slightly believable.</p>
                <ul class="contact-list">
                    <li class="contact flex-row align-items-center ">
                        <span class="top-list"><svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 576 512"><path d="M575.8 255.5c0 18-15 32.1-32 32.1h-32l.7 160.2c0 2.7-.2 5.4-.5 8.1V472c0 22.1-17.9 40-40 40H456c-1.1 0-2.2 0-3.3-.1c-1.4 .1-2.8 .1-4.2 .1H416 392c-22.1 0-40-17.9-40-40V448 384c0-17.7-14.3-32-32-32H256c-17.7 0-32 14.3-32 32v64 24c0 22.1-17.9 40-40 40H160 128.1c-1.5 0-3-.1-4.5-.2c-1.2 .1-2.4 .2-3.6 .2H104c-22.1 0-40-17.9-40-40V360c0-.9 0-1.9 .1-2.8V287.6H32c-18 0-32-14-32-32.1c0-9 3-17 10-24L266.4 8c7-7 15-8 22-8s15 2 21 7L564.8 231.5c8 7 12 15 11 24z"/></svg></span>
                        <div class="list-text">
                            <h3 class="list-head">Our Location</h3>
                            <p class="txt">#407 Tower A, Bestech Business Tower, Sector 66 Mohali, Punjab 160055</p>
                        </div>
                    </li>
                    <li class="contact flex-row align-items-center ">
                        <span><svg version="1.0" xmlns="http://www.w3.org/2000/svg"
                            width="512.000000pt" viewBox="0 0 512.000000 512.000000"
                            preserveAspectRatio="xMidYMid meet">
                           
                           <g transform="translate(0.000000,512.000000) scale(0.100000,-0.100000)"
                           fill="#000000" stroke="none">
                           <path d="M2368 4900 c-817 -44 -1587 -390 -2194 -984 -141 -139 -169 -189
                           -169 -311 0 -127 13 -147 315 -464 143 -150 276 -286 296 -301 54 -43 125 -63
                           203 -58 84 6 149 39 216 108 119 124 327 283 502 384 124 72 183 148 197 256
                           4 25 22 166 42 315 19 148 37 271 39 273 17 17 325 91 470 113 116 18 433 18
                           550 0 172 -25 475 -101 475 -119 0 -4 14 -106 30 -227 17 -121 35 -260 40
                           -309 18 -157 64 -222 219 -314 155 -92 280 -185 417 -313 81 -76 149 -130 182
                           -146 96 -45 224 -30 309 37 14 11 145 145 290 298 305 321 318 340 318 467 0
                           122 -28 172 -169 311 -541 530 -1198 856 -1931 959 -101 14 -426 36 -485 33
                           -14 0 -87 -4 -162 -8z"/>
                           <path d="M1523 3186 c-136 -33 -261 -126 -336 -249 -80 -130 -715 -1331 -734
                           -1387 -16 -50 -18 -95 -18 -535 l0 -480 32 -67 c56 -118 157 -206 278 -239 42
                           -12 338 -14 1815 -14 1477 0 1773 2 1815 14 121 33 222 121 278 239 l32 67 0
                           480 c0 440 -2 485 -18 535 -19 56 -654 1257 -734 1387 -77 127 -212 223 -351
                           252 -81 17 -1989 14 -2059 -3z m460 -637 c91 -25 153 -122 145 -224 -18 -214
                           -320 -261 -403 -63 -69 166 83 336 258 287z m640 0 c52 -14 112 -71 133 -124
                           24 -65 16 -144 -22 -198 -113 -160 -366 -96 -382 98 -13 155 121 266 271 224z
                           m640 0 c91 -25 153 -122 145 -224 -18 -214 -320 -261 -403 -63 -69 166 83 336
                           258 287z m-1280 -640 c91 -25 153 -122 145 -224 -18 -214 -320 -261 -403 -63
                           -69 166 83 336 258 287z m640 0 c52 -14 112 -71 133 -124 24 -65 16 -144 -22
                           -198 -113 -160 -366 -96 -382 98 -13 155 121 266 271 224z m640 0 c91 -25 153
                           -122 145 -224 -18 -214 -320 -261 -403 -63 -69 166 83 336 258 287z m-1280
                           -640 c91 -25 153 -122 145 -224 -18 -214 -320 -261 -403 -63 -69 166 83 336
                           258 287z m640 0 c52 -14 112 -71 133 -124 24 -65 16 -144 -22 -198 -113 -160
                           -366 -96 -382 98 -13 155 121 266 271 224z m640 0 c91 -25 153 -122 145 -224
                           -18 -214 -320 -261 -403 -63 -69 166 83 336 258 287z"/>
                           </g>
                           </svg>
                           </span>
                        <div class="list-text">
                            <h3 class="list-head">Phone Number</h3>
                            <a href="tel:+91-99880-74677" class="txt">+91-99880-74677</a>
                        </div>
                    </li>
                    <li class="contact flex-row align-items-center ">
                        <span><svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 512 512"><path d="M48 64C21.5 64 0 85.5 0 112c0 15.1 7.1 29.3 19.2 38.4L236.8 313.6c11.4 8.5 27 8.5 38.4 0L492.8 150.4c12.1-9.1 19.2-23.3 19.2-38.4c0-26.5-21.5-48-48-48H48zM0 176V384c0 35.3 28.7 64 64 64H448c35.3 0 64-28.7 64-64V176L294.4 339.2c-22.8 17.1-54 17.1-76.8 0L0 176z"/></svg></span>
                        <div class="list-text">
                            <h3 class="list-head">Email Address</h3>
                            <a href="mailto:info@codesdesk.com" class="txt">info@codesdesk.com</a>
                        </div>
                    </li>

                </ul>
            </div>
            <div class="contact-form-wrap">
                <form id="contact-form-data" action="" method="get">
                    <label for="name" class="flex-row space-between align-items-center">
                        <input type="text" name="firstname" id="fname" placeholder="First name*" required>
                        <input type="text" name="lasttname" id="lname" placeholder="Last name*" required>
                    </label>
                    <input type="mail" name="email" id="mail" placeholder="Email*" required>
                    <input type="text" name="mobile" id="phone" maxlength="13" placeholder="Phone Number*" required>
                    <input class="massage" name="message" id="Message" type="text" placeholder="Message">
                    <button type="submit" value="Submit" class="black-button-two sub-btn-form">
                        <span></span>
                        <span></span>
                        <span></span>
                        <span></span>
                        Submit</button>
                </form>
        
            </div>
        </div>
    </div>
</section>
<section class="map-section margin-90-b p-relative">
    <div class="map-wrapper">
        <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3431.5273704675524!2d76.73797317556078!3d30.6754347883996!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x390feb21fb585099%3A0x2f07b90259da0c10!2sCODESDESK!5e0!3m2!1sen!2sin!4v1684915239801!5m2!1sen!2sin"
            width="600" height="450" style="border:0;" allowfullscreen="allowfullscreen" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
    </div>
</section>