<section class="job-apply padding-90 bg-grey">
    <div class="container">
        <div class="job-apply-wrapper w-100">
            <div class="service-head center">
                <h2 class="back-txt ">CAREER</h2>
                <p class="sub-text"><span class="sub-text-icon-left"><svg class="svg-rotate" version="1.2" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 33 21" width="33" height="21">
                    <title>image</title>
                    <defs>
                        <linearGradient id="g1" x1="-0.1" y1="2.4" x2="29.3" y2="2.4" gradientUnits="userSpaceOnUse">
                            <stop offset="0" stop-color="#F6540E"/>
                            <stop offset="1" stop-color="#F6540E"/>
                        </linearGradient>
                        <linearGradient id="g2" x1="-10" y1="14.6" x2="19.6" y2="14.6" gradientUnits="userSpaceOnUse">
                            <stop offset="0" stop-color="#F6540E"/>
                            <stop offset="1" stop-color="#F6540E"/>
                        </linearGradient>
                    </defs>
                    <style>
                        .s0 { fill: none;stroke: url(#g1);stroke-width: 3 }
                        .s1 { fill: none } 
                        .s2 { fill: none;stroke: url(#g2);stroke-width: 3 } 
                    </style>
                    <g id="Layer">
                        <path id="right-h-pathct_heading-4e282861" fill-rule="evenodd" class="s0" d="m-0.1 8.9h27.1c0 0 5.1-3.1 0-6.5"/>
                        <g id="Layer">
                            <path id="right-h-bgct_heading-4e282861" fill-rule="evenodd" class="s1" d="m-10 14.6h27.4c0 0 5.1 3 0 6.4"/>
                        </g>
                        <path id="right-h-bgct_heading-4e282861" fill-rule="evenodd" class="s2" d="m-10 14.6h27.4c0 0 5.1 3 0 6.4"/>
                    </g>
                </svg></span>CAREER<span><svg version="1.2" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 33 21" width="33" height="21">
                    <title>image</title>
                    <defs>
                        <linearGradient id="g1" x1="-0.1" y1="2.4" x2="29.3" y2="2.4" gradientUnits="userSpaceOnUse">
                            <stop offset="0" stop-color="#F6540E"/>
                            <stop offset="1" stop-color="#F6540E"/>
                        </linearGradient>
                        <linearGradient id="g2" x1="-10" y1="14.6" x2="19.6" y2="14.6" gradientUnits="userSpaceOnUse">
                            <stop offset="0" stop-color="#F6540E"/>
                            <stop offset="1" stop-color="#F6540E"/>
                        </linearGradient>
                    </defs>
                    <style>
                        .s0 { fill: none;stroke: url(#g1);stroke-width: 3 }
                        .s1 { fill: none } 
                        .s2 { fill: none;stroke: url(#g2);stroke-width: 3 } 
                    </style>
                    <g id="Layer">
                        <path id="right-h-pathct_heading-4e282861" fill-rule="evenodd" class="s0" d="m-0.1 8.9h27.1c0 0 5.1-3.1 0-6.5"/>
                        <g id="Layer">
                            <path id="right-h-bgct_heading-4e282861" fill-rule="evenodd" class="s1" d="m-10 14.6h27.4c0 0 5.1 3 0 6.4"/>
                        </g>
                        <path id="right-h-bgct_heading-4e282861" fill-rule="evenodd" class="s2" d="m-10 14.6h27.4c0 0 5.1 3 0 6.4"/>
                    </g>
                </svg></span></p>

            </div>
            <div class="form-wrapper">
                <form action="" method="get">
                    <label for="name" class="flex-row align-items-center space-between">
                        <input type="text" name="firstname" id="fname" placeholder="First Name*" required>
                        <input type="text" name="lasttname" id="lname" placeholder="Last Name*" required>
                     </label>
                    <input type="mail" name="email" id="mail" placeholder="Email*" required>
                    <input type="tel" name="mobile" id="phone" maxlength="13" placeholder="Phone Number*" required>
                    <select name="experience" id="experience" required>
                        <option value="" disabled selected hidden>Total Experience*</option>
                        <option class="inner-option" value="1">1 Year</option>
                        <option class="inner-option" value="2">2 Year</option>
                        <option class="inner-option" value="3">3 Year</option>
                    </select>
                    <select name="Position" id="Position" required>
                        <option value="" disabled selected hidden>Position*</option>
                        <option value="1">Website Designer</option>
                        <option value="2">Website Developer</option>
                        <option value="3">Shopify Developer</option>
                        <option value="4">Graphic Designer</option>
                        <option value="5">UI/UX Designer</option>
                        <option value="6">Wordpress Designer</option>
                    </select>
                    <input class="c-file" type="file" name="filename" id="myFile">
                    <button type="submit" value="Submit" class="cdk-button custom w-100">Submit</button>
                </form>
            </div>
        </div>
    </div>
</section>