<section class="career-banner">
    <div class="career-bg">
        <div class="container">
        </div>
    </div>
</section>

<section class="icon-with-text margin-90">
    <div class="container">
        <div class="text-icon c-gap flex-row">
            <div class="left-text-c">
                <p class="sub-text">
                    Careers at Codesdesk
                    <span><svg version="1.2" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 33 21" width="33" height="21">
                        <title>image</title>
                        <defs>
                            <linearGradient id="g1" x1="-0.1" y1="2.4" x2="29.3" y2="2.4" gradientUnits="userSpaceOnUse">
                                <stop offset="0" stop-color="#F6540E"/>
                                <stop offset="1" stop-color="#F6540E"/>
                            </linearGradient>
                            <linearGradient id="g2" x1="-10" y1="14.6" x2="19.6" y2="14.6" gradientUnits="userSpaceOnUse">
                                <stop offset="0" stop-color="#F6540E"/>
                                <stop offset="1" stop-color="#F6540E"/>
                            </linearGradient>
                        </defs>
                        <style>
                            .s0 { fill: none;stroke: url(#g1);stroke-width: 3 }
                            .s1 { fill: none } 
                            .s2 { fill: none;stroke: url(#g2);stroke-width: 3 } 
                        </style>
                        <g id="Layer">
                            <path id="right-h-pathct_heading-4e282861" fill-rule="evenodd" class="s0" d="m-0.1 8.9h27.1c0 0 5.1-3.1 0-6.5"/>
                            <g id="Layer">
                                <path id="right-h-bgct_heading-4e282861" fill-rule="evenodd" class="s1" d="m-10 14.6h27.4c0 0 5.1 3 0 6.4"/>
                            </g>
                            <path id="right-h-bgct_heading-4e282861" fill-rule="evenodd" class="s2" d="m-10 14.6h27.4c0 0 5.1 3 0 6.4"/>
                        </g>
                    </svg></span>
                </p>
                <h2 class="heading">Build a future with limitless possibilites</h2>
            </div>
            <div class="right-text-c">
                <p class="txt-l">We also recognise the importance of a healthy work-life balance and support our employees in their endeavours. We offer excellent facilities with innovative office buildings. These are some of the advantages you will enjoy when choosing
                    us:
                </p>
            </div>
        </div>
        <div class="about-icon-wrapper">
            <div class="main-icon-wrapper">
                <div class="inner-icon-wrapper icon-wpapper">
                    <img src="../../assets/image/growth.png" class="inner-icon">
                </div>
                <p>Growth Opportunity</p>
            </div>
            <div class="main-icon-wrapper ">
                <div class="inner-icon-wrapper icon-wpapper icon-wpapper-2">
                    <img src="../../assets/image/bonus.png" class="inner-icon">
                </div>
                <p>Performance Bonus</p>
            </div>
            <div class="main-icon-wrapper ">
                <div class="inner-icon-wrapper icon-wpapper">
                    <img src="../../assets/image/workspace.png" class="inner-icon">
                </div>
                <p>Workplace Celebrations</p>
            </div>
        </div>


    </div>
</section>

<section class="image-with-text image-with-text-career-1">
    <div class="container">
        <div class="service-head center">
            <h2 class="back-txt ">INTERVIEW</h2>
            <p class="sub-text"><span class="sub-text-icon-left"><svg class="svg-rotate" version="1.2" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 33 21" width="33" height="21">
                <title>image</title>
                <defs>
                    <linearGradient id="g1" x1="-0.1" y1="2.4" x2="29.3" y2="2.4" gradientUnits="userSpaceOnUse">
                        <stop offset="0" stop-color="#F6540E"/>
                        <stop offset="1" stop-color="#F6540E"/>
                    </linearGradient>
                    <linearGradient id="g2" x1="-10" y1="14.6" x2="19.6" y2="14.6" gradientUnits="userSpaceOnUse">
                        <stop offset="0" stop-color="#F6540E"/>
                        <stop offset="1" stop-color="#F6540E"/>
                    </linearGradient>
                </defs>
                <style>
                    .s0 { fill: none;stroke: url(#g1);stroke-width: 3 }
                    .s1 { fill: none } 
                    .s2 { fill: none;stroke: url(#g2);stroke-width: 3 } 
                </style>
                <g id="Layer">
                    <path id="right-h-pathct_heading-4e282861" fill-rule="evenodd" class="s0" d="m-0.1 8.9h27.1c0 0 5.1-3.1 0-6.5"/>
                    <g id="Layer">
                        <path id="right-h-bgct_heading-4e282861" fill-rule="evenodd" class="s1" d="m-10 14.6h27.4c0 0 5.1 3 0 6.4"/>
                    </g>
                    <path id="right-h-bgct_heading-4e282861" fill-rule="evenodd" class="s2" d="m-10 14.6h27.4c0 0 5.1 3 0 6.4"/>
                </g>
            </svg></span>Interview Process<span class="sub-text-icon-right"><svg version="1.2" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 33 21" width="33" height="21">
                <title>image</title>
                <defs>
                    <linearGradient id="g1" x1="-0.1" y1="2.4" x2="29.3" y2="2.4" gradientUnits="userSpaceOnUse">
                        <stop offset="0" stop-color="#F6540E"/>
                        <stop offset="1" stop-color="#F6540E"/>
                    </linearGradient>
                    <linearGradient id="g2" x1="-10" y1="14.6" x2="19.6" y2="14.6" gradientUnits="userSpaceOnUse">
                        <stop offset="0" stop-color="#F6540E"/>
                        <stop offset="1" stop-color="#F6540E"/>
                    </linearGradient>
                </defs>
                <style>
                    .s0 { fill: none;stroke: url(#g1);stroke-width: 3 }
                    .s1 { fill: none } 
                    .s2 { fill: none;stroke: url(#g2);stroke-width: 3 } 
                </style>
                <g id="Layer">
                    <path id="right-h-pathct_heading-4e282861" fill-rule="evenodd" class="s0" d="m-0.1 8.9h27.1c0 0 5.1-3.1 0-6.5"/>
                    <g id="Layer">
                        <path id="right-h-bgct_heading-4e282861" fill-rule="evenodd" class="s1" d="m-10 14.6h27.4c0 0 5.1 3 0 6.4"/>
                    </g>
                    <path id="right-h-bgct_heading-4e282861" fill-rule="evenodd" class="s2" d="m-10 14.6h27.4c0 0 5.1 3 0 6.4"/>
                </g>
            </svg></span></p>

        </div>
        <div class="image-with-text-wrapper flex col-2 align-center text-right">
            <div class="image-tab  flex-item">
                <img src="../../assets/image/hr round.png" class="w-100" alt="">
            </div>
            <div class=" career-text-1 flex-item">
                <h2 class="heading career-text-title">HR ROUND</h2>
                <p class="text">Growth is never-ending at Webapp. Whether it's money, skills and talents, or personal growth, it's all taken care of. Growth at Webapp is immense so you don't need to worry about your future at codesdesk.</p>
            </div>
        </div>
    </div>
</section>
<section class="career-line-first">
    <div class="container">
        <div class="career-line-1">
            <img class="desktop" src="../../assets/image/career-botton-line.gif" loop=infinite />
            <img class="mobile" src="../../assets/image/Desktop-path1.gif" loop=infinite />
        </div>
    </div>
</section>

<section class="image-with-text career-image-with-text-2 ">
    <div class="container">
        <div class="image-with-text-wrapper image-with-text-wrapper-center flex col-2 align-center text-left">
            <div class=" flex-item career-text-2">
                <h2 class="career-text-title heading">TECHNICAL ROUND</h2>
                <p class="text">Growth is never-ending at Webapp. Whether it's money, skills and talents, or personal growth, it's all taken care of. Growth at Webapp is immense so you don't need to worry about your future at codesdesk.</p>
            </div>
            <div class="image-tab flex-item">
                <img src="assets/image/technical round.png" class="w-100" alt="">
            </div>
        </div>
    </div>
</section>
<section class="career-line-first">
    <div class="container">
        <div class="career-line-1">
            <img class="desktop rotate-img" src="../../assets/image/career-botton-line.gif">
            <img class="mobile rotate-img" src="../../assets/image/Desktop-path1.gif">
        </div>
    </div>
</section>

<section class="image-with-text image-with-text-career-1">
    <div class="container">
        <div class="image-with-text-wrapper image-with-text-wrapper-last flex col-2 align-center text-right">
            <div class="image-tab  flex-item">
                <img src="../../assets/image/final-round.png" class="w-100" alt="">
            </div>
            <div class=" career-text-1 flex-item">
                <h2 class="heading career-text-title">FINAL ROUND</h2>
                <p class="text">Growth is never-ending at Webapp. Whether it's money, skills and talents, or personal growth, it's all taken care of. Growth at Webapp is immense so you don't need to worry about your future at codesdesk. </p>
            </div>
        </div>
    </div>
</section>

<section class="open-position">
    <div class="container">
        <div class="career-tabs">
            <div class="service-head service-head-last center">
                <h2 class="back-txt ">JOB POSITION</h2>
                <p class="sub-text"><span class="sub-text-icon-left"><svg class="svg-rotate" version="1.2" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 33 21" width="33" height="21">
                    <title>image</title>
                    <defs>
                        <linearGradient id="g1" x1="-0.1" y1="2.4" x2="29.3" y2="2.4" gradientUnits="userSpaceOnUse">
                            <stop offset="0" stop-color="#F6540E"/>
                            <stop offset="1" stop-color="#F6540E"/>
                        </linearGradient>
                        <linearGradient id="g2" x1="-10" y1="14.6" x2="19.6" y2="14.6" gradientUnits="userSpaceOnUse">
                            <stop offset="0" stop-color="#F6540E"/>
                            <stop offset="1" stop-color="#F6540E"/>
                        </linearGradient>
                    </defs>
                    <style>
                        .s0 { fill: none;stroke: url(#g1);stroke-width: 3 }
                        .s1 { fill: none } 
                        .s2 { fill: none;stroke: url(#g2);stroke-width: 3 } 
                    </style>
                    <g id="Layer">
                        <path id="right-h-pathct_heading-4e282861" fill-rule="evenodd" class="s0" d="m-0.1 8.9h27.1c0 0 5.1-3.1 0-6.5"/>
                        <g id="Layer">
                            <path id="right-h-bgct_heading-4e282861" fill-rule="evenodd" class="s1" d="m-10 14.6h27.4c0 0 5.1 3 0 6.4"/>
                        </g>
                        <path id="right-h-bgct_heading-4e282861" fill-rule="evenodd" class="s2" d="m-10 14.6h27.4c0 0 5.1 3 0 6.4"/>
                    </g>
                </svg></span>Open Job Positions<span class="sub-text-icon-right"><svg version="1.2" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 33 21" width="33" height="21">
                    <title>image</title>
                    <defs>
                        <linearGradient id="g1" x1="-0.1" y1="2.4" x2="29.3" y2="2.4" gradientUnits="userSpaceOnUse">
                            <stop offset="0" stop-color="#F6540E"/>
                            <stop offset="1" stop-color="#F6540E"/>
                        </linearGradient>
                        <linearGradient id="g2" x1="-10" y1="14.6" x2="19.6" y2="14.6" gradientUnits="userSpaceOnUse">
                            <stop offset="0" stop-color="#F6540E"/>
                            <stop offset="1" stop-color="#F6540E"/>
                        </linearGradient>
                    </defs>
                    <style>
                        .s0 { fill: none;stroke: url(#g1);stroke-width: 3 }
                        .s1 { fill: none } 
                        .s2 { fill: none;stroke: url(#g2);stroke-width: 3 } 
                    </style>
                    <g id="Layer">
                        <path id="right-h-pathct_heading-4e282861" fill-rule="evenodd" class="s0" d="m-0.1 8.9h27.1c0 0 5.1-3.1 0-6.5"/>
                        <g id="Layer">
                            <path id="right-h-bgct_heading-4e282861" fill-rule="evenodd" class="s1" d="m-10 14.6h27.4c0 0 5.1 3 0 6.4"/>
                        </g>
                        <path id="right-h-bgct_heading-4e282861" fill-rule="evenodd" class="s2" d="m-10 14.6h27.4c0 0 5.1 3 0 6.4"/>
                    </g>
                </svg></span></p>

            </div>
            <div class="tabs">
                <h3 class="tab-heading active"><span>Web Designer</span> <span></span></h3>
                <div class="tabcontent active">
                    <p>Codesdesk Solutions urgently hiring for Graphics Designer for Mohali Location.</p>
                    <h5>Designation / Position :</h5>
                    <p>Web Designer</p>
                    <h5>Experience Required :</h5>
                    <p>1.5 to 3 years</p>
                    <h5>Requirements :</h5>
                    <ul class="tab-list">
                        <li>Lorem ipsum dolor sit amet, consectetur adipiscing elit</li>
                        <li>Nam eget est ut magna interdum tristique.</li>
                        <li>Ut eu tellus imperdiet erat consequat tempor ac et metus. </li>
                        <li> Morbi tincidunt urna a cursus porttitor.</li>
                        <li> Sed vitae erat sed dolor pretium elementum eu vel enim.</li>
                    </ul>
                    <a routerLink="/job-apply" routerLinkActive="active" class="black-button-two">
                        <span></span>
                        <span></span>
                        <span></span>
                        <span></span> Apply Now</a>
                </div>
            </div>

            <div class="tabs">
                <h3 class="tab-heading"><span>Web Developer</span> <span></span></h3>
                <div class="tabcontent">
                    <p>Codesdesk Solutions urgently hiring for Graphics Designer for Mohali Location.</p>
                    <h5>Designation / Position :</h5>
                    <p>Web Designer</p>
                    <h5>Experience Required :</h5>
                    <p>1.5 to 3 years</p>
                    <h5>Requirements :</h5>
                    <ul class="tab-list">
                        <li>Lorem ipsum dolor sit amet, consectetur adipiscing elit</li>
                        <li>Nam eget est ut magna interdum tristique.</li>
                        <li>Ut eu tellus imperdiet erat consequat tempor ac et metus. </li>
                        <li> Morbi tincidunt urna a cursus porttitor.</li>
                        <li> Sed vitae erat sed dolor pretium elementum eu vel enim.</li>
                    </ul>
                    <a routerLink="/job-apply" routerLinkActive="active" class="black-button-two">
                        <span></span>
                        <span></span>
                        <span></span>
                        <span></span> Apply Now</a>
                </div>
            </div>

            <div class="tabs">
                <h3 class="tab-heading"><span>Graphic Designer</span> <span></span></h3>
                <div class="tabcontent">
                    <p>Codesdesk Solutions urgently hiring for Graphics Designer for Mohali Location.</p>
                    <h5>Designation / Position :</h5>
                    <p>Web Designer</p>
                    <h5>Experience Required :</h5>
                    <p>1.5 to 3 years</p>
                    <h5>Requirements :</h5>
                    <ul class="tab-list">
                        <li>Lorem ipsum dolor sit amet, consectetur adipiscing elit</li>
                        <li>Nam eget est ut magna interdum tristique.</li>
                        <li>Ut eu tellus imperdiet erat consequat tempor ac et metus. </li>
                        <li> Morbi tincidunt urna a cursus porttitor.</li>
                        <li> Sed vitae erat sed dolor pretium elementum eu vel enim.</li>
                    </ul>
                    <a routerLink="/job-apply" routerLinkActive="active" class="black-button-two">
                        <span></span>
                        <span></span>
                        <span></span>
                        <span></span> Apply Now</a>
                </div>
            </div>
        </div>
    </div>
</section>