<section class="banner-section">
    <div class="banner-wrapper">
        <div class="text-image-wrapper flex-row align-items-center space-between">
            <div class="text-wrapper">
                <div class="text-all">
                    <div class="banner-text w-100">
                        <p class="text">
                            Delivering success in every solution!
                        </p>
                    </div>
                    <div class="banner-heading w-100">
                        <h1 class="heading">
                            Custom UI and UX Design Services
                        </h1>
                    </div>
                    <div class="banner-text-last">
                        <p class="text-last">We help our customers build captivating user experiences that have a huge impact on conversion rates and brand perception. We create designs that showcase the beauty of your vision.</p>
                    </div>
                    <!-- <button routerLink="/contact" routerLinkActive="active" class="black-button">Contact Us</button> -->
                    <a routerLink="/contact" routerLinkActive="active" class="black-button-two">
                        <span></span>
                        <span></span>
                        <span></span>
                        <span></span> Contact Us</a>
                </div>
            </div>
            <div class="image-wrapper w-100">
                <img class="desktop" src="assets/image/web-banner.png" width="100%" alt="web">
                <img class="mobile" src="assets/image/web_designing-b-m.png" width="100%" alt="web">
            </div>
        </div>
    </div>
</section>
<section class="works-wrap background-p w-100">
    <ngx-slick-carousel class="cs-slider works-wrapper flex-row align-items-center" #slickModal="slick-carousel" [config]="slideConfig">
        <div class="brand-item p-t-b" ngxSlickItem>
            <img src="../../assets/image/figma-logo.png" class="w-100 figma" alt="shopify">
        </div>
        <div class="brand-item p-t-b" ngxSlickItem>
            <img src="../../assets/image/adobe-photoshop.png" class="w-100" alt="shopify">
        </div>
        <div class="brand-item p-t-b" ngxSlickItem>
            <img src="../../assets/image/Adobe_Illustrator.png" class="w-100" alt="shopify">
        </div>
        <div class="brand-item p-t-b" ngxSlickItem>
            <img src="../../assets/image/photopea_logo.png" class="w-100" alt="shopify">
        </div>
        <div class="brand-item p-t-b" ngxSlickItem>
            <img src="../../assets/image/figma-logo.png" class="w-100 figma" alt="shopify">
        </div>
        <div class="brand-item p-t-b" ngxSlickItem>
            <img src="../../assets/image/adobe-photoshop.png" class="w-100" alt="shopify">
        </div>
        <div class="brand-item p-t-b" ngxSlickItem>
            <img src="../../assets/image/Adobe_Illustrator.png" class="w-100" alt="shopify">
        </div>
        <div class="brand-item p-t-b" ngxSlickItem>
            <img src="../../assets/image/photopea_logo.png" class="w-100" alt="shopify">
        </div>
    </ngx-slick-carousel>
</section>
<section class="our-service background-p padding-90">
    <div class="container">
        <div class="our-service-wrapper">
            <div class="our-txt-wrapper p-relative">
                <h2 class="back-txt">OUR SERVICE</h2>
                <div class="our-txt p-absolute flex-row align-items-center">
                    <svg class="svg-rotate" version="1.2" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 33 21" width="33" height="21">
                        <title>image</title>
                        <defs>
                            <linearGradient id="g1" x1="-0.1" y1="2.4" x2="29.3" y2="2.4" gradientUnits="userSpaceOnUse">
                                <stop offset="0" stop-color="#F6540E"/>
                                <stop offset="1" stop-color="#F6540E"/>
                            </linearGradient>
                            <linearGradient id="g2" x1="-10" y1="14.6" x2="19.6" y2="14.6" gradientUnits="userSpaceOnUse">
                                <stop offset="0" stop-color="#F6540E"/>
                                <stop offset="1" stop-color="#F6540E"/>
                            </linearGradient>
                        </defs>
                        <style>
                            .s0 { fill: none;stroke: url(#g1);stroke-width: 3 }
                            .s1 { fill: none } 
                            .s2 { fill: none;stroke: url(#g2);stroke-width: 3 } 
                        </style>
                        <g id="Layer">
                            <path id="right-h-pathct_heading-4e282861" fill-rule="evenodd" class="s0" d="m-0.1 8.9h27.1c0 0 5.1-3.1 0-6.5"/>
                            <g id="Layer">
                                <path id="right-h-bgct_heading-4e282861" fill-rule="evenodd" class="s1" d="m-10 14.6h27.4c0 0 5.1 3 0 6.4"/>
                            </g>
                            <path id="right-h-bgct_heading-4e282861" fill-rule="evenodd" class="s2" d="m-10 14.6h27.4c0 0 5.1 3 0 6.4"/>
                        </g>
                    </svg>
                    <p class="our-service">
                        Our service
                    </p>
                    <svg version="1.2" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 33 21" width="33" height="21">
                        <title>image</title>
                        <defs>
                            <linearGradient id="g1" x1="-0.1" y1="2.4" x2="29.3" y2="2.4" gradientUnits="userSpaceOnUse">
                                <stop offset="0" stop-color="#F6540E"/>
                                <stop offset="1" stop-color="#F6540E"/>
                            </linearGradient>
                            <linearGradient id="g2" x1="-10" y1="14.6" x2="19.6" y2="14.6" gradientUnits="userSpaceOnUse">
                                <stop offset="0" stop-color="#F6540E"/>
                                <stop offset="1" stop-color="#F6540E"/>
                            </linearGradient>
                        </defs>
                        <style>
                            .s0 { fill: none;stroke: url(#g1);stroke-width: 3 }
                            .s1 { fill: none } 
                            .s2 { fill: none;stroke: url(#g2);stroke-width: 3 } 
                        </style>
                        <g id="Layer">
                            <path id="right-h-pathct_heading-4e282861" fill-rule="evenodd" class="s0" d="m-0.1 8.9h27.1c0 0 5.1-3.1 0-6.5"/>
                            <g id="Layer">
                                <path id="right-h-bgct_heading-4e282861" fill-rule="evenodd" class="s1" d="m-10 14.6h27.4c0 0 5.1 3 0 6.4"/>
                            </g>
                            <path id="right-h-bgct_heading-4e282861" fill-rule="evenodd" class="s2" d="m-10 14.6h27.4c0 0 5.1 3 0 6.4"/>
                        </g>
                    </svg>
                </div>
            </div>
            <div class="desktop our-card-wrapper margin-50-40 flex-row align-items-center">
                <div class="card p-relative">
                    <img src="assets/image/Rectangle82.png" width="100%" alt="asdf">
                    <h2 class="heading p-absolute">DECADE IN DESIGN</h2>
                    <div class="text-on-hover p-absolute">
                        <h2 class="hover-heading ">DECADE IN DESIGN</h2>
                        <p class="hover-text ">From basic event apps to scalable enterprise software for Fortune 500 companies, our long-standing design team can help your any idea come into being with the latest tools and tech. Our well-established process and standardised
                            approach to design will ensure the final product looks and works as you required.</p>
                    </div>
                </div>
                <div class="card p-relative">
                    <img src="assets/image/Rectangle83.png" width="100%" alt="asdf">
                    <h2 class="heading p-absolute">ESTABLISHED IN-HOUSE STANDARDS</h2>
                    <div class="text-on-hover p-absolute">
                        <h2 class="hover-heading ">ESTABLISHED IN-HOUSE STANDARDS</h2>
                        <p class="hover-text ">From basic event apps to scalable enterprise software for Fortune 500 companies, our long-standing design team can help your any idea come into being with the latest tools and tech. Our well-established process and standardised
                            approach to design will ensure the final product looks and works as you required.</p>
                    </div>
                </div>
                <div class="card p-relative">
                    <img src="assets/image/Rectangle84.png" width="100%" alt="asdf">
                    <h2 class="heading p-absolute">BROAD-RANGING EXPERTISE</h2>
                    <div class="text-on-hover p-absolute">
                        <h2 class="hover-heading ">BROAD-RANGING EXPERTISE</h2>
                        <p class="hover-text ">From basic event apps to scalable enterprise software for Fortune 500 companies, our long-standing design team can help your any idea come into being with the latest tools and tech. Our well-established process and standardised
                            approach to design will ensure the final product looks and works as you required.</p>
                    </div>
                </div>


            </div>
            <div class="mobile our-card-wrapper margin-50-40 flex-row align-items-center">
                <ngx-slick-carousel class="cs-slider flex-row align-items-center" #slickModal="slick-carousel" [config]="slidecardConfig">
                    <div class="card p-relative">
                        <img src="assets/image/Rectangle82.png" width="100%" alt="asdf">
                        <h2 class="heading p-absolute">DECADE IN DESIGN</h2>
                        <div class="text-on-hover p-absolute">
                            <h2 class="hover-heading ">DECADE IN DESIGN</h2>
                            <p class="hover-text ">From basic event apps to scalable enterprise software for Fortune 500 companies, our long-standing design team can help your any idea come into being with the latest tools and tech. Our well-established process and standardised
                                approach to design will ensure the final product looks and works as you required.</p>
                        </div>
                    </div>
                    <div class="card p-relative">
                        <img src="assets/image/Rectangle83.png" width="100%" alt="asdf">
                        <h2 class="heading p-absolute">ESTABLISHED IN-HOUSE STANDARDS</h2>
                        <div class="text-on-hover p-absolute">
                            <h2 class="hover-heading ">ESTABLISHED IN-HOUSE STANDARDS</h2>
                            <p class="hover-text ">From basic event apps to scalable enterprise software for Fortune 500 companies, our long-standing design team can help your any idea come into being with the latest tools and tech. Our well-established process and standardised
                                approach to design will ensure the final product looks and works as you required.</p>
                        </div>
                    </div>
                    <div class="card p-relative">
                        <img src="assets/image/Rectangle84.png" width="100%" alt="asdf">
                        <h2 class="heading p-absolute">BROAD-RANGING EXPERTISE</h2>
                        <div class="text-on-hover p-absolute">
                            <h2 class="hover-heading ">BROAD-RANGING EXPERTISE</h2>
                            <p class="hover-text ">From basic event apps to scalable enterprise software for Fortune 500 companies, our long-standing design team can help your any idea come into being with the latest tools and tech. Our well-established process and standardised
                                approach to design will ensure the final product looks and works as you required.</p>
                        </div>
                    </div>

                </ngx-slick-carousel>
            </div>

        </div>
    </div>
</section>
<section class="web-design">
    <div class="container">
        <div class="our-txt-wrapper p-relative">
            <h2 class="back-txt">WEB DESIGN</h2>
            <div class="our-txt p-absolute flex-row align-items-center">
                <svg class="svg-rotate" version="1.2" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 33 21" width="33" height="21">
                    <title>image</title>
                    <defs>
                        <linearGradient id="g1" x1="-0.1" y1="2.4" x2="29.3" y2="2.4" gradientUnits="userSpaceOnUse">
                            <stop offset="0" stop-color="#F6540E"/>
                            <stop offset="1" stop-color="#F6540E"/>
                        </linearGradient>
                        <linearGradient id="g2" x1="-10" y1="14.6" x2="19.6" y2="14.6" gradientUnits="userSpaceOnUse">
                            <stop offset="0" stop-color="#F6540E"/>
                            <stop offset="1" stop-color="#F6540E"/>
                        </linearGradient>
                    </defs>
                    <style>
                        .s0 { fill: none;stroke: url(#g1);stroke-width: 3 }
                        .s1 { fill: none } 
                        .s2 { fill: none;stroke: url(#g2);stroke-width: 3 } 
                    </style>
                    <g id="Layer">
                        <path id="right-h-pathct_heading-4e282861" fill-rule="evenodd" class="s0" d="m-0.1 8.9h27.1c0 0 5.1-3.1 0-6.5"/>
                        <g id="Layer">
                            <path id="right-h-bgct_heading-4e282861" fill-rule="evenodd" class="s1" d="m-10 14.6h27.4c0 0 5.1 3 0 6.4"/>
                        </g>
                        <path id="right-h-bgct_heading-4e282861" fill-rule="evenodd" class="s2" d="m-10 14.6h27.4c0 0 5.1 3 0 6.4"/>
                    </g>
                </svg>
                <p class="our-service">
                    Web desiging & development
                </p>
                <svg version="1.2" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 33 21" width="33" height="21">
                    <title>image</title>
                    <defs>
                        <linearGradient id="g1" x1="-0.1" y1="2.4" x2="29.3" y2="2.4" gradientUnits="userSpaceOnUse">
                            <stop offset="0" stop-color="#F6540E"/>
                            <stop offset="1" stop-color="#F6540E"/>
                        </linearGradient>
                        <linearGradient id="g2" x1="-10" y1="14.6" x2="19.6" y2="14.6" gradientUnits="userSpaceOnUse">
                            <stop offset="0" stop-color="#F6540E"/>
                            <stop offset="1" stop-color="#F6540E"/>
                        </linearGradient>
                    </defs>
                    <style>
                        .s0 { fill: none;stroke: url(#g1);stroke-width: 3 }
                        .s1 { fill: none } 
                        .s2 { fill: none;stroke: url(#g2);stroke-width: 3 } 
                    </style>
                    <g id="Layer">
                        <path id="right-h-pathct_heading-4e282861" fill-rule="evenodd" class="s0" d="m-0.1 8.9h27.1c0 0 5.1-3.1 0-6.5"/>
                        <g id="Layer">
                            <path id="right-h-bgct_heading-4e282861" fill-rule="evenodd" class="s1" d="m-10 14.6h27.4c0 0 5.1 3 0 6.4"/>
                        </g>
                        <path id="right-h-bgct_heading-4e282861" fill-rule="evenodd" class="s2" d="m-10 14.6h27.4c0 0 5.1 3 0 6.4"/>
                    </g>
                </svg>
            </div>
        </div>
        <div class="design-wrapper w-100 p-relative">
            <div class="design-one p-relative">
                <img src="assets/image/star.png" width="100%" alt="star" class="star p-absolute">
                <h2 class="head-txt">USRE RESEARCH AND ANALYSIS</h2>
                <div class="under-line"></div>
                <p class="text"><span>User Research and Analysis:</span> Conducting user research to understand the target audience, their needs, behaviors, and preferences. This involves techniques like surveys, interviews, and usability testing to gather insights that
                    inform the design process.</p>
                <p class="text txt-2"><span>Information Architecture:</span> Creating a clear and intuitive structure for the website or application, including organizing content, navigation systems, and user flows to ensure easy exploration and efficient interaction.</p>
                <p class="text txt-2"><span>Wireframing and Prototyping:</span> Developing low-fidelity wireframes and interactive prototypes that outline the layout, functionality, and user flow of the product. This allows for early testing and feedback to refine the design
                    before moving into the development phase</p>
                <a href="">More About App Development Services</a>
                <h2 class="head-txt head-2">EMBEDDED & CUTTING-EDGE DESIGN</h2>
                <div class="under-line"></div>
                <p class="text">Contrary to popular belief, Lorem Ipsum is not simply random text. It has roots in a piece of classical Latin literature from 45 BC, making it over 2000 years old. Richard McClintock, a Latin professor at Hampden-Sydney College in Virginia,
                    looked up one of the more obscure Latin words, consectetur, from a Lorem Ipsum passage, and going through the cites of the word in classical literature, discovered the undoubtable source. </p>
            </div>
            <div class="design-two p-absolute">
                <h2 class="head-text">RELATED CASES</h2>
                <div class="under-line"></div>
                <h5 class="head-text-2">UI/UX DEVELOPMENT FOR BEGA SMART LIGHTNING APP</h5>
                <div class="slider-design">
                    <ngx-slick-carousel class="cs-slider" #slickModal="slick-carousel" [config]="sliderConfig">
                        <p class="slide-text" ngxSlickItem>Contrary to popular belief, Lorem Ipsum is not simply random text. It has roots in a piece of classical Latin literature from 45 BC, making it over 2000 years old</p>
                        <p class="slide-text" ngxSlickItem>Contrary to popular belief, Lorem Ipsum is not simply random text. It has roots in a piece of classical Latin literature from 45 BC, making it over 2000 years old</p>
                        <p class="slide-text" ngxSlickItem>Contrary to popular belief, Lorem Ipsum is not simply random text. It has roots in a piece of classical Latin literature from 45 BC, making it over 2000 years old</p>
                    </ngx-slick-carousel>
                </div>
                <a class="read-more" routerLink="/contact" routerLinkActive="active">Read More</a>
            </div>
        </div>
    </div>
</section>

<section class="web-design-content-data w-100">
    <div class="container">
        <div class="text-all-wrap">
            <div class="left-text">
                <p class="text"><span>Visual Design:</span> Designing the visual elements of the user interface, including color schemes, typography, icons, buttons, and other graphical components. The goal is to create an aesthetically pleasing and consistent design
                    that aligns with the brand identity.</p>
                <p class="text"><span>Responsive Design:</span> Ensuring that the UI is optimized for different screen sizes and devices, providing a seamless and consistent user experience across desktop, mobile, and tablet platforms.</p>
                <p class="text"><span>Interaction Design:</span> Defining how users interact with the interface elements, including animations, transitions, micro-interactions, and other visual cues that enhance usability and delight users.</p>
            </div>
            <div class="right-text">
                <p class="text"><span>Usability Testing and User Feedback:</span> Conducting usability testing sessions with real users to evaluate the design's effectiveness, identifying areas for improvement, and gathering user feedback to iterate on the UI and UX.</p>
                <p class="text"><span>Accessibility:</span> Incorporating accessibility standards and best practices to ensure that the design is usable and inclusive for people with disabilities, considering factors such as color contrast, keyboard navigation, and screen
                    reader compatibility.</p>
                <p class="text"><span>Collaboration and Communication:</span>Collaboration and Communication: Working closely with the development team, product managers, and stakeholders to ensure a smooth transition from design to implementation, providing design assets,
                    specifications, and ongoing support. </p>
            </div>
        </div>
    </div>
</section>

<section class="ui-ux-design w-100">
    <div class="container">
        <h2 class="ux-heading">Why Choose Codesdesk Technology for UX Design Services?</h2>
        <p class="ux-text">Codesdesk Technology is a leading UX design service provider that offers a range of expertise and benefits for businesses seeking exceptional user experiences. With years of experience in the industry, Codesdesk Technology has a proven track record
            of delivering high-quality UX design services. Their portfolio showcases a diverse range of successful projects, demonstrating their ability to create intuitive and visually appealing interfaces.</p>
        <p class="ux-text ux-text-2">One of the key strengths of Codesdesk Technology lies in their user-centric approach. They prioritize understanding the target audience through in-depth user research and incorporate user feedback throughout the design process. This ensures that
            the final UX design meets the specific needs and preferences of the end users, resulting in an engaging and satisfying user experience.</p>

        <div class="ui-cards-all w-100 flex-row align-items-center">
            <div class="first-ui-card">
                <div class="upper-cards flex-row align-items-center ">
                    <div class="card card-one">
                        <img class="logo-ui" src="assets/image/money1.png" width="100%" alt="money">
                        <p class="logo-ui-txt">Customer Satisfaction
                        </p>
                    </div>
                    <div class="card card-two">
                        <img class="logo-ui" src="assets/image/abilities1.png" width="100%" alt="money">
                        <p class="logo-ui-txt">100% Confidentiality Assured
                        </p>
                    </div>
                </div>
                <div class="lower-cards flex-row align-items-center">
                    <div class="card card-three">
                        <img class="logo-ui" src="assets/image/trophy2.png" width="100%" alt="money">
                        <p class="logo-ui-txt">Quality Services
                        </p>
                    </div>
                    <div class="card card-four">
                        <img class="logo-ui" src="assets/image/technical-support1.png" width="100%" alt="money">
                        <p class="logo-ui-txt">Technical Support
                        </p>
                    </div>
                </div>
            </div>
            <div class="hover-card-wrapper w-100 flex-row align-items-center space-between">
                <div class="second-ui-card p-relative">
                    <h2 class="ui-card-heading">Advantages</h2>
                    <div class="under-line"></div>
                    <ul class="card-list-wrap">
                        <li class="card-list">Extensive experience in providing UX design services.</li>
                        <li class="card-list">Proven track record with a diverse portfolio of successful projects.</li>
                        <li class="card-list">Ability to create intuitive and visually appealing interfaces.</li>
                        <li class="card-list">Collaborative process, involving clients and stakeholders in decision-making.</li>
                        <li class="card-list">Commitment to delivering projects on time and within budget.</li>
                    </ul>
                </div>
                <div class="second-ui-card p-relative">
                    <h2 class="ui-card-heading">Why Codesdesk ?</h2>
                    <div class="under-line"></div>
                    <ul class="card-list-wrap">
                        <li class="card-list"><span>Expertise:</span> Codesdesk Technology has a team of skilled UX designers with extensive experience in the field.</li>
                        <li class="card-list"><span>Portfolio:</span> They have a diverse portfolio showcasing their past projects and design capabilities.</li>
                        <li class="card-list"><span>Design Methodology:</span> Codesdesk Technology follows a well-defined design methodology, including research, ideation, prototyping, testing, and iteration.</li>
                        <!-- <li class="card-list">Donec egestas ex ultrices leo tempor euismod.</li>
                        <li class="card-list">Quisque a mi tincidunt, auctor erat sed, lobortis massa.</li> -->
                    </ul>
                </div>
            </div>

        </div>
    </div>
</section>
<section class="web-design-b w-100 margin-90-b">
    <div class="container desktop p-relative">
        <div class="b-heading-wrapper">
            <h2 class="b-heading">Contact us for following website design needs</h2>
        </div>
        <div class="img-side-left p-absolute">
            <div class="side-left-group flex-row align-items-center margin-b-60">
                <h3 class="side-txt">Custom Web Design</h3>
                <div class="side-img flex-row align-items-center">
                    <img src="assets/image/web-design-s1.png" width="100%" alt="asdf">
                </div>
            </div>
            <div class="side-left-group side-left-group-2 flex-row align-items-center margin-b-60">
                <h3 class="side-txt">Web Re-Designing</h3>
                <div class="side-img flex-row align-items-center">
                    <img src="assets/image/web-designs2.png" width="100%" alt="asdf">
                </div>
            </div>
            <div class="side-left-group side-left-group-3 flex-row align-items-center">
                <h3 class="side-txt">Responsive Website Design</h3>
                <div class="side-img flex-row align-items-center">
                    <img src="assets/image/web-designs3.png" width="100%" alt="asdf">
                </div>
            </div>
        </div>

        <div class="web-img-wrapper">
            <ngx-slick-carousel class="cs-slider" #slickModal="slick-carousel" [config]="picsliderConfig">
                <img src="assets/image/web-design-mg.png" width="100%" alt="web-design-mg" ngxSlickItem>
                <img src="assets/image/web-design-slide-img.png" width="100%" alt="web-design-mg" ngxSlickItem>
                <img src="assets/image/web-design-slide-img-2.png" width="100%" alt="web-design-mg" ngxSlickItem>
                <img src="assets/image/web-design-slide-img-3.png" width="100%" alt="web-design-mg" ngxSlickItem>
                <img src="assets/image/web-design-slide-img-4.png" width="100%" alt="web-design-mg" ngxSlickItem>
                <img src="assets/image/web-design-slide-img-5.png" width="100%" alt="web-design-mg" ngxSlickItem>
                <img src="assets/image/web-design-slide-img-6.png" width="100%" alt="web-design-mg" ngxSlickItem>
            </ngx-slick-carousel>
        </div>
        <div class="img-side-right p-absolute">
            <div class="side-right-group flex-row align-items-center margin-b-60">
                <div class="side-img flex-row align-items-center">
                    <img src="assets/image/web-design-r1.png" width="100%" alt="asdf">
                </div>
                <h3 class="side-txt">E-Commerce Website Design</h3>
            </div>
            <div class="side-right-group side-right-group-2 flex-row align-items-center margin-b-60">
                <div class="side-img flex-row align-items-center">
                    <img src="assets/image/web-design-r2.png" width="100%" alt="asdf">
                </div>
                <h3 class="side-txt">Graphic Design</h3>
            </div>
            <div class="side-right-group flex-row align-items-center">
                <div class="side-img flex-row align-items-center">
                    <img src="assets/image/web-design-r3.png" width="100%" alt="asdf">
                </div>
                <h3 class="side-txt">Mobile-First Design</h3>
            </div>
        </div>
    </div>
    <div class="container p-relative">
        <div class="mobile flex-row web-design-b-m w-100 margin-90-b">

            <div class="b-heading-wrapper">
                <h2 class="b-heading">Contact us for following website design needs</h2>
            </div>
            <div class="img-side-left p-absolute">
                <div class="side-left-group flex-row align-items-center margin-b-60">
                    <h3 class="side-txt">Custom Web Design</h3>
                    <div class="side-img flex-row align-items-center">
                        <img src="assets/image/web-design-s1.png" width="100%" alt="asdf">
                    </div>
                </div>
                <div class="side-left-group side-left-group-2 flex-row align-items-center margin-b-60">
                    <h3 class="side-txt">Web Re-Designing</h3>
                    <div class="side-img flex-row align-items-center">
                        <img src="assets/image/web-designs2.png" width="100%" alt="asdf">
                    </div>
                </div>
                <div class="side-left-group side-left-group-3 flex-row align-items-center">
                    <h3 class="side-txt">Responsive Website Design</h3>
                    <div class="side-img flex-row align-items-center">
                        <img src="assets/image/web-designs3.png" width="100%" alt="asdf">
                    </div>
                </div>
            </div>
            <div class="web-img-wrapper">
                <ngx-slick-carousel class="cs-slider" #slickModal="slick-carousel" [config]="picsliderConfig">
                    <img src="assets/image/web-design-mg.png" width="100%" alt="web-design-mg" ngxSlickItem>
                    <img src="assets/image/web-design-slide-img.png" width="100%" alt="web-design-mg" ngxSlickItem>
                    <img src="assets/image/web-design-slide-img-2.png" width="100%" alt="web-design-mg" ngxSlickItem>
                    <img src="assets/image/web-design-slide-img-3.png" width="100%" alt="web-design-mg" ngxSlickItem>
                    <img src="assets/image/web-design-slide-img-4.png" width="100%" alt="web-design-mg" ngxSlickItem>
                    <img src="assets/image/web-design-slide-img-5.png" width="100%" alt="web-design-mg" ngxSlickItem>
                    <img src="assets/image/web-design-slide-img-6.png" width="100%" alt="web-design-mg" ngxSlickItem>
                </ngx-slick-carousel>
            </div>
            <div class="img-side-right p-absolute">
                <div class="side-right-group flex-row align-items-center margin-b-60">
                    <div class="side-img flex-row align-items-center">
                        <img src="assets/image/web-design-r1.png" width="100%" alt="asdf">
                    </div>
                    <h3 class="side-txt">E-Commerce Website Design</h3>
                </div>
                <div class="side-right-group side-right-group-2 flex-row align-items-center margin-b-60">
                    <div class="side-img flex-row align-items-center">
                        <img src="assets/image/web-design-r2.png" width="100%" alt="asdf">
                    </div>
                    <h3 class="side-txt">Graphic Design</h3>
                </div>
                <div class="side-right-group flex-row align-items-center">
                    <div class="side-img flex-row align-items-center">
                        <img src="assets/image/web-design-r3.png" width="100%" alt="asdf">
                    </div>
                    <h3 class="side-txt">Mobile-First Design</h3>
                </div>
            </div>

        </div>

    </div>
</section>
<section class="faq-section">
    <div class="container">
        <div class="our-txt-wrapper p-relative">
            <h2 class="back-txt">FAQ</h2>
            <div class="our-txt p-absolute flex-row align-items-center">
                <svg class="svg-rotate" version="1.2" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 33 21" width="33" height="21">
                    <title>image</title>
                    <defs>
                        <linearGradient id="g1" x1="-0.1" y1="2.4" x2="29.3" y2="2.4" gradientUnits="userSpaceOnUse">
                            <stop offset="0" stop-color="#F6540E"/>
                            <stop offset="1" stop-color="#F6540E"/>
                        </linearGradient>
                        <linearGradient id="g2" x1="-10" y1="14.6" x2="19.6" y2="14.6" gradientUnits="userSpaceOnUse">
                            <stop offset="0" stop-color="#F6540E"/>
                            <stop offset="1" stop-color="#F6540E"/>
                        </linearGradient>
                    </defs>
                    <style>
                        .s0 { fill: none;stroke: url(#g1);stroke-width: 3 }
                        .s1 { fill: none } 
                        .s2 { fill: none;stroke: url(#g2);stroke-width: 3 } 
                    </style>
                    <g id="Layer">
                        <path id="right-h-pathct_heading-4e282861" fill-rule="evenodd" class="s0" d="m-0.1 8.9h27.1c0 0 5.1-3.1 0-6.5"/>
                        <g id="Layer">
                            <path id="right-h-bgct_heading-4e282861" fill-rule="evenodd" class="s1" d="m-10 14.6h27.4c0 0 5.1 3 0 6.4"/>
                        </g>
                        <path id="right-h-bgct_heading-4e282861" fill-rule="evenodd" class="s2" d="m-10 14.6h27.4c0 0 5.1 3 0 6.4"/>
                    </g>
                </svg>
                <p class="our-service">
                    FAQ
                </p>
                <svg version="1.2" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 33 21" width="33" height="21">
                    <title>image</title>
                    <defs>
                        <linearGradient id="g1" x1="-0.1" y1="2.4" x2="29.3" y2="2.4" gradientUnits="userSpaceOnUse">
                            <stop offset="0" stop-color="#F6540E"/>
                            <stop offset="1" stop-color="#F6540E"/>
                        </linearGradient>
                        <linearGradient id="g2" x1="-10" y1="14.6" x2="19.6" y2="14.6" gradientUnits="userSpaceOnUse">
                            <stop offset="0" stop-color="#F6540E"/>
                            <stop offset="1" stop-color="#F6540E"/>
                        </linearGradient>
                    </defs>
                    <style>
                        .s0 { fill: none;stroke: url(#g1);stroke-width: 3 }
                        .s1 { fill: none } 
                        .s2 { fill: none;stroke: url(#g2);stroke-width: 3 } 
                    </style>
                    <g id="Layer">
                        <path id="right-h-pathct_heading-4e282861" fill-rule="evenodd" class="s0" d="m-0.1 8.9h27.1c0 0 5.1-3.1 0-6.5"/>
                        <g id="Layer">
                            <path id="right-h-bgct_heading-4e282861" fill-rule="evenodd" class="s1" d="m-10 14.6h27.4c0 0 5.1 3 0 6.4"/>
                        </g>
                        <path id="right-h-bgct_heading-4e282861" fill-rule="evenodd" class="s2" d="m-10 14.6h27.4c0 0 5.1 3 0 6.4"/>
                    </g>
                </svg>
            </div>
        </div>
        <div class="faq-all w-100">
            <div class="tabs">
                <h3 class="tab-heading desktop tablinks"><span>Do you provide custom themes and plug-ins?</span> <span></span></h3>
                <h3 class="tab-heading mobile tablinks"><span>Web design</span> <span></span></h3>
                <div class="content active tabcontent" id="All">
                    <p>Yes, of course, yes. It is because of the wonderful inbuilt design option accorded with the help of WordPress. It tries to preview the design with multiple types of options. Before finally preparing your webpage, you can always preview
                        the design once to ascertain the specifications of the design by your taste and want. For this, every user of WordPress needs to follow the following steps. In the first place, you are required to prepare your webpage. After that,
                        you need to make sure that the design that you have chosen is selected and the same has been applied. But at the same time, it is also important to look at the outlook of the file to correct every possible kind of error even before
                        the time the website has been published. Because once the website has been published, no changes will be made. You can click on the preview option before it is done, and accordingly, you will gain a glimpse of the website even
                        before its completion. You can click on the preview option before it is done, and accordingly, you will gain a glimpse of the website even before its completion.</p>

                </div>
            </div>
            <div class="tabs">
                <h3 class="tab-heading desktop tablinks"><span>Nam luctus elit eget ipsum gravida luctus. Maecenas auctor tortor arcu</span> <span></span></h3>
                <h3 class="tab-heading mobile tablinks"><span>Graphic Designing</span> <span></span></h3>
                <div class="content tabcontent" id="Design">
                    <p>Yes, of course, yes. It is because of the wonderful inbuilt design option accorded with the help of WordPress. It tries to preview the design with multiple types of options. Before finally preparing your webpage, you can always preview
                        the design once to ascertain the specifications of the design by your taste and want. For this, every user of WordPress needs to follow the following steps. In the first place, you are required to prepare your webpage. After that,
                        you need to make sure that the design that you have chosen is selected and the same has been applied. But at the same time, it is also important to look at the outlook of the file to correct every possible kind of error even before
                        the time the website has been published. Because once the website has been published, no changes will be made. You can click on the preview option before it is done, and accordingly, you will gain a glimpse of the website even
                        before its completion. You can click on the preview option before it is done, and accordingly, you will gain a glimpse of the website even before its completion.</p>

                </div>
            </div>
            <div class="tabs">
                <h3 class="tab-heading desktop tablinks"><span>Sed orci tellus, fringilla eget scelerisque et, feugiat nec ligula</span> <span></span></h3>
                <h3 class="tab-heading mobile tablinks"><span>Graphic Designing</span> <span></span></h3>
                <div class="content tabcontent" id="Develop">
                    <p>Yes, of course, yes. It is because of the wonderful inbuilt design option accorded with the help of WordPress. It tries to preview the design with multiple types of options. Before finally preparing your webpage, you can always preview
                        the design once to ascertain the specifications of the design by your taste and want. For this, every user of WordPress needs to follow the following steps. In the first place, you are required to prepare your webpage. After that,
                        you need to make sure that the design that you have chosen is selected and the same has been applied. But at the same time, it is also important to look at the outlook of the file to correct every possible kind of error even before
                        the time the website has been published. Because once the website has been published, no changes will be made. You can click on the preview option before it is done, and accordingly, you will gain a glimpse of the website even
                        before its completion. You can click on the preview option before it is done, and accordingly, you will gain a glimpse of the website even before its completion.</p>

                </div>
            </div>
            <div class="tabs">
                <h3 class="tab-heading desktop tablinks"><span>Nulla est turpis, hendrerit vitae sollicitudin a, venenatis quis arcu</span> <span></span></h3>
                <h3 class="tab-heading mobile tablinks"><span>Graphic Designing</span> <span></span></h3>
                <div class="content tabcontent" id="Develop">
                    <p>Yes, of course, yes. It is because of the wonderful inbuilt design option accorded with the help of WordPress. It tries to preview the design with multiple types of options. Before finally preparing your webpage, you can always preview
                        the design once to ascertain the specifications of the design by your taste and want. For this, every user of WordPress needs to follow the following steps. In the first place, you are required to prepare your webpage. After that,
                        you need to make sure that the design that you have chosen is selected and the same has been applied. But at the same time, it is also important to look at the outlook of the file to correct every possible kind of error even before
                        the time the website has been published. Because once the website has been published, no changes will be made. You can click on the preview option before it is done, and accordingly, you will gain a glimpse of the website even
                        before its completion. You can click on the preview option before it is done, and accordingly, you will gain a glimpse of the website even before its completion.</p>

                </div>
            </div>
            <div class="tabs">
                <h3 class="tab-heading desktop tablinks"><span>Nulla est turpis, hendrerit vitae sollicitudin a, venenatis quis arcu</span> <span></span></h3>
                <h3 class="tab-heading mobile tablinks"><span>Graphic Designing</span> <span></span></h3>
                <div class="content tabcontent" id="Develop">
                    <p>Yes, of course, yes. It is because of the wonderful inbuilt design option accorded with the help of WordPress. It tries to preview the design with multiple types of options. Before finally preparing your webpage, you can always preview
                        the design once to ascertain the specifications of the design by your taste and want. For this, every user of WordPress needs to follow the following steps. In the first place, you are required to prepare your webpage. After that,
                        you need to make sure that the design that you have chosen is selected and the same has been applied. But at the same time, it is also important to look at the outlook of the file to correct every possible kind of error even before
                        the time the website has been published. Because once the website has been published, no changes will be made. You can click on the preview option before it is done, and accordingly, you will gain a glimpse of the website even
                        before its completion. You can click on the preview option before it is done, and accordingly, you will gain a glimpse of the website even before its completion.</p>

                </div>
            </div>
            <div class="tabs">
                <h3 class="tab-heading desktop tablinks"><span>Sed orci tellus, fringilla eget scelerisque et, feugiat nec ligula</span> <span></span></h3>
                <h3 class="tab-heading mobile tablinks"><span>Graphic Designing</span> <span></span></h3>
                <div class="content tabcontent" id="Develop">
                    <p>Yes, of course, yes. It is because of the wonderful inbuilt design option accorded with the help of WordPress. It tries to preview the design with multiple types of options. Before finally preparing your webpage, you can always preview
                        the design once to ascertain the specifications of the design by your taste and want. For this, every user of WordPress needs to follow the following steps. In the first place, you are required to prepare your webpage. After that,
                        you need to make sure that the design that you have chosen is selected and the same has been applied. But at the same time, it is also important to look at the outlook of the file to correct every possible kind of error even before
                        the time the website has been published. Because once the website has been published, no changes will be made. You can click on the preview option before it is done, and accordingly, you will gain a glimpse of the website even
                        before its completion. You can click on the preview option before it is done, and accordingly, you will gain a glimpse of the website even before its completion.</p>

                </div>
            </div>
            <div class="tabs">
                <h3 class="tab-heading desktop tablinks"><span>Nam luctus elit eget ipsum gravida luctus. Maecenas auctor tortor arcu</span> <span></span></h3>
                <h3 class="tab-heading mobile tablinks"><span>Graphic Designing</span> <span></span></h3>
                <div class="content tabcontent" id="Develop">
                    <p>Yes, of course, yes. It is because of the wonderful inbuilt design option accorded with the help of WordPress. It tries to preview the design with multiple types of options. Before finally preparing your webpage, you can always preview
                        the design once to ascertain the specifications of the design by your taste and want. For this, every user of WordPress needs to follow the following steps. In the first place, you are required to prepare your webpage. After that,
                        you need to make sure that the design that you have chosen is selected and the same has been applied. But at the same time, it is also important to look at the outlook of the file to correct every possible kind of error even before
                        the time the website has been published. Because once the website has been published, no changes will be made. You can click on the preview option before it is done, and accordingly, you will gain a glimpse of the website even
                        before its completion. You can click on the preview option before it is done, and accordingly, you will gain a glimpse of the website even before its completion.</p>

                </div>
            </div>
        </div>
    </div>
</section>
<section class="slider-section margin-126-b">
    <div class="container">
        <div class="slider-head-wrapper w-100 p-relative">
            <h2 class="back-txt">TESTIMONIAL</h2>
            <div class="title flex-row align-items-center p-absolute">
                <svg class="svg-rotate" version="1.2" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 33 21" width="33" height="21">
                    <title>image</title>
                    <defs>
                        <linearGradient id="g1" x1="-0.1" y1="2.4" x2="29.3" y2="2.4" gradientUnits="userSpaceOnUse">
                            <stop offset="0" stop-color="#F6540E"/>
                            <stop offset="1" stop-color="#F6540E"/>
                        </linearGradient>
                        <linearGradient id="g2" x1="-10" y1="14.6" x2="19.6" y2="14.6" gradientUnits="userSpaceOnUse">
                            <stop offset="0" stop-color="#F6540E"/>
                            <stop offset="1" stop-color="#F6540E"/>
                        </linearGradient>
                    </defs>
                    <style>
                        .s0 { fill: none;stroke: url(#g1);stroke-width: 3 }
                        .s1 { fill: none } 
                        .s2 { fill: none;stroke: url(#g2);stroke-width: 3 } 
                    </style>
                    <g id="Layer">
                        <path id="right-h-pathct_heading-4e282861" fill-rule="evenodd" class="s0" d="m-0.1 8.9h27.1c0 0 5.1-3.1 0-6.5"/>
                        <g id="Layer">
                            <path id="right-h-bgct_heading-4e282861" fill-rule="evenodd" class="s1" d="m-10 14.6h27.4c0 0 5.1 3 0 6.4"/>
                        </g>
                        <path id="right-h-bgct_heading-4e282861" fill-rule="evenodd" class="s2" d="m-10 14.6h27.4c0 0 5.1 3 0 6.4"/>
                    </g>
                </svg>
                <p class="our-title desktop">
                    Our Client’s Testimonials
                </p>
                <p class="our-title mobile">
                    Our Testimonials
                </p>
                <svg version="1.2" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 33 21" width="33" height="21">
                    <title>image</title>
                    <defs>
                        <linearGradient id="g1" x1="-0.1" y1="2.4" x2="29.3" y2="2.4" gradientUnits="userSpaceOnUse">
                            <stop offset="0" stop-color="#F6540E"/>
                            <stop offset="1" stop-color="#F6540E"/>
                        </linearGradient>
                        <linearGradient id="g2" x1="-10" y1="14.6" x2="19.6" y2="14.6" gradientUnits="userSpaceOnUse">
                            <stop offset="0" stop-color="#F6540E"/>
                            <stop offset="1" stop-color="#F6540E"/>
                        </linearGradient>
                    </defs>
                    <style>
                        .s0 { fill: none;stroke: url(#g1);stroke-width: 3 }
                        .s1 { fill: none } 
                        .s2 { fill: none;stroke: url(#g2);stroke-width: 3 } 
                    </style>
                    <g id="Layer">
                        <path id="right-h-pathct_heading-4e282861" fill-rule="evenodd" class="s0" d="m-0.1 8.9h27.1c0 0 5.1-3.1 0-6.5"/>
                        <g id="Layer">
                            <path id="right-h-bgct_heading-4e282861" fill-rule="evenodd" class="s1" d="m-10 14.6h27.4c0 0 5.1 3 0 6.4"/>
                        </g>
                        <path id="right-h-bgct_heading-4e282861" fill-rule="evenodd" class="s2" d="m-10 14.6h27.4c0 0 5.1 3 0 6.4"/>
                    </g>
                </svg>
            </div>
            <!-- <p class="slider-txt">
                Great websites = Happy customers. Here’s our list!
            </p> -->
        </div>
        <div class="next-prev-btn flex-row">

        </div>
        <div class="slider-wrap">
            <ngx-slick-carousel class="cs-slider" #slickModal="slick-carousel" [config]="slidelastConfig">
                <div class="card-slide grid__items one-third" ngxSlickItem>
                    <div class="card-head-slide flex-row align-items-center" cursor-swipe>
                        <div class="image-slide">
                            <img class="w-100" src="assets/image/Ellipse4.png" alt="asdf">
                        </div>
                        <div class="text-head-slide">
                            <h2 class="heading-slide-card">Veronica Johnson</h2>
                            <p class="text-red">Web Designer</p>
                        </div>
                    </div>
                    <p class="txt-b-slide">
                        There are many variations of passages of Lorem Ipsum available, but the majority have suffered alteration in some form, by injected humour.
                    </p>
                </div>
                <div class="card-slide grid__items one-third" ngxSlickItem>
                    <div class="card-head-slide flex-row align-items-center" cursor-swipe>
                        <div class="image-slide">
                            <img class="w-100" src="assets/image/Ellipse3.png" alt="asdf">
                        </div>
                        <div class="text-head-slide">
                            <h2 class="heading-slide-card">Veronica Johnson</h2>
                            <p class="text-red">Web Designer</p>
                        </div>
                    </div>
                    <p class="txt-b-slide">
                        There are many variations of passages of Lorem Ipsum available, but the majority have suffered alteration in some form, by injected humour.
                    </p>
                </div>
                <div class="card-slide grid__items one-third" ngxSlickItem>
                    <div class="card-head-slide flex-row align-items-center" cursor-swipe>
                        <div class="image-slide">
                            <img class="w-100" src="assets/image/Ellipse1.png" alt="asdf">
                        </div>
                        <div class="text-head-slide">
                            <h2 class="heading-slide-card">Veronica Johnson</h2>
                            <p class="text-red">Web Designer</p>
                        </div>
                    </div>
                    <p class="txt-b-slide">
                        There are many variations of passages of Lorem Ipsum available, but the majority have suffered alteration in some form, by injected humour.
                    </p>
                </div>
                <div class="card-slide grid__items one-third" ngxSlickItem>
                    <div class="card-head-slide flex-row align-items-center" cursor-swipe>
                        <div class="image-slide">
                            <img class="w-100" src="assets/image/Ellipse1.png" alt="asdf">
                        </div>
                        <div class="text-head-slide">
                            <h2 class="heading-slide-card">Veronica Johnson</h2>
                            <p class="text-red">Web Designer</p>
                        </div>
                    </div>
                    <p class="txt-b-slide">
                        There are many variations of passages of Lorem Ipsum available, but the majority have suffered alteration in some form, by injected humour.
                    </p>
                </div>
                <div class="card-slide grid__items one-third" ngxSlickItem>
                    <div class="card-head-slide flex-row align-items-center" cursor-swipe>
                        <div class="image-slide">
                            <img class="w-100" src="assets/image/Ellipse1.png" alt="asdf">
                        </div>
                        <div class="text-head-slide">
                            <h2 class="heading-slide-card">Veronica Johnson</h2>
                            <p class="text-red">Web Designer</p>
                        </div>
                    </div>
                    <p class="txt-b-slide">
                        There are many variations of passages of Lorem Ipsum available, but the majority have suffered alteration in some form, by injected humour.
                    </p>
                </div>
                <div class="card-slide grid__items one-third" ngxSlickItem>
                    <div class="card-head-slide flex-row align-items-center" cursor-swipe>
                        <div class="image-slide">
                            <img class="w-100" src="assets/image/Ellipse1.png" alt="asdf">
                        </div>
                        <div class="text-head-slide">
                            <h2 class="heading-slide-card">Veronica Johnson</h2>
                            <p class="text-red">Web Designer</p>
                        </div>
                    </div>
                    <p class="txt-b-slide">
                        There are many variations of passages of Lorem Ipsum available, but the majority have suffered alteration in some form, by injected humour.
                    </p>
                </div>




            </ngx-slick-carousel>
        </div>
    </div>
</section>