<section class="portfolio-section">

    <div class="banner-wrapper">
        <img src="../../assets/image/imgae-banner/egyptain-banner.png" width="100%" height="100%" alt="banner">
    </div>

</section>
<section class="scope-section scope-section-1 margin-90">
    <div class="container">
        <div class="scope-head-wrapper w-100">
            <div class="service-head center">
                <h2 class="back-txt ">SCOPE OF WORK</h2>
                <p class="sub-text"><span class="sub-text-icon-left"><svg class="svg-rotate" version="1.2" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 33 21" width="33" height="21">
                    <title>image</title>
                    <defs>
                        <linearGradient id="g1" x1="-0.1" y1="2.4" x2="29.3" y2="2.4" gradientUnits="userSpaceOnUse">
                            <stop offset="0" stop-color="#F6540E"/>
                            <stop offset="1" stop-color="#F6540E"/>
                        </linearGradient>
                        <linearGradient id="g2" x1="-10" y1="14.6" x2="19.6" y2="14.6" gradientUnits="userSpaceOnUse">
                            <stop offset="0" stop-color="#F6540E"/>
                            <stop offset="1" stop-color="#F6540E"/>
                        </linearGradient>
                    </defs>
                    <style>
                        .s0 { fill: none;stroke: url(#g1);stroke-width: 3 }
                        .s1 { fill: none } 
                        .s2 { fill: none;stroke: url(#g2);stroke-width: 3 } 
                    </style>
                    <g id="Layer">
                        <path id="right-h-pathct_heading-4e282861" fill-rule="evenodd" class="s0" d="m-0.1 8.9h27.1c0 0 5.1-3.1 0-6.5"/>
                        <g id="Layer">
                            <path id="right-h-bgct_heading-4e282861" fill-rule="evenodd" class="s1" d="m-10 14.6h27.4c0 0 5.1 3 0 6.4"/>
                        </g>
                        <path id="right-h-bgct_heading-4e282861" fill-rule="evenodd" class="s2" d="m-10 14.6h27.4c0 0 5.1 3 0 6.4"/>
                    </g>
                </svg></span>SCOPE OF WORK<span><svg version="1.2" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 33 21" width="33" height="21">
                    <title>image</title>
                    <defs>
                        <linearGradient id="g1" x1="-0.1" y1="2.4" x2="29.3" y2="2.4" gradientUnits="userSpaceOnUse">
                            <stop offset="0" stop-color="#F6540E"/>
                            <stop offset="1" stop-color="#F6540E"/>
                        </linearGradient>
                        <linearGradient id="g2" x1="-10" y1="14.6" x2="19.6" y2="14.6" gradientUnits="userSpaceOnUse">
                            <stop offset="0" stop-color="#F6540E"/>
                            <stop offset="1" stop-color="#F6540E"/>
                        </linearGradient>
                    </defs>
                    <style>
                        .s0 { fill: none;stroke: url(#g1);stroke-width: 3 }
                        .s1 { fill: none } 
                        .s2 { fill: none;stroke: url(#g2);stroke-width: 3 } 
                    </style>
                    <g id="Layer">
                        <path id="right-h-pathct_heading-4e282861" fill-rule="evenodd" class="s0" d="m-0.1 8.9h27.1c0 0 5.1-3.1 0-6.5"/>
                        <g id="Layer">
                            <path id="right-h-bgct_heading-4e282861" fill-rule="evenodd" class="s1" d="m-10 14.6h27.4c0 0 5.1 3 0 6.4"/>
                        </g>
                        <path id="right-h-bgct_heading-4e282861" fill-rule="evenodd" class="s2" d="m-10 14.6h27.4c0 0 5.1 3 0 6.4"/>
                    </g>
                </svg></span></p>

            </div>
        </div>
    </div>
    <div class="scope-cards-wrapper padding-55">
        <div class="container">
            <div class="scpoe-all-card scpoe-all-card-1 w-100 flex-row align-item-center space-between">
                <div class="scope-card ">
                    <div class="img-wrap">
                        <img src="assets/image/graphic.png" width="100%" height="100%" alt="scope">
                    </div>
                    <h2 class="card-head">Lorem Ipsum</h2>
                    <p class="card-txt">
                        There are many variations of passages of Lorem Ipsum available, but the majority have suffered alteration in some form, by injected humour,
                    </p>
                </div>
                <div class="scope-card ">
                    <div class="img-wrap">
                        <img src="assets/image/branding.png" width="100%" height="100%" alt="scope">
                    </div>
                    <h2 class="card-head">Lorem Ipsum</h2>
                    <p class="card-txt">
                        There are many variations of passages of Lorem Ipsum available, but the majority have suffered alteration in some form, by injected humour,
                    </p>
                </div>
                <div class="scope-card ">
                    <div class="img-wrap">
                        <img src="assets/image/design.png" width="100%" height="100%" alt="scope">
                    </div>
                    <h2 class="card-head">Lorem Ipsum</h2>
                    <p class="card-txt">
                        There are many variations of passages of Lorem Ipsum available, but the majority have suffered alteration in some form, by injected humour,
                    </p>
                </div>
                <div class="scope-card ">
                    <div class="img-wrap">
                        <img src="assets/image/app-development.png" width="100%" height="100%" alt="scope">
                    </div>
                    <h2 class="card-head">Lorem Ipsum</h2>
                    <p class="card-txt">
                        There are many variations of passages of Lorem Ipsum available, but the majority have suffered alteration in some form, by injected humour,
                    </p>
                </div>
            </div>
        </div>
    </div>
</section>
<section class="about-work">
    <div class="container">
        <div class="about-work-wrapper w-100 flex-row align-items-center space-between">
            <div class="about-work-txt">
                <div class="red-text w-100 flex-row align-items-center">
                    <p class="txt-red">About Work</p>
                    <svg version="1.2" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 33 21" width="33" height="21">
                        <title>image</title>
                        <defs>
                            <linearGradient id="g1" x1="-0.1" y1="2.4" x2="29.3" y2="2.4" gradientUnits="userSpaceOnUse">
                                <stop offset="0" stop-color="#F6540E"/>
                                <stop offset="1" stop-color="#F6540E"/>
                            </linearGradient>
                            <linearGradient id="g2" x1="-10" y1="14.6" x2="19.6" y2="14.6" gradientUnits="userSpaceOnUse">
                                <stop offset="0" stop-color="#F6540E"/>
                                <stop offset="1" stop-color="#F6540E"/>
                            </linearGradient>
                        </defs>
                        <style>
                            .s0 { fill: none;stroke: url(#g1);stroke-width: 3 }
                            .s1 { fill: none } 
                            .s2 { fill: none;stroke: url(#g2);stroke-width: 3 } 
                        </style>
                        <g id="Layer">
                            <path id="right-h-pathct_heading-4e282861" fill-rule="evenodd" class="s0" d="m-0.1 8.9h27.1c0 0 5.1-3.1 0-6.5"/>
                            <g id="Layer">
                                <path id="right-h-bgct_heading-4e282861" fill-rule="evenodd" class="s1" d="m-10 14.6h27.4c0 0 5.1 3 0 6.4"/>
                            </g>
                            <path id="right-h-bgct_heading-4e282861" fill-rule="evenodd" class="s2" d="m-10 14.6h27.4c0 0 5.1 3 0 6.4"/>
                        </g>
                    </svg>
                </div>
                <h2 class="head-txt">Bahari</h2>
                <p class="txt-grey">There are many variations of passages of Lorem Ipsum available, but the majority have suffered alteration in some form, by injected humour, or randomised words which don't look even slightly believable. If you are going to use a passage
                    of Lorem Ipsum, you need to be sure there isn't anything embarrassing hidden in the middle of text.</p>
                <div class="about-btn-wrapper">
                    <a routerLink="/contact" routerLinkActive="active" class="cdk-button card-button"> Explore More</a>
                </div>
            </div>
            <div class="about-work-img">
                <img src="../../assets/image/Egyptian-Queen/about-work_bihari.png" width="100%" alt="about-work">
            </div>
        </div>
    </div>
</section>
<section class="key-feature margin-90">
    <div class=" container ">
        <div class="key-wrapper w-100 flex-row align-items-center space-between ">
            <div class="key-img-wrap ">
                <img class="desktop" src="assets/image/Rectangle79.png " width="100% " alt="key ">
                <img class="mobile" src="assets/image/Rectangle79-mobile.png " width="100% " alt="key ">
            </div>
            <div class="key-txt-wrap">
                <div class="red-text w-100 flex-row align-items-center">
                    <p class="txt-red">Key Feature</p>
                    <svg version="1.2" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 33 21" width="33" height="21">
                        <title>image</title>
                        <defs>
                            <linearGradient id="g1" x1="-0.1" y1="2.4" x2="29.3" y2="2.4" gradientUnits="userSpaceOnUse">
                                <stop offset="0" stop-color="#F6540E"/>
                                <stop offset="1" stop-color="#F6540E"/>
                            </linearGradient>
                            <linearGradient id="g2" x1="-10" y1="14.6" x2="19.6" y2="14.6" gradientUnits="userSpaceOnUse">
                                <stop offset="0" stop-color="#F6540E"/>
                                <stop offset="1" stop-color="#F6540E"/>
                            </linearGradient>
                        </defs>
                        <style>
                            .s0 { fill: none;stroke: url(#g1);stroke-width: 3 }
                            .s1 { fill: none } 
                            .s2 { fill: none;stroke: url(#g2);stroke-width: 3 } 
                        </style>
                        <g id="Layer">
                            <path id="right-h-pathct_heading-4e282861" fill-rule="evenodd" class="s0" d="m-0.1 8.9h27.1c0 0 5.1-3.1 0-6.5"/>
                            <g id="Layer">
                                <path id="right-h-bgct_heading-4e282861" fill-rule="evenodd" class="s1" d="m-10 14.6h27.4c0 0 5.1 3 0 6.4"/>
                            </g>
                            <path id="right-h-bgct_heading-4e282861" fill-rule="evenodd" class="s2" d="m-10 14.6h27.4c0 0 5.1 3 0 6.4"/>
                        </g>
                    </svg>
                </div>
                <p class="txt-light">These are the must-have key features for this website:</p>
                <div class="tabs">
                    <h3 class="tab-heading tablinks"><span>INTEGRATE THIRD-PARTY EXTENSIONS:</span> <span></span></h3>
                    <div class="content tabcontent" id="All">
                        <p>There are many variations of passages of Lorem Ipsum available, but the majority have suffered alteration in some form, by injected humour, or randomised words which don't look even slightly believable. If you are going to use
                            a passage of Lorem Ipsum, you need to be sure there isn't anything embarrassing hidden in the </p>

                    </div>
                </div>
                <div class="tabs">
                    <h3 class="tab-heading tablinks"><span>AMASTY FULL PAGE CACHE:</span> <span></span></h3>
                    <div class="content tabcontent" id="Design">
                        <p>There are many variations of passages of Lorem Ipsum available, but the majority have suffered alteration in some form, by injected humour, or randomised words which don't look even slightly believable. If you are going to use
                            a passage of Lorem Ipsum, you need to be sure there isn't anything embarrassing hidden in the </p>

                    </div>
                </div>
                <div class="tabs">
                    <h3 class="tab-heading tablinks"><span>YOTPO REVIEWS:</span> <span></span></h3>
                    <div class="content tabcontent" id="Develop">
                        <p>There are many variations of passages of Lorem Ipsum available, but the majority have suffered alteration in some form, by injected humour, or randomised words which don't look even slightly believable. If you are going to use
                            a passage of Lorem Ipsum, you need to be sure there isn't anything embarrassing hidden in the </p>

                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<section class="process-section margin-90">
    <div class="container">
        <div class="scope-head-wrapper w-100">
            <div class="service-head center">
                <h2 class="back-txt ">OUR PROCESS</h2>
                <p class="sub-text"><span class="sub-text-icon-left"><svg class="svg-rotate" version="1.2" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 33 21" width="33" height="21">
                    <title>image</title>
                    <defs>
                        <linearGradient id="g1" x1="-0.1" y1="2.4" x2="29.3" y2="2.4" gradientUnits="userSpaceOnUse">
                            <stop offset="0" stop-color="#F6540E"/>
                            <stop offset="1" stop-color="#F6540E"/>
                        </linearGradient>
                        <linearGradient id="g2" x1="-10" y1="14.6" x2="19.6" y2="14.6" gradientUnits="userSpaceOnUse">
                            <stop offset="0" stop-color="#F6540E"/>
                            <stop offset="1" stop-color="#F6540E"/>
                        </linearGradient>
                    </defs>
                    <style>
                        .s0 { fill: none;stroke: url(#g1);stroke-width: 3 }
                        .s1 { fill: none } 
                        .s2 { fill: none;stroke: url(#g2);stroke-width: 3 } 
                    </style>
                    <g id="Layer">
                        <path id="right-h-pathct_heading-4e282861" fill-rule="evenodd" class="s0" d="m-0.1 8.9h27.1c0 0 5.1-3.1 0-6.5"/>
                        <g id="Layer">
                            <path id="right-h-bgct_heading-4e282861" fill-rule="evenodd" class="s1" d="m-10 14.6h27.4c0 0 5.1 3 0 6.4"/>
                        </g>
                        <path id="right-h-bgct_heading-4e282861" fill-rule="evenodd" class="s2" d="m-10 14.6h27.4c0 0 5.1 3 0 6.4"/>
                    </g>
                </svg></span>OUR PROCESS<span><svg version="1.2" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 33 21" width="33" height="21">
                    <title>image</title>
                    <defs>
                        <linearGradient id="g1" x1="-0.1" y1="2.4" x2="29.3" y2="2.4" gradientUnits="userSpaceOnUse">
                            <stop offset="0" stop-color="#F6540E"/>
                            <stop offset="1" stop-color="#F6540E"/>
                        </linearGradient>
                        <linearGradient id="g2" x1="-10" y1="14.6" x2="19.6" y2="14.6" gradientUnits="userSpaceOnUse">
                            <stop offset="0" stop-color="#F6540E"/>
                            <stop offset="1" stop-color="#F6540E"/>
                        </linearGradient>
                    </defs>
                    <style>
                        .s0 { fill: none;stroke: url(#g1);stroke-width: 3 }
                        .s1 { fill: none } 
                        .s2 { fill: none;stroke: url(#g2);stroke-width: 3 } 
                    </style>
                    <g id="Layer">
                        <path id="right-h-pathct_heading-4e282861" fill-rule="evenodd" class="s0" d="m-0.1 8.9h27.1c0 0 5.1-3.1 0-6.5"/>
                        <g id="Layer">
                            <path id="right-h-bgct_heading-4e282861" fill-rule="evenodd" class="s1" d="m-10 14.6h27.4c0 0 5.1 3 0 6.4"/>
                        </g>
                        <path id="right-h-bgct_heading-4e282861" fill-rule="evenodd" class="s2" d="m-10 14.6h27.4c0 0 5.1 3 0 6.4"/>
                    </g>
                </svg></span></p>

            </div>
        </div>
        <div class="process-wrap margin-40 flex-row align-items-center p-relative space-between">
            <div class="tilte-wrap flex-row align-items-center">
                <ul class="process-list">
                    <li class="list flex-row align-items-center"><span>1</span>
                        <div class="list-text-wrap">
                            <h3 class="heading">Conceptualization</h3>
                            <p class="text">Market Understanding localization</p>
                        </div>
                    </li>
                    <li class="list flex-row align-items-center"><span>2</span>
                        <div class="list-text-wrap">
                            <h3 class="heading">Designing</h3>
                            <p class="text">User Flow Designing</p>
                        </div>
                    </li>
                    <li class="list flex-row align-items-center"><span>3</span>
                        <div class="list-text-wrap">
                            <h3 class="heading">Development</h3>
                            <p class="text">Mobile Application & Website</p>
                        </div>
                    </li>
                    <li class="list flex-row align-items-center"><span>4</span>
                        <div class="list-text-wrap">
                            <h3 class="heading">Testing</h3>
                            <p class="text">Ensuring the product quality. Website Publishing</p>
                        </div>
                    </li>
                    <li class="list flex-row align-items-center"><span>5</span>
                        <div class="list-text-wrap">
                            <h3 class="heading">Deployment</h3>
                            <p class="text">Play Store Publishing Website Publishing</p>
                        </div>
                    </li>
                    <li class="list flex-row align-items-center"><span class="last">6</span>
                        <div class="list-text-wrap">
                            <h3 class="heading">Support and Maintenance</h3>
                            <p class="text">Attain the enhanced & steady performance of the system.</p>
                        </div>
                    </li>
                </ul>

            </div>
            <div class="image-wrap">
                <img src="assets/image/post-design1.png" width="100%" alt="">
            </div>
        </div>
    </div>
</section>
<section class="scope-section scope-section-2 result-section margin-90">
    <div class="container">
        <div class="scope-head-wrapper w-100">
            <div class="service-head center">
                <h2 class="back-txt ">OUR RESULT</h2>
                <p class="sub-text"><span class="sub-text-icon-left"><svg class="svg-rotate" version="1.2" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 33 21" width="33" height="21">
                    <title>image</title>
                    <defs>
                        <linearGradient id="g1" x1="-0.1" y1="2.4" x2="29.3" y2="2.4" gradientUnits="userSpaceOnUse">
                            <stop offset="0" stop-color="#F6540E"/>
                            <stop offset="1" stop-color="#F6540E"/>
                        </linearGradient>
                        <linearGradient id="g2" x1="-10" y1="14.6" x2="19.6" y2="14.6" gradientUnits="userSpaceOnUse">
                            <stop offset="0" stop-color="#F6540E"/>
                            <stop offset="1" stop-color="#F6540E"/>
                        </linearGradient>
                    </defs>
                    <style>
                        .s0 { fill: none;stroke: url(#g1);stroke-width: 3 }
                        .s1 { fill: none } 
                        .s2 { fill: none;stroke: url(#g2);stroke-width: 3 } 
                    </style>
                    <g id="Layer">
                        <path id="right-h-pathct_heading-4e282861" fill-rule="evenodd" class="s0" d="m-0.1 8.9h27.1c0 0 5.1-3.1 0-6.5"/>
                        <g id="Layer">
                            <path id="right-h-bgct_heading-4e282861" fill-rule="evenodd" class="s1" d="m-10 14.6h27.4c0 0 5.1 3 0 6.4"/>
                        </g>
                        <path id="right-h-bgct_heading-4e282861" fill-rule="evenodd" class="s2" d="m-10 14.6h27.4c0 0 5.1 3 0 6.4"/>
                    </g>
                </svg></span>RESULT<span><svg version="1.2" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 33 21" width="33" height="21">
                    <title>image</title>
                    <defs>
                        <linearGradient id="g1" x1="-0.1" y1="2.4" x2="29.3" y2="2.4" gradientUnits="userSpaceOnUse">
                            <stop offset="0" stop-color="#F6540E"/>
                            <stop offset="1" stop-color="#F6540E"/>
                        </linearGradient>
                        <linearGradient id="g2" x1="-10" y1="14.6" x2="19.6" y2="14.6" gradientUnits="userSpaceOnUse">
                            <stop offset="0" stop-color="#F6540E"/>
                            <stop offset="1" stop-color="#F6540E"/>
                        </linearGradient>
                    </defs>
                    <style>
                        .s0 { fill: none;stroke: url(#g1);stroke-width: 3 }
                        .s1 { fill: none } 
                        .s2 { fill: none;stroke: url(#g2);stroke-width: 3 } 
                    </style>
                    <g id="Layer">
                        <path id="right-h-pathct_heading-4e282861" fill-rule="evenodd" class="s0" d="m-0.1 8.9h27.1c0 0 5.1-3.1 0-6.5"/>
                        <g id="Layer">
                            <path id="right-h-bgct_heading-4e282861" fill-rule="evenodd" class="s1" d="m-10 14.6h27.4c0 0 5.1 3 0 6.4"/>
                        </g>
                        <path id="right-h-bgct_heading-4e282861" fill-rule="evenodd" class="s2" d="m-10 14.6h27.4c0 0 5.1 3 0 6.4"/>
                    </g>
                </svg></span></p>

            </div>
        </div>

        <div id="counter-main" class="scope-cards-wrapper padding-36">

            <div class="scpoe-all-card scpoe-all-card-2 w-100 flex-row align-item-center space-around">
                <div class="scope-card-2 counter">
                    <div class="flex-row align-item-center ">
                        <h2 class="red-heading counter-head">49</h2>
                        <span>%</span>
                    </div>

                    <p class="text">Increase In Conversion Rate</p>
                </div>
                <div class="scope-card-2 counter">
                    <div class="flex-row align-item-center ">
                        <h2 class="red-heading counter-head">78</h2>
                        <span>%</span>
                    </div>

                    <p class="text">Reduced BounceRate</p>
                </div>
                <div class="scope-card-2 counter">
                    <div class="flex-row align-item-center ">
                        <h2 class="red-heading counter-head">300</h2>
                        <span>+</span>
                    </div>

                    <p class="text">Average VisitorsOn Site</p>
                </div>

            </div>
        </div>
    </div>
</section>
<section class="screen-section p-bottom-90">
    <div class="container">
        <div class="scope-head-wrapper w-100">
            <div class="service-head center">
                <h2 class="back-txt ">OUR SCREEN</h2>
                <p class="sub-text"><span class="sub-text-icon-left"><svg class="svg-rotate" version="1.2" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 33 21" width="33" height="21">
                    <title>image</title>
                    <defs>
                        <linearGradient id="g1" x1="-0.1" y1="2.4" x2="29.3" y2="2.4" gradientUnits="userSpaceOnUse">
                            <stop offset="0" stop-color="#F6540E"/>
                            <stop offset="1" stop-color="#F6540E"/>
                        </linearGradient>
                        <linearGradient id="g2" x1="-10" y1="14.6" x2="19.6" y2="14.6" gradientUnits="userSpaceOnUse">
                            <stop offset="0" stop-color="#F6540E"/>
                            <stop offset="1" stop-color="#F6540E"/>
                        </linearGradient>
                    </defs>
                    <style>
                        .s0 { fill: none;stroke: url(#g1);stroke-width: 3 }
                        .s1 { fill: none } 
                        .s2 { fill: none;stroke: url(#g2);stroke-width: 3 } 
                    </style>
                    <g id="Layer">
                        <path id="right-h-pathct_heading-4e282861" fill-rule="evenodd" class="s0" d="m-0.1 8.9h27.1c0 0 5.1-3.1 0-6.5"/>
                        <g id="Layer">
                            <path id="right-h-bgct_heading-4e282861" fill-rule="evenodd" class="s1" d="m-10 14.6h27.4c0 0 5.1 3 0 6.4"/>
                        </g>
                        <path id="right-h-bgct_heading-4e282861" fill-rule="evenodd" class="s2" d="m-10 14.6h27.4c0 0 5.1 3 0 6.4"/>
                    </g>
                </svg></span>OUR SCREEN<span><svg version="1.2" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 33 21" width="33" height="21">
                    <title>image</title>
                    <defs>
                        <linearGradient id="g1" x1="-0.1" y1="2.4" x2="29.3" y2="2.4" gradientUnits="userSpaceOnUse">
                            <stop offset="0" stop-color="#F6540E"/>
                            <stop offset="1" stop-color="#F6540E"/>
                        </linearGradient>
                        <linearGradient id="g2" x1="-10" y1="14.6" x2="19.6" y2="14.6" gradientUnits="userSpaceOnUse">
                            <stop offset="0" stop-color="#F6540E"/>
                            <stop offset="1" stop-color="#F6540E"/>
                        </linearGradient>
                    </defs>
                    <style>
                        .s0 { fill: none;stroke: url(#g1);stroke-width: 3 }
                        .s1 { fill: none } 
                        .s2 { fill: none;stroke: url(#g2);stroke-width: 3 } 
                    </style>
                    <g id="Layer">
                        <path id="right-h-pathct_heading-4e282861" fill-rule="evenodd" class="s0" d="m-0.1 8.9h27.1c0 0 5.1-3.1 0-6.5"/>
                        <g id="Layer">
                            <path id="right-h-bgct_heading-4e282861" fill-rule="evenodd" class="s1" d="m-10 14.6h27.4c0 0 5.1 3 0 6.4"/>
                        </g>
                        <path id="right-h-bgct_heading-4e282861" fill-rule="evenodd" class="s2" d="m-10 14.6h27.4c0 0 5.1 3 0 6.4"/>
                    </g>
                </svg></span></p>

            </div>
        </div>
        <div class="screen-image-wrapper">
            <img class="desktop" src="../../assets/image/Egyptian-Queen/about-work_bihari.png" width="100%" alt="img">
            <img class="mobile" src="../../assets/image/Egyptian-Queen/about-work_bihari.png" width="100%" alt="img">
        </div>
        <div class="screen-image-wrapper-2 w-100 flex-row align-items-center space-between">
            <div class="img-wrap">
                <img src="../../assets/image/Egyptian-Queen/Rectangle61.png" width="100%" alt="img">
            </div>
            <div class="img-wrap">
                <img src="../../assets/image/Egyptian-Queen/Rectangle62.png" width="100%" alt="img">
            </div>
        </div>
    </div>
</section>

<section id="portfolio-slider" class="slider-section margin-90">
    <div class="container">

        <div class="next-prev-btn flex-row">

        </div>
        <div class="slider-wrap">
            <div class="head-text-slider p-relative">
                <h2 class="text-red-head p-absolute">Case study</h2>
            </div>
            <ngx-slick-carousel class="cs-slider" #slickModal="slick-carousel" [config]="slideConfig">
                <div class="pics-slide p-relative grid__items one-third" ngxSlickItem>
                    <div class="card-head-slide" cursor-swipe>
                        <img src="assets/image/Rectangle61.png" width="100%" alt="img">
                    </div>
                </div>
                <div class="pics-slide p-relative grid__items one-third" ngxSlickItem>
                    <div class="card-head-slide" cursor-swipe>
                        <img src="assets/image/Rectangle61.png" width="100%" alt="img">
                    </div>
                </div>
                <div class="pics-slide p-relative grid__items one-third" ngxSlickItem>
                    <div class="card-head-slide" cursor-swipe>
                        <img src="assets/image/Rectangle61.png" width="100%" alt="img">
                    </div>
                </div>
                <div class="pics-slide p-relative grid__items one-third" ngxSlickItem>
                    <div class="card-head-slide" cursor-swipe>
                        <img src="assets/image/Rectangle61.png" width="100%" alt="img">
                    </div>
                </div>
                <div class="pics-slide p-relative grid__items one-third" ngxSlickItem>
                    <div class="card-head-slide" cursor-swipe>
                        <img src="assets/image/Rectangle61.png" width="100%" alt="img">
                    </div>
                </div>
                <div class="pics-slide p-relative grid__items one-third" ngxSlickItem>
                    <div class="card-head-slide" cursor-swipe>
                        <img src="assets/image/Rectangle61.png" width="100%" alt="img">
                    </div>
                </div>
                <div class="pics-slide p-relative grid__items one-third" ngxSlickItem>
                    <div class="card-head-slide" cursor-swipe>
                        <img src="assets/image/Rectangle61.png" width="100%" alt="img">
                    </div>
                </div>




            </ngx-slick-carousel>
        </div>
    </div>
</section>